{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}


<!DOCTYPE html>
<html>
<head>
  {% block head %}
    {% include "restapi_app/header/header.html" %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs/dt-1.10.10/datatables.min.css"/>
  {% endblock %}
</head>

{% block body %}
<body class="{% block bodyclass %}{% endblock %}">

  <div class="wrapper">
    {% block navbar %}
      {% include "restapi_app/header/navbar.html" %}
    {% endblock %}

    <div class="container">
      {% if breadcrumblist %}
        {% block breadcrumbs %}
          <ul class="breadcrumb">
            {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
              {% if forloop.last %}
                <li class="active"><a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a></li>
              {% else %}
                <li><a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endblock %}
      {% endif %}

      {% block content %}
      <!-- Content -->
      <div id="content">
        {% block GAMASOV %}{% endblock %}

        {% if name == 'Sov Instance' %}
          {% include "restapi_app/sov/gama-sov.html" %}
        {% endif%}

        {% if 'GET' in allowed_methods %}
          <form id="get-form" class="pull-right">
            <fieldset>
              {% if api_settings.URL_FORMAT_OVERRIDE %}
                <div class="btn-group format-selection">
                  <a class="btn btn-primary js-tooltip" href="{{ request.get_full_path }}" rel="nofollow" title="Make a GET request on the {{ name }} resource">GET</a>

                  <button class="btn btn-primary dropdown-toggle js-tooltip" data-toggle="dropdown" title="Specify a format for the GET request">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    {% for format in available_formats %}
                      <li>
                        <a class="js-tooltip format-option" href="{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}" rel="nofollow" title="Make a GET request on the {{ name }} resource with the format set to `{{ format }}`">{{ format }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% else %}
                <a class="btn btn-primary js-tooltip" href="{{ request.get_full_path }}" rel="nofollow" title="Make a GET request on the {{ name }} resource">GET</a>
              {% endif %}
            </fieldset>
          </form>
        {% endif %}

        {% if options_form %}
          <form class="button-form" action="{{ request.get_full_path }}" data-method="OPTIONS">
            <button class="btn btn-primary js-tooltip" title="Make an OPTIONS request on the {{ name }} resource">OPTIONS</button>
          </form>
        {% endif %}

        {% if delete_form %}
          <form class="button-form" action="{{ request.get_full_path }}" data-method="DELETE">
            <button class="btn btn-danger js-tooltip" title="Make a DELETE request on the {{ name }} resource">DELETE</button>
          </form>
        {% endif %}

        {% if filter_form %}
            <button style="float: right; margin-right: 10px" data-toggle="modal" data-target="#filtersModal" class="btn btn-default">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                {% trans "Filters" %}
            </button>
        {% endif %}

          <div class="content-main">
            <div class="page-header">
                <h1>{{ name }}</h1>
            </div>
            <div style="float:left">
              {% block description %}
                {{ description }}
              {% endblock %}
            </div>

            {% if paginator %}
              <nav style="float: right">
                {% get_pagination_html paginator %}
              </nav>
            {% endif %}

            <!--POST NEW REQUEST INSTANCE-->
            {% if display_edit_forms %}

              {% if post_form or raw_data_post_form %}
                <div {% if post_form %}class="tabbable"{% endif %}>
                  {% if post_form %}
                    <ul class="nav nav-tabs form-switcher">
                      <li>
                        <a name='html-tab' href="#post-object-form" data-toggle="tab">HTML form</a>
                      </li>
                      <li>
                        <a name='raw-tab' href="#post-generic-content-form" data-toggle="tab">Raw data</a>
                      </li>
                    </ul>
                  {% endif %}

                  <div class="well tab-content">
                    {% if post_form %}
                      <div class="tab-pane" id="post-object-form">
                        {% with form=post_form %}
                          <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                            <fieldset>
                              {% csrf_token %}
                              {{ post_form }}
                              <div class="form-actions">
                                <button class="btn btn-primary" title="Make a POST request on the {{ name }} resource">POST</button>
                              </div>
                            </fieldset>
                          </form>
                        {% endwith %}
                      </div>
                    {% endif %}

                    <div {% if raw_data_post_form %}class="tab-pane"{% endif %} id="post-generic-content-form">
                      {% with form=raw_data_post_form %}
                        <form action="{{ request.get_full_path }}" method="POST" class="form-horizontal">
                          <fieldset>
                            {% include "rest_framework/raw_data_form.html" %}
                            <div class="form-actions">
                              <button class="btn btn-primary" title="Make a POST request on the {{ name }} resource">POST</button>
                            </div>
                          </fieldset>
                        </form>
                      {% endwith %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endif %}


            <div class="response-info" style="clear: both">
            <div class="response-info" style="clear: both">
              <pre class="prettyprint"><span class="meta nocode"><b>HTTP {{ response.status_code }} {{ response.status_text }}</b>{% autoescape off %}
{% for key, val in response_headers.items %}<b>{{ key }}:</b> <span class="lit">{{ val|break_long_headers|urlize_quoted_links }}</span>
{% endfor %}
</span><div class="ace-editor-class" id="JSON-ace-editor" style="height: auto;min-height:200px">{{ content|urlize_quoted_links }}{% endautoescape %}</div>
            </div></pre>
          </div>

          {% if display_edit_forms %}
            <!--UPDATE EXISTING REQUEST INSTANCE-->
            {% if put_form or raw_data_put_form or raw_data_patch_form %}

              {% if content %}
              <div class="data-table-container">
              </div>
              {% endif %}

              <div {% if put_form %}class="tabbable"{% endif %}>
                {% if put_form %}
                  <ul class="nav nav-tabs form-switcher">
                    <li>
                      <a name='html-tab' href="#put-object-form" data-toggle="tab">HTML form</a>
                    </li>
                    <li>
                      <a  name='raw-tab' href="#put-generic-content-form" data-toggle="tab">Raw data</a>
                    </li>
                  </ul>
                {% endif %}

                <div class="well tab-content">
                  {% if put_form %}
                    <div class="tab-pane" id="put-object-form">
                      <form action="{{ request.get_full_path }}" data-method="PUT" enctype="multipart/form-data" class="form-horizontal" novalidate>
                        <fieldset>
                          {{ put_form }}
                          <div class="form-actions">
                            <button class="btn btn-primary js-tooltip" title="Make a PUT request on the {{ name }} resource">UPDATE [PUT]</button>
                          </div>
                        </fieldset>
                      </form>
                    </div>
                  {% endif %}

                  <div {% if put_form %}class="tab-pane"{% endif %} id="put-generic-content-form">
                    {% with form=raw_data_put_or_patch_form %}
                      <form action="{{ request.get_full_path }}" data-method="PUT" class="form-horizontal">
                        <fieldset>
                          {% include "rest_framework/raw_data_form.html" %}
                          <div class="form-actions">
                            {% if raw_data_put_form %}
                              <button class="btn btn-primary js-tooltip" title="Make a PUT request on the {{ name }} resource">UPDATE [PUT]</button>
                            {% endif %}
                            {% if raw_data_patch_form %}
                            <button data-method="PATCH" class="btn btn-primary js-tooltip" title="Make a PATCH request on the {{ name }} resource">PATCH</button>
                              {% endif %}
                          </div>
                        </fieldset>
                      </form>
                    {% endwith %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}

          <div class="request-info" style="clear: both" >
            <strong>Request method</strong>
              <pre class="prettyprint"><b>{{ request.method }}</b> asvo{{request.get_full_path }}</pre>
          </div>

      </div><!-- /.content -->
      {% endblock %}
    </div><!-- /.container -->
  </div><!-- ./wrapper -->

    {% block wrapper %}

    {% endblock %}


  {% block footer %}
    {% include "restapi_app/header/footer.html" %}
  {% endblock %}


  {% block script %}
    <script src="{% static "rest_framework/js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "rest_framework/js/ajax-form.js" %}"></script>
    <script src="{% static "rest_framework/js/csrf.js" %}"></script>
    <script src="{% static "rest_framework/js/bootstrap.min.js" %}"></script>
    <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
    <script src="{% static "rest_framework/js/default.js" %}"></script>

    <script src="{% static "restapi_app/js/ace-min-noconflict/ace.js" %}"></script>

    {% if content %}
    <script type="text/javascript" src="https://cdn.datatables.net/s/bs/dt-1.10.10/datatables.min.js"></script>
      {% autoescape off %}
         <script type="text/javascript"> 
        data = JSON.parse("{{ content|escapejs }}");
        if (typeof data.queryResults !== 'undefined'){
        console.log('trigger');
          $('.data-table-container').html('').append('<div class="well"><div id="returnTableResultsWarning" class="spacer-10"></div><table id="returnTableResults" class="table table-responsive table-condensed"><thead><tr><th>Please wait, DataTable loading... <i class="fa fa-refresh fa-spin"></i></th></tr></thead></table></div>')

          renderLimit = 100;
          queryData = (data.queryResults);
          queryDataRows = queryData.data.length;
          queryDataColumns = queryData.columns.length;

          if (queryDataRows*queryDataColumns >= renderLimit){
            //fire warning
            tableRowLength = parseInt(renderLimit/queryDataColumns);
            console.log(queryData.data.slice(0, tableRowLength).length);
            queryData.data = queryData.data.slice(0, tableRowLength);

            $('#returnTableResultsWarning').append('<p class="bg-info"><p class="bg-info"><strong>Displaying '+tableRowLength+' out of '+queryDataRows+' rows</strong>. Please download the CSV for the full data set.</p>')
          };

          if((typeof queryData !== 'undefined') && queryData.data.length < renderLimit){
            var queryColumns = [];
            var thead = '';
            $('#returnTableResults').find('thead > tr').empty();
            //APPEND COLUMN VALUES TO TABLE HEAD
            $.each(queryData.columns, function(i,k){
              var b = { title: k };

              if (k.indexOf("url_img") > -1){
                  b = {
                  "title":k,
                  "render": function(data, type, row) {
                          return '<img class="img-responsive" style="max-width:70px" src="'+data+'" />';
                      }
                  }
              }
              th = '<th>'+k+'</th>';
              queryColumns.push(b);
              $('#returnTableResults').find('thead > tr').append(th);
            });
            var data = queryData.data;

            if (typeof data == 'undefined'){data=[];}

            var table = $('#returnTableResults').DataTable( {
              data : data,
              columns : queryColumns,
              "orderClasses": false,
              "scrollX": true,
              "deferRender": true,
              "language": {
                   "loadingRecords": "Please wait - loading..."
                }
             });
          };
        };

        </script> 

      {% endautoescape %}
    {% endif %}


    <script>
        $(document).ready(function() {
            $('form').ajaxForm();

            // CODE EDITOR
            $(function () {
              // SQL
              $('textarea[name=SQL]').each(function () {             
                  $('form').find('textarea[name=SQL]').attr('id','textarea-code');
                  $('#textarea-code').parent().append('<div id="SQL-ace-editor" class="ace-editor-class" style="height: auto;min-height:100px"></div>');  
                  var SQLAceEditor = ace.edit("SQL-ace-editor"); 
                  SQLAceEditor.$blockScrolling = Infinity;
                  SQLAceEditor.setTheme("ace/theme/crimson_editor"); 
                  SQLAceEditor.getSession().setMode("ace/mode/sql");  
                  var textarea = $('#textarea-code').css('display', 'none'); 
                  SQLAceEditor.getSession().setValue(textarea.val());  
                  SQLAceEditor.getSession().on('change', function(){
                    textarea.val(SQLAceEditor.getSession().getValue()); 
                    SQLAceEditor.resize(true); 
                  });
              });

              // JSON RESPONSE (OFF)
              $('#JSON-ace-editors').each(function () {             
                  var JSONAceEditor = ace.edit("JSON-ace-editor"); 
                  JSONAceEditor.$blockScrolling = Infinity;
                  JSONAceEditor.setTheme("ace/theme/crimson_editor"); 
                  JSONAceEditor.getSession().setMode("ace/mode/json");  
                  //JSONAceEditor.getSession().foldAll();
              });
            });

        });
    </script>
  {% endblock %}

  {% if filter_form %}
  {{ filter_form }}
  {% endif %}


</body>
{% endblock %}
</html>
