/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ Author: Liz Mannering
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ Colours:
++ HEX: #5aa8d8	 | Blue
++ HEX: #a30000  | Red
++ HEX: #CD1F1E  | AAO Red
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ Fonts:
++ Helvetica Neue (readability)
++ Roboto
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ RESETS
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #ffffff;
  color: #404040;
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body h1 {
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 20px;
}
body h2 {
  font-size: 24px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px !important;
}
body h2 .header-link {
  line-height: 40px;
}
body h2.no-border {
  border: 0;
}
body h3 {
  font-size: 20px;
  line-height: 40px;
}
body h3 .header-link {
  line-height: 40px;
}
body h4 {
  font-size: 18px;
  line-height: 20px;
}
body h5 {
  font-size: 14px;
  line-height: 20px;
}
body h6 {
  font-size: 12px;
  line-height: 20px;
}
body a {
  color: #4078C0;
}
body a.disabled {
  pointer-events: none;
}
body li.disabled {
  cursor: not-allowed;
}
body li.disabled a {
  pointer-events: none;
}
body p,
body .p {
  opacity: 0.87;
  color: #333;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
}
body p {
  margin-bottom: 16px;
}
body p.emphasis,
body .emphasis {
  font-size: 18px;
}
body p.lead {
  margin-bottom: 30px;
}
body p.heading {
  margin-bottom: 5px;
  margin-top: 5px;
}
h2 {
  font-weight: 500;
}
h3,
h4 {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #232829;
  line-height: 1.2;
}
small,
.sub-heading,
a.sub-heading {
  color: #8ca1a6 !important;
}
.label-sub-heading {
  color: #767676;
}
.sub-heading {
  font-size: 14px;
}
ul.paragraph-list li {
  margin: 8px 0;
}
.popover-anchor {
  color: #9CA8AC;
}
strong {
  color: inherit;
}
.remove-style {
  -webkit-appearance: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font: inherit;
  color: inherit;
  background: none;
  border: 0px;
  outline: none;
  resize: none;
}
ul,
p {
  margin-bottom: 0;
}
form {
  margin-bottom: 0;
}
.form-switcher {
  border-bottom: 0;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #e9e9e9;
}
input,
select {
  border-radius: 0 !important;
}
.half-br {
  margin-bottom: 10px;
  width: 100%;
  min-height: 1px;
}
.fa-slim-line {
  -webkit-text-stroke: 1px #ffffff;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #4078C0;
  background-color: #f9f2f4;
  border-radius: 4px;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ SUCCESS FAILURE CLASSES
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.text-normal {
  color: #515151;
}
.text-success {
  color: #4078C0;
}
.text-error {
  color: #a94442;
}
.text-warning {
  color: #f1cb76;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ HTTP STATUS INFO
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.status-helper {
  margin-top: 30px;
  margin-bottom: 30px;
}
.https-status-message {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 15px;
  word-wrap: break-word;
}
.https-status-message h1,
.https-status-message h2,
.https-status-message h3,
.https-status-message h4,
.https-status-message h5,
.https-status-message h6 {
  border: 0;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ HEADER
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
header .navbar,
header .navbar-default {
  border-radius: 0;
  margin-bottom: 0;
}
header .navbar-default {
  background: #fff;
}
header .navbar-default .navbar-nav > li > a {
  color: #404040;
}
header .navbar-fixed-top {
  top: 0;
  position: relative;
  right: 0;
  left: 0;
  z-index: 1000;
}
header ul.navbar-nav > li,
header .navbar-header,
header .navbar-brand {
  min-height: 60px;
}
header ul.navbar-nav > li > a,
header .navbar-header > a,
header .navbar-brand > a {
  padding: 20px;
}
header ul.navbar-nav > li > a {
  text-transform: uppercase;
  color: #404040;
}
header a.navbar-brand {
  padding: 10px !important;
}
header a.navbar-brand a {
  height: 40px;
  padding: 10px;
}
header .navbar-default .navbar-nav > li > a:hover,
header .navbar-default .navbar-nav > .active > a,
header .navbar-default .navbar-nav > .active > a:hover,
header .navbar-default .navbar-nav > .active > a:focus {
  color: #B83C2E;
  background-color: #fff;
  box-shadow: inset 0px 3px #B83C2E;
}
header .download-li {
  background: #f2f2f2;
  max-height: 60px;
  max-width: 60px;
}
header .download-li .download-icon {
  position: relative;
}
header .download-li .download-icon .badge {
  position: absolute;
  right: 5px;
  top: 5px;
}
header li.user,
header user a {
  min-width: 160px;
}
header li.user > a,
header user a > a {
  text-align: center;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ BREADCRUMB
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.breadcrumb-container {
  width: 100%;
  margin-bottom: 30px;
  background-color: #2A2F31;
  background-color: #A5332E;
  background-color: #f2f2f2;
  min-height: 36px;
  margin-top: 0;
}
.breadcrumb {
  margin-bottom: 0;
  background: transparent;
}
.breadcrumb li,
.breadcrumb li a {
  color: #29383d;
  font-weight: 400;
}
.breadcrumb li + li:before {
  color: #1a2326;
  font-weight: 300;
}
.breadcrumb > li + li:before {
  content: "\003e";
  padding: 0 5px;
  color: #ccc;
}
.breadcrumb-container.transparent {
  background-color: transparent;
  border-bottom: 0 solid rgba(0, 0, 0, 0.075);
}
.breadcrumb-container.inverted {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-bottom: 0;
}
.breadcrumb-container.inverted li.active a {
  color: #fff;
}
.breadcrumb-container.inverted li a {
  color: #ddd;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ TITLE
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.page_title_banner {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #C5413E;
  background: -webkit-linear-gradient(#B43C39, #C5413E);
  background: linear-gradient(#B43C39, #C5413E);
  color: #fff;
}
.page_title_banner h1 {
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  margin: 30px 0px;
  border-bottom: 0;
}
.page_title_banner hr {
  margin-top: 0 !important;
}
.useful_links {
  padding: 15px;
}
.useful_links ul li:last-child a {
  padding-right: 0;
}
.useful_links .nav > li > a {
  line-height: 40px;
  text-transform: uppercase;
  color: #333;
  color: #eee;
  font-weight: 300;
}
.useful_links .nav > li > a img {
  max-height: 40px;
  padding: 5px;
  padding-right: 0;
  margin-right: -5px;
}
.useful_links .nav > li > a:hover,
.useful_links .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ PAGINATION
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  cursor: not-allowed;
  pointer-events: none;
}
.nav-pagination {
  background-color: transparent;
  float: right;
}
.pager > .disabled > a,
.pager > .disabled > a:hover,
.pager > .disabled > a:focus {
  pointer-events: none;
}
.pager .next {
  margin-left: 10px;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ FOOTER
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.footer {
  margin-top: 30px;
  background-color: #292F31;
  padding: 45px 15px 15px 15px;
  bottom: 0;
  width: 100%;
  min-height: 300px;
}
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
  border-bottom: 0;
}
.footer hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer a {
  color: #DDD;
}
.footer a:hover,
.footer a:focus,
.footer a:active {
  color: #FFF;
}
.footer img {
  max-height: 50px;
  margin-bottom: 15px;
}
.footer h3 {
  font-size: 16px;
  color: #FFF;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 1.5em 0;
  border-bottom: solid 2px rgba(255, 255, 255, 0.6);
  padding-bottom: 15px;
}
.footer .footer-block {
  margin-bottom: 15px;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ GLOBAL STYLING
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.headline h2 {
  margin-top: 0;
}
.headline .options {
  line-height: 40px;
}
p.breakword {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.readmore {
  overflow: hidden;
  max-height: 87px;
  position: relative;
  padding-bottom: 20px;
  transition: all 0.3s ease-in;
}
.readmore .readmore_link {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fbfbfb;
  width: 100px;
}
.well {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #ffffff;
  border-radius: 0;
}
.well h3 {
  margin-top: 10px;
}
.well form {
  margin-bottom: 0;
}
.fa-text-inner {
  font-size: 35% !important;
  margin-top: 10% !important;
}
.btn,
li {
  border-radius: 0 !important;
}
.btn {
  transition-property: all;
  transition-duration: .3s;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0 none;
}
.btn-primary {
  background-color: #4078C0;
  color: #fff;
  border: 1px solid #4078C0;
}
.btn-primary:hover {
  background-color: #6693cd;
  border-color: #6693cd;
  color: #FFF;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #335f99;
  border-color: #335f99;
}
.btn-default-disabled {
  box-shadow: 0 3px 0 0 #2c83ba;
  text-transform: uppercase;
  border-radius: 3px !important;
}
.btn-error {
  background-color: #a94442;
  color: #fff;
  border: 1px solid #a94442;
}
.btn-error:hover {
  background-color: #d9534f;
  border-color: #d9534f;
  color: #FFF;
}
.button-dropdown-list > li > a {
  display: block;
  padding: 7px;
  line-height: 24px;
  float: none;
  text-decoration: none;
}
.pagination {
  font-size: 12px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0px;
}
#dataTables_paginate {
  float: right;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ HELPER
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.question {
  color: rgba(0, 0, 0, 0.3) !important;
  font-size: 14px;
}
.question i.fa {
  color: #d9534f;
}
.question:hover {
  color: rgba(0, 0, 0, 0.5);
}
.p > .pull-right.question {
  line-height: 16px;
  margin-top: 5px;
}
.helper {
  color: rgba(0, 0, 0, 0.3);
  padding-left: 1em;
  margin: 1em;
}
.helper:before {
  color: #d9534f;
  content: "\f05a";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  font-size: 18px;
  position: absolute;
  top: 1em;
  left: 1em;
}
.helper.step:before {
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  border-radius: 50%;
  position: absolute;
  font-size: 12px;
  line-height: 1.6em;
  width: 1.6em;
  height: 1.6em;
  top: 1.4em;
  margin-right: 1.6em;
  left: 1.25em;
  text-align: center;
  content: "1";
  font-family: Monaco;
  color: #ffffff;
  background-color: #d9534f;
  padding-left: 1px;
  padding-right: -1px;
}
.helper.step.step1:before {
  content: "1";
}
.helper.step.step2:before {
  content: "2";
}
.helper.step.step3:before {
  content: "3";
}
.helper.step.step4:before {
  content: "4";
}
.helper.step.step5:before {
  content: "5";
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ TABS
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #333;
  box-shadow: inset 0px 2px #f1cb76;
}
.nav-tabs > li > a {
  border-radius: 0;
}
.nav-tabs > li > a {
  color: #777;
}
.nav-tabs {
  border-bottom: 1px solid #eee;
}
.nav-tabs-with-well {
  margin: 0 !important;
  border-bottom: 0 !important;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ PANELS
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.panel {
  border-radius: 0 !important;
}
.panel.panel-main-content {
  margin-top: 20px;
  margin-bottom: 20px;
}
.panel.panel-default {
  border: 1px solid #E8E8E8;
}
.panel .panel-heading {
  color: #333;
  font-weight: 400;
}
.panel .panel-heading a {
  color: #333;
}
.panel .panel-heading h3 {
  border: none;
  line-height: 1.2;
}
.panel .panel-icon {
  margin-top: 3px;
}
.panel-default > .panel-heading {
  background-color: #FAFAFA;
}
.fixed-panel {
  min-height: 10%;
  max-height: 400px;
  overflow-y: scroll;
}
.panel,
.panel-heading,
.panel-body {
  border-radius: 0;
}
.panel-background-grey {
  background: url("../../img/background/panel-background.png") repeat-x;
}
.panel-background-team {
  background: url("../../img/background/panel-background-team.png") repeat-x;
}
.panel-background-check {
  background: url("../../img/background/grey.png") repeat-x;
}
.panel-background-1 {
  background: url("../../img/background/panel-background2.png") repeat-x;
}
.panel.warning,
.panel-body.warning {
  border-left: 3px solid #f1cb76;
}
.panel.error,
.panel-body.error {
  border-left: 3px solid #d9534f;
}
.panel.success,
.panel-body.success {
  border-left: 3px solid #4078C0;
}
.panel-footer {
  border-top: solid 1px #ddd;
}
.nested-panel-group {
  margin-bottom: 0;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ MODALS
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.modal,
.modal-content {
  border-radius: 0;
}
.horizontal-checkbox label {
  padding-top: 0;
}
.horizontal-checkbox label {
  padding-top: 0 !important;
}
.horizontal-checkbox input {
  float: left;
  width: 20px;
  margin-top: 3px;
}
.resource-description,
.response-info {
  margin-bottom: 2em;
}
.format-option {
  font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", monospace;
}
.button-form {
  float: right;
  margin-right: 1em;
}
td.nested {
  padding: 0 !important;
}
td.nested > table {
  margin: 0;
}
form select,
form input,
form textarea {
  width: 90%;
  border-radius: 0px !important;
}
.input-sm {
  border-radius: 0px;
}
form select[multiple] {
  height: 150px;
}
/* To allow tooltips to work on disabled elements */
.disabled-tooltip-shield {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.errorlist {
  margin-top: 0.5em;
}
pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  font-size: 12px;
}
.page-header {
  border-bottom: none;
  padding-bottom: 0;
}
#filtersModal form input[type=submit] {
  width: auto;
}
#filtersModal .modal-body h2 {
  margin-top: 0;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ POPOVERS
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.popover {
  border-radius: 0;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ DROPDOWNS
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: inherit;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #e38582;
  background-color: #4078C0;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ TABLES
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 15px;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 7px;
}
.table a h4 {
  margin-top: 0px;
  margin-bottom: 6px;
}
.table tr:hover .fake-ellipsis {
  background: #f5f5f5;
}
.table a {
  text-decoration: none;
}
.table a h4 {
  margin-bottom: 6px;
}
.table .options {
  padding: 6px 15px;
}
.table span.version {
  margin-left: 8px;
}
.table p.version span {
  margin-right: 8px;
}
.table .truncate {
  height: 44px;
  position: relative;
  overflow: hidden;
}
.table .truncate .fake-ellipsis {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ ICONS
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.fa-custom-stack {
  position: relative;
  margin-right: 0.7em;
}
.fa-custom-filetype {
  font-family: Monaco;
  font-size: 0.6em;
  line-height: 1.2em;
  left: 0.2em;
  bottom: 0.0em;
  position: absolute;
  z-index: 20;
  background-color: #fafafa;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ PRETTIFY
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.com {
  color: #93a1a1;
}
.lit {
  color: #195f91;
}
.pun,
.opn,
.clo {
  color: #93a1a1;
}
.fun {
  color: #dc322f;
}
.str,
.atv {
  color: #D14;
}
.kwd,
.prettyprint .tag {
  color: #1e347b;
}
.typ,
.atn,
.dec,
.var {
  color: teal;
}
.pln {
  color: #48484c;
}
.prettyprint {
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px;
  /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}
/* EDITOR */
#ace-editor {
  height: 300px;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ MEDIA QUERIES
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
/*==========  Non-Mobile First Method  ==========*/
.media-query-box {
  height: 50px;
  width: 50px;
  border: solid 1px black;
  position: absolute;
  top: 0;
  left: 0;
}
.breadcrumb-container {
  margin-top: 0px;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .media-query-box {
    border: solid 1px red;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .media-query-box {
    border: solid 1px yellow;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .media-query-box {
    border: solid 1px blue;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .media-query-box {
    border: solid 1px green;
  }
  header .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  header .breadcrumb-container {
    margin-top: 60px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .media-query-box {
    border: solid 1px orange;
  }
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ ANIMATIONS
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
@keyframes blink {
  0% {
    opacity: .2;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
.loading span {
  animation: blink 1.2s infinite;
  animation-fill-mode: both;
}
.loading span:nth-child(2) {
  animation-delay: .2s;
}
.loading span:nth-child(3) {
  animation-delay: .4s;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ CHECKBOXES
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}
