{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}Single Object Viewer{% endblock %}
{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'sov/css/trait/trait.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'sov/css/trait/jquery-ui.structure.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'sov/css/trait/jquery-ui.theme.min.css' %}"/>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
{% endblock %}

{% block page_title %}Single Object Viewer{% endblock %}
{% block useful_links %}
<li role="presentation"><a href="{% url 'documentation:topic-detail' slug='sov' %}">Need Help?</a></li>
{% endblock useful_links %}


{% block sidebar %}
<h5>Page Contents</h5>
<div class="page-contents">

    <ul class="nav nav-pills nav-stacked nav-sidebar">
        <li role="presentation"><a href="#top-of-page" class="scroll">Interactive</a></li>
        <li role="presentation"><a href="#properties" class="scroll">Properties</a></li>
    </ul>
</div><hr>
<h5>Quick Links</h5>
<ul class="nav-sidebar">
    {% if breadcrumblist %}

    {% with breadcrumblist|length|add:"-2" as b %}
    <li><a href="{{breadcrumblist|key:b|key:1}}"> <i class="fa fa-angle-left"></i> Back to
        {{breadcrumblist|key:b|key:0}}</a></li>
    {% endwith %}
    {% endif %}

    <li><a class="" target="_blank"
           href="{% url 'schema_browser:survey-list' survey_pk=survey %}#{{trait_key|key:0}}{% if trait_key|key:1 %}-{{trait_key|key:1}}{% endif %}">{{survey|uppercase}}
        Schema Browser</a></li>
    <li><a class="" href="{% url 'documentation:topic-detail' slug=survey %}">{{survey|uppercase}} Documentation</a></li>
</ul>
{% endblock %}
{% block version_container %}

{% endblock %}
{% block main %}

{% include "sov/layout/title.html" with db_title=astro_object|add:" "|add:trait_pretty_name|add:" "|add:response.data.pretty_name %}

{% if response.data.description %}
<p><em>{{ response.data.description}}</em></p>
{% endif %}

<div class="row">
    <div class="col-xs-12 col-sm-8 documentation_fidia">
        <!--visualization/data-->
        {% include 'sov/interactive/panel.html' %}

    </div>
    <div class="col-xs-12 col-sm-4">
        <!--properties/interactive-->
        {% include 'sov/tables/action.html' %}
    </div>
    <div class="col-xs-12">
        {% include 'sov/trait/properties_table.html' %}
    </div>
</div>

<!--<add-download-button url='{{ request.get_full_path }}' options='' formats='{{formats}}' prettyname='{{response.data.pretty_name}}'></add-download-button>-->

{% endblock %}

{% block footer-extra %}

{% if trait_2D_map == True %}
<script src="{% static 'restapi_app/js/jsonparsemore/json_parseMore.js' %}"></script>
<script type="application/javascript" src="{% static 'restapi_app/js/plotly/plotly.latest.min.js'%}"></script>
<script type="application/javascript" src="{% static 'sov/js/2D_map.js'%}"></script>
<script type="application/javascript" src="{% static 'sov/js/trait_plotting.js'%}"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var trait_url = "{{request.build_absolute_uri}}value/?format=json";
        var trait_name = "{{response.data.pretty_name}}";
        var map_selector = "{{trait_type}}_plotly_plot";
        var options_selector = "{{trait_type}}_plotly_plot_options";

        trait_plot(trait_url, trait_name, map_selector, options_selector);

    });
</script>
{% else %}
<script>
    $('#visualization_status').html('Visualization for {{response.data.pretty_name}} is in development.')
    $('#interactive').html("<div class='well'><p>Interactivity in development</p></div>");
</script>
{% endif %}

{% endblock %}
