.sami {
    background-color: #fff;
    max-width: 115px;
    position: relative;
    top: 8px;
    border-left: solid 15px #fff;
}

.gama {
    background-color: #fff;
    max-width: 80px;
    position: relative;
    top: 0px;
    border-left: solid 15px #fff;
}

.raw-data {
    max-height: 300px;
    overflow: scroll
}

.ellipsis {
    text-overflow: ellipsis;
}

.overflow {
    width: 20em;
    /**
     * Required properties to achieve text-overflow
     */
    white-space: nowrap;
    overflow: hidden;
}