.container{position:relative}
.survey{
    width:100%;
    height:auto;
    border:solid 1px #ddd;
    z-index: 2;

}

.survey.SAMI{
    background:rgba(255, 255, 255,1) url('../../img/logo/logo-sami.png') center no-repeat;
    background-size:80% auto;

}
.survey.GAMA{
    background:rgba(0, 0, 0, 0.20) url('../../img/logo/logo-gama-dark.png') center no-repeat;
    background-size:80% auto;
}

