{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}

<div class="row">
    <div class="col-xs-12">
        {% include "data_browser/layout/title.html" with db_title=value.pretty_name %}
    </div>
</div>
{% if value.description %}<p><em>{{value.description}}</em></p>{% endif %}


{% if value.html_documentation %}
<!-- Documentation -->
<h3 id="documentation">Documentation</h3>
<div class="documentation_fidia">
    {{value.html_documentation|safe}}
</div>
{% endif %}
<!-- Properties-->
<h3 id="properties">Properties</h3>

<div class="row">
    <div class="col-xs-12">
        {% if value.trait_property %}
            {% include 'schema_browser/tables/trait_property.html' %}
        {% else %}
            {% include 'schema_browser/tables/properties_table.html' %}
        {% endif %}
    </div>
</div>
<!-- Formats -->
<h3 id="formats">
     Downloadable Formats
</h3>
<!-- If this trait_type_key is in schema_non_catalog it is likely a fits product and not a catalog property -->
<div>
    {% for format_key in value.export_formats %}
        <span class="fa-custom-stack">
          <i class="fa fa-file-o"></i>
            <span class="fa-custom-filetype">{{format_key}}</span>
        </span><i class="fa fa-check sub-heading"></i>&nbsp;&nbsp;
    {% endfor %}
    <span class="fa-custom-stack">
      <i class="fa fa-file-o"></i>
        <span class="fa-custom-filetype">json</span>
    </span><i class="fa fa-check sub-heading"></i>&nbsp;&nbsp;
</div>