{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %} Schema Browser {% endblock %}
{% block head-extra %}
    <link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/documentation-fidia/documentation-fidia.min.css' %}"/>
{% endblock %}

{% block page_title %}Schema Browser{% endblock %}

{% block bodyclass %}schema-browser{% endblock %}

{% block page_title_banner_class %}blue{% endblock %}
{% block useful_links %}
<li role="presentation"><a href="{% url 'documentation:topic-detail' slug='schema-browser' %}">Need Help?</a></li>
{% endblock useful_links %}


{% block sidebar %}
<div class="page-contents">
    <h5>Page Contents</h5>
    <ul class="nav nav-pills nav-stacked nav-sidebar">
        <li role="presentation" class="active"><a href="#top-of-page" >Overview</a></li>
        <li role="presentation"><a href="#documentation" class="scroll">Documentation</a></li>
        <li role="presentation"><a href="#properties" class="scroll">Properties</a></li>
        <li role="presentation"><a href="#formats" class="scroll">Downloadable Formats</a></li>
        <li role="presentation"><a href="#branches" class="scroll">All Available Branches and Previous Versions</a></li>
    </ul>
    <h5>Quick Links</h5>
    <ul class="nav-sidebar">

         {% if breadcrumblist %}
        {% with breadcrumblist|length|add:"-2" as b %}
        <li><a href="{{breadcrumblist|key:b|key:1}}"> <i class="fa fa-angle-left"></i> Back to
            {{breadcrumblist|key:b|key:0}}</a></li>
        {% endwith %}
        {% endif %}

    </ul>
</div>
{% endblock %}

{% block version_container %}
<div class="content-switcher">
    <div class="btn-group navigation_btn_group" role="group">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {% for branch_key, branch_value in full_trait_schema.branches.items %}
                {% if branch_key == branch %}
                <i class="fa fa-code-fork"></i>
                <strong>{{branch_value.pretty_name}}</strong> <i class="fa fa-caret-down"></i>
                {% endif %}
                {% endfor %}
            </button>
            <ul class="dropdown-menu">
                {% for branch_key, branch_value in full_trait_schema.branches.items %}
                    {% if branch_key == branch %}
                        <li class="disabled">
                            <a href="{% url 'schema_browser:trait-list' survey_pk=survey trait_pk=trait_name|add:':'|add:branch_key %}"><i class="fa fa-angle-right"></i>
                                <strong>{{branch_value.pretty_name}}:</strong>
                                <em class="">{{branch_value.description}}</em>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'schema_browser:trait-list' survey_pk=survey trait_pk=trait_name|add:':'|add:branch_key %}"><strong>{{branch_value.pretty_name}}:</strong>
                                <em class="">{{branch_value.description}}</em>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {% for branch_key, branch_value in full_trait_schema.branches.items %}
                {% if branch_key == branch %}
                {% for version_k in branch_value.versions %}
                {% if version_k == version %}
                <i class="fa fa-map-pin"></i> <strong>{{version_k}} </strong><i class="fa fa-caret-down"></i>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
            </button>
            <ul class="dropdown-menu">
                {% for branch_key, branch_value in full_trait_schema.branches.items %}
                {% if branch_key == branch %}
                {% for version_k in branch_value.versions %}
                {% if version_k == version %}
                <li class="disabled">
                    <a href="{% url 'schema_browser:trait-list' survey_pk=survey trait_pk=trait_name|add:':'|add:branch_key|add:'('|add:version_k|add:')' %}">
                        <i class="fa fa-angle-right"></i> <strong>{{version_k}}</strong>
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'schema_browser:trait-list' survey_pk=survey trait_pk=trait_name|add:':'|add:branch_key|add:'('|add:version_k|add:')' %}">
                        <strong>{{version_k}}</strong>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}

                {% for branch_name, branch_url in value.branches.items %}
                <li><a href="{{branch_url}}">{{branch_name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block main %}
<div class="schema-contents">
    <div class="row">
        <div class="col-xs-12">
            {% include "sov/layout/title.html" with db_title=trait_pretty_name %}
        </div>
    </div>
    <div class="panel panel-default success">
        <div class="panel-body">
            <div class="p">
                You are currently viewing the {{trait_pretty_name}} schema for
        branch <strong class="text-danger"><em>
            {% for branch_key, branch_value in full_trait_schema.branches.items %}
                {% if branch_key == branch %}
                    {{branch_value.pretty_name}}
                {% endif %}
            {% endfor %}
        </em></strong>, version  <strong class="text-danger">
            <em>
                {% for branch_key, branch_value in full_trait_schema.branches.items %}
                    {% if branch_key == branch %}
                        {% for version_key, version_value in branch_value.versions.items %}
                            {% if version_key == version %}
                                {{version_value.pretty_name}}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </em></strong>.

                {% if full_trait_schema.default_branch == branch %}
                    The
                    {% for branch_key, branch_value in full_trait_schema.branches.items %}
                        {% if branch_key == branch %}
                            {{branch_value.pretty_name}}
                        {% endif %}
                    {% endfor %}
                    branch is the default branch for {{trait_pretty_name}}.
                {% endif %}
            </div>
        </div>
    </div>
    <br>

    {% with response.data.trait as value %}

        <!--<p><em>{% if value.description %}{{value.description}}{% endif %}</em></p>-->



        <!-- Documentation -->
        <h3 id="documentation">Documentation</h3>
        <div class="documentation_fidia">
            {{value.html_documentation|safe}}
        </div>

        <!-- Properties-->
        <h3 id="properties">Properties</h3>

        <div class="row">
            <div class="col-xs-12">
                {% include 'schema_browser/tables/properties_table.html' %}
            </div>
        </div>

        <!-- Formats -->
        <h3 id="formats">
             Downloadable Formats
        </h3>
        <!-- If this trait_type_key is in schema_non_catalog it is likely a fits product and not a catalog property -->
        <div>
            {% for format_key in value.export_formats %}
                <span class="fa-custom-stack">
                  <i class="fa fa-file-o"></i>
                    <span class="fa-custom-filetype">{{format_key}}</span>
                </span><i class="fa fa-check sub-heading"></i>&nbsp;&nbsp;
            {% endfor %}
            <span class="fa-custom-stack">
              <i class="fa fa-file-o"></i>
                <span class="fa-custom-filetype">json</span>
            </span><i class="fa fa-check sub-heading"></i>&nbsp;&nbsp;
        </div>
        <p>

        <!-- Branches -->
        <h3 id="branches">
             All Available Branches and Previous Versions
        </h3>

        <p>There are {{full_trait_schema.branches|length}} available branch(es) for {{trait_pretty_name}} data products.
            In this section, you may find descriptions of each branch and version for reference.
            To switch branches, use the
            branch selector in the top right corner of this page.
        </p>
        <div class="table-responsive">
            <table class="table table-bordered table-condensed">

                <thead>
                <tr class="active">
                    <th class="col-xs-3">Branch</th>
                    <th class="col-xs-5">Description</th>
                    <th class="col-xs-2">Handle</th>
                    <th class="col-xs-2">Versions</th>
                </tr>
                </thead>
                <tbody>
                {% for branch_key, branch_value in full_trait_schema.branches.items %}
                        <tr>
                            <td>
                                {{branch_value.pretty_name}}
                                {% if full_trait_schema.default_branch == branch_key %}
                                <small>DEFAULT</small>
                                {% endif %}
                            </td>
                            <td>{{branch_value.description}}</td>
                            <td>{{branch_key}}</td>
                            <td>
                                {% for version_key, version_value in branch_value.versions.items %}
                                    <i class="fa fa-map-pin"></i> {{version_value.pretty_name}} {% if not forloop.last%},{% endif %}
                                {% endfor %}

                            </td>
                        </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>

    {% endwith %}

</div>
{% endblock %}
