{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %}Data Browser{% endblock %}
{% block head-extra %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/data-tables/data-tables.css' %}"/>-->
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/js/DataTables/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/sample/sample.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/trait/trait.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/selectize/selectize.css' %}"/>

<script type="text/javascript" src="{% static 'query/js/available-products/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'query/js/available-products/services.js' %}"></script>
<script type="text/javascript" src="{% static 'query/js/available-products/components.js' %}"></script>
{% endblock %}

{% block page_title %}Data Browser{% endblock %}
{% block useful_links %}
{% captureas survey %}{{response.data.sample}}{% endcaptureas %}
<li role="presentation"><a href="{% url 'schema:sample-list' sample_pk=survey %}">Schema Browser</a></li>
<li role="presentation"><a href="{% url 'documentation:topic-detail' slug=survey %}">Documentation</a></li>
{% endblock useful_links %}

{% block page_title_banner %}
{% captureas survey %}{{response.data.sample}}{% endcaptureas %}
<div class="title_info red">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Data Browser for {{survey|uppercase}} Data Release {{response.data.data_release}}
                    <small class="right-helper">
                        <!--<span class="sub-heading"><i class="fa fa-map-marker"></i> DR 1.0</span>&nbsp;&nbsp;-->
                        <div class="btn-group" role="group" style="margin-top:-15px;">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                    <span class="sub-heading">
                        <i class="fa fa-map-marker"></i> Data Release
                    </span>
                                <strong>{{response.data.data_release}}</strong>
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="disabled"><a href="">Data Release {{response.data.data_release}} &nbsp;
                                    <small class="sub-heading text-uppercase">Current</small>
                                </a></li>
                            </ul>
                        </div>
                    </small>
                </h1>
                <p>
                    The Data Browser provides a quick-look at survey-derived
                    data products and associated meta-data on an
                    object-by-object basis, and allows users to download individual data products in FITS file
                    format.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock page_title_banner %}

{% block content_render %}
{% captureas survey %}{{response.data.sample}}{% endcaptureas %}
<div class="row">
    <div class="col-xs-12 col-sm-3 sidebar" role="navigation">
        <div class="sidebar-contents" data-spy="affix">
            <div class="page-contents">
                <h5>Page Contents</h5>
                <ul class="nav nav-pills nav-stacked  nav-sidebar">
                    <li role="presentation"><a class="scroll" href="#top-of-page">Data Release
                        {{response.data.data_release}}
                        Overview</a></li>
                    <li role="presentation"><a class="scroll" href="#data-access">Data Access</a></li>
                    <li role="presentation"><a class="scroll" href="#help">Help</a></li>

                </ul>
            </div>
            <div class="quick-links">
                <h5>Quick Links</h5>
                <ul class="nav-sidebar">
                    <li>
                       <a class="" target="_blank" href="{% url 'schema:sample-list' sample_pk=survey %}"> Schema
                    Browser</a>
                    </li>
                    <li>
                        {% with survey|add:"-data-products" as data_product_descriptions %}
                        <a href="{% url data_product_descriptions %}"><span>
                        Data Product Descriptions</span></a>
                        {% endwith %}

                    </li>
                    <li>
                        {% if breadcrumblist %}
                        {% with breadcrumblist|length|add:"-2" as b %}
                        <a href="{{breadcrumblist|key:b|key:1}}"> <i class="fa fa-angle-left"></i> Back to
                            {{breadcrumblist|key:b|key:0}}</a>
                        {% endwith %}
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-9 main-content">


        <div class="col-sm-2 col-xs-4 pull-right">
            <img class="img-responsive sami-logo" src="/static/restapi_app/img/logo/logo-{{survey}}.png">
        </div>
        <h2 id="overview">Data Release {{response.data.data_release}} Overview</h2>
        <div class="panel panel-default" style="margin-top:20px;">
            <div class="panel-heading">
                {{survey|uppercase}} Data Release {{response.data.data_release}}
            </div>
            <div class="table-responsive">
                <table class="table table-overview">
                    <tbody>
                    <tr class="large">
                        <td class="lead">{% with "data_browser/survey/survey/"|add:survey|add:"/pi.html" as template %}
                            {% include template %}
                            {% endwith %}
                        </td>
                        <td class="lead">{{response.data.data_release}}</td>
                        <td class="lead">{{response.data.astro_objects | length}}</td>
                        <td class="lead"><a href="{% url 'schema:sample-list' sample_pk=survey %}">Schema</a></td>
                    </tr>
                    <tr class="large">
                        <td>PI</td>
                        <td>Data Release Number</td>
                        <td>Number of Objects</td>
                        <td>Schema Browser</td>
                    </tr>
                    <tr class="medium">

                        <td>
                            <small>Principal Investigator for the {{survey|uppercase}} survey.</small>
                        </td>
                        <td>
                            <small>This data release</small>
                        </td>
                        <td>
                            <small>The total number of objects in this data release.</small>
                        </td>
                        <td>
                            <small>The Schema Browser describes the SAMI survey data products.</small>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h3 id="data-access">Data Access</h3>

        <p>It is recommended that you also use the SAMI Data Browser in conjunction with the
            <a href="{% url 'schema:sample-list' sample_pk=survey %}">Schema Browser</a>, which contains comprehensive
            descriptions of the data products available.</p>
        <p>For help using the Data Browser,
            <a href="{% url 'documentation:topic-detail' slug='data-browser' %}">view the documentation.</a></p>

        <img class="img-responsive" src="{% static 'data_browser/img/sami/sami_dr1poster_plot_only.jpg' %}">
        <span class="sub-heading"><em>Figure: The star formation rate-stellar mass relation for SAMI galaxies.
            Each individual galaxy displays the NII/Halpha line ratio map.</em></span>

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#single" aria-controls="single" role="tab" data-toggle="tab">Single Object</a>
            </li>
            <li role="presentation"><a href="#multiple" aria-controls="multiple" role="tab" data-toggle="tab" id="multiple_object">Multiple Object</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="single">
                <p>Use the dropdown below to choose an individual object based on {{survey|uppercase}} ID. Click
                    <strong>Go</strong> to view the
                    object's properties and available data, and download individual data products.</p>
                <div class="row">
                    <div class="col-sm-offset-4 col-sm-4 col-xs-12"><br><br>
                        <select type="text" class="searchbox selectized text-center"
                                id="autocomplete-widget" placeholder="SEARCH">
                            <option value="" disabled selected>Select an object</option>
                            {% for key, value in response.data.astro_objects.items %}
                            <option value="{{value}}">{{key}}</option>
                            {% endfor %}
                        </select>
                        <a class="btn btn-block btn-primary" type="button" href="" disabled
                           id="autocomplete-button">GO</a>
                        <br><br>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="multiple">
                <p> All objects in the {{survey|uppercase}} data release are shown below. Search and
                    filter rows based on a particular column, and export the resultant table in a variety of formats. </p>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="data-table-container" id="data-table-container"><p><i class="fa fa-refresh fa-spin"></i> Fetching Data...</p></div>
                    </div>
                </div>

                <div id="filter_panel">
                    <div class="row">
                        <div id="datatables_select" class="col-xs-3"><span class="sub-heading">Select filtered objects</span> <a role="button" class="sub-heading" data-container="body" data-toggle="popover" data-trigger="hover click" data-placement="top" data-content="Click row(s) to select objects. Alternatively, use the button below to select or unselect all rows, or, if a filtering is applied, select filtered rows."><i class="fa fa-info-circle"></i></a></div>
                        <div class="col-xs-9">
                            <div class="row">
                                <div id="datatables_filter" class="col-xs-12 col-sm-8"><span class="sub-heading">Search a column between values</span> <a role="button" class="sub-heading" data-container="body" data-toggle="popover" data-trigger="hover click" data-placement="top" data-content="Show only rows that contain data in a particular column between two values."><i class="fa fa-info-circle"></i></a></div>
                                <div id="datatables_search" class="col-xs-12 col-sm-4"><span class="sub-heading">Search all rows</span> <a role="button" class="sub-heading" data-container="body" data-toggle="popover" data-trigger="hover click" data-placement="top" data-content="Show rows from any column that contain the search value."><i class="fa fa-info-circle"></i></a></div>
                                <!--<div id="datatables_filter_button" class="col-xs-12 col-sm-2"><span class="sub-heading">Select all returned results from search</span> </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <span id="remove_filters"></span>
                        </div>
                    </div>
                </div>


                <h4 style="font-size:20px" id="data_products">Download Data Products</h4>
                <p>Download data products for the {{survey|uppercase}} survey objects selected above. To access data via a command line interface, read the documentation on <a href="{% url 'documentation:article-detail' slug='data-access-bulk-data-downloads' %}">bulk data download</a>.</p>
                <p>Follow the steps to choose available data products for the sample selected in the <strong>Multiple Objects</strong> table.</p>
                <div class="panel panel-default success ">
                    <div class="panel-body">
                        <div class="sub-heading"><i class="fa fa-info-circle"></i> In order to download data products you must first use the table above to create a sample of {{survey|uppercase}} objects. Click a table row to select an object.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <available-products schemaurls="{'SAMI':'{% url 'schema:sample-list' sample_pk='sami' %}'}" single=True></available-products>
                        <!--{% include 'data_browser/survey/available_objects_single_survey.html' %}-->
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <button class="btn btn-default" id="download_button" data-products data-objects><i class="fa fa-download"></i> Download</button>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12">
                        {% if post_form %}
                        <div class="" id="post-object-form">
                            {% with form=post_form %}
                            <form action="{{ request.get_full_path }}" style="visibility: hidden" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                                <fieldset>
                                    {% csrf_token %}
                                    <!--<input name="download" class="form-control" type="text">-->
                                    {{ post_form }}
                                </fieldset>
                            </form>
                            {% endwith %}
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>


        <h3 id="help">Help</h3>
        <p>The <a href="{% url survey %}">{{survey|uppercase}} page</a> provides a low-level description of Data Release
            {{response.data.data_release}}, plus an overview of the {{survey|uppercase}} survey.</p>
        <p>For detailed descriptions of a particular data product, visit the <a
                href="{% url 'sami-data-products' %}"><span>{{response.data.survey|uppercase}}
            Data Product Descriptions</span></a> page, or for in depth information/meta-data pertaining to a particular
            data product, view the
            <a href="{% url 'schema:sample-list' sample_pk=survey %}">{{response.data.survey|uppercase}}
                Schema Browser</a>.
        </p>
        <p>To learn more about the Data Browser, view the <a
                href="{% url 'documentation:topic-detail' slug='data-browser' %}">Documentation</a>.</p>

    </div>

</div>

{% comment %}
------ TURN ON DATATABLES ------
{% endcomment %}
<!--<script src="{% static 'restapi_app/js/data-tables/dataTables.js' %}"></script>-->
<script src="{% static 'data_browser/js/DataTables/datatables.min.js' %}"></script>

{% autoescape off %}
 <script type="text/javascript">

    var SAMPLE_URL = "{% url 'data_browser:survey-list' sample_pk=survey %}";

    data = JSON.parse("{{ content|escapejs }}");

    if (typeof data.catalog !== 'undefined'){
        $('#data-table-container').html(' ')
                .append('<div class=""><table id="returnTableResults" class="table table-responsive table-condensed">' +
                        '<thead><tr><th>Please wait, loading... <i class="fa fa-refresh fa-spin"></i></th></tr></thead></table></div>')

        render_limit = 10000;
        catalog = (data.catalog);

        catalog_data_row_length = catalog.data.length;
        catalog_data_col_length = catalog.column_names.length;


        if((typeof catalog !== 'undefined') && catalog.data.length < render_limit){
            var columns = [];
            var thead = '';


            $('#returnTableResults').find('thead > tr').empty();
            $('#returnTableResults').addClass("table-bordered cell-border");

            //APPEND COLUMN VALUES TO TABLE HEAD
            $.each(catalog.column_names, function(i,k){
                var b = { title: k };

//                if (k.indexOf("url_img") > -1){
//                    b = {
//                        "title":k,
//                        "render": function(data, type, row) {
//                            return '<img class="img-responsive" style="max-width:70px" src="'+data+'" />';
//                        }
//                    }
//                }

//                if (k.indexOf("ID") > -1){
//                    b = {
//                        "title":k,
//                        "render": function(data, type, row) {
//                            var temp_string = '<a href="'+SAMPLE_URL+data+'">'+data+'</a>';
//                            return temp_string;
//                        }
//                    }
//                }

                th = '<th>'+k+'</th>';
                columns.push(b);

                $('#returnTableResults').find('thead > tr').append(th);
            });

            var table = $('#returnTableResults').DataTable( {
                data : catalog.data,
                columns : columns,
                orderClasses: false,
                colReorder: false,
                scrollX: true,
                deferRender: true,
                fixedHeader: true,
                language: {
                    "loadingRecords": "Please wait - loading..."
                },
                select: {
                    style: 'multi'
                }

            });


            $('#returnTableResults_filter input').unwrap().wrap("<div class='input-group' role='search'></div>")
                    .addClass('form-control')
                    .attr('placeholder', 'SEARCH...')
                    .after('<span class="input-group-btn"> <button class="btn btn-default btn-sm" type="button">' +
                            '<i class="fa fa-search fa-fw"></i></button> </span>');
            document.getElementById('returnTableResults_filter').firstChild.data = "";


            $("#filter_panel")
                    .prependTo("#returnTableResults_wrapper");


            $('#returnTableResults_wrapper').append('<div id="" class="row"><div class="col-xs-12 col-sm-12" id="datatables_export"></div></div>');


            // FILTER
            $('#datatables_filter').append(
                    '<form class=""><div class="row">' +
                    '<div class="col-xs-4 "><div class="form-group"> <label class="sr-only" for="min">Minimum</label> <input type="text" class="form-control minimum" id="min" placeholder="MINIMUM" disabled> </div></div>' +
                    '<div class="col-xs-4 no-padding"><div class="form-group"> <label class="sr-only" for="column">Column</label> <select type="text" class="form-control" id="column"><option value="" selected disabled>SELECT COLUMN</option></select></div></div> ' +
                    '<div class="col-xs-4 "><div class="form-group"> <label class="sr-only" for="max">Maximum</label> <input type="text" class="form-control" id="max" placeholder="MAXIMUM" disabled></div></div>' +
                    '</div> </form>');


            $("#returnTableResults_filter")
                    .appendTo("#datatables_search");

            // PAGINATION
            $("#returnTableResults_info").parent('.col-sm-5').parent('.row').prepend('<div id="datatables_pagination" class="col-sm-12" style="padding-top:10px"></div>');

            $("#returnTableResults_length")
                    .appendTo("#datatables_pagination");

            //  EXPORT
            $('#datatables_export').append(
                    '<div id="dataTableButtons_export"></div>'

            );

            // SELECT
            $('#datatables_select').append(
                    '<div id="dataTableButtons_select" class=""></div>'
            )

            $('#returnTableResults_wrapper').removeClass('form-inline');
            $('#returnTableResults_filter > div > input').removeClass('input-sm');
            $('#returnTableResults_filter > div > span > button').removeClass('btn-sm');

            // Append column options to the range select
            for (var k=0;k<columns.length;k++){
                // if you can parse as float, then append

                var _column_append = true;

                for (var z=0;z<catalog.data.length;z++){
                    if (!!parseFloat(catalog.data[z][k])){
                    } else {_column_append = false;}
                }

                if (_column_append == true){
                    $('select#column').append('<option value="'+columns[k].title+'">'+columns[k].title+'</option>');
                }

            }


            // Range initialization code
            /* Custom filtering function which will search data in column four between two values */
            // this needs to be re-initialized on each selection of the column


            $('#column').on('change', function (e) {
                // redraw table without any filtering
                $.fn.dataTable.ext.search = [];
                table.draw();

                var selected_column = $(e.currentTarget).val();

                console.log('selected '+selected_column);

                // find column index
                for (var k=0;k<columns.length;k++){
                    if (columns[k].title == selected_column){column_index = k;}
                }
                $('#min, #max').val('').addClass('form-control').attr("disabled",false);

                console.log('column index in data '+column_index);

                data = catalog.data;

                $.fn.dataTable.ext.search.push(
                    function (settings, data, dataIndex) {

                        var min = parseFloat($('#min').val());
                        var max = parseFloat($('#max').val());

                        // TODO find type of data if string...
                        var field = parseFloat(data[column_index]) || 0; // use data for the selected column

                        if (( isNaN(min) && isNaN(max) ) ||
                                ( isNaN(min) && field <= max ) ||
                                ( min <= field && isNaN(max) ) ||
                                ( min <= field && field <= max )) {
                            return true;
                        }
                        return false;
                    }
                );

            });


            $(document).ready(function() {
                // Event listener to the two range filtering inputs to redraw on input
                $('#min, #max').keyup( function() {
                    table.draw();
                    // console.log(get_filtered_ids());

                    update_button();
                } );
                // update select button with initial number of rows
                update_button();

                $('#returnTableResults_filter input').keyup(function(){
                    update_button();
                });

                $('#returnTableResults').click(function(){
                    update_button();
                })

                $('a#multiple_object[data-toggle="tab"]').one('shown.bs.tab', function (e) {
                    // moved single and multiple objects into tabs, fire this once (.one) when the shown.bs.tab event
                    // is triggered, to force datatables to redraw the table once the tab is visible (else the column headers
                    // have incorrect widths calculated
                    table.draw();
                })

            } );

            // Get the IDs of selected items
            $('#returnTableResults').click(function(){
                get_ids()
            });

            get_ids = function(){
                /*
                    Returns the list of ids (where id == arr element 0) that are currently selected
                 */
                var ids = $.map(table.rows({selected: true }).data(), function (item) {
                    return item[0]
                });

                $('#data-table-selected .panel-body').html('');
                for (var i=0; i<ids.length;i++){
                    $('#data-table-selected .panel-body').append('<a href="'+SAMPLE_URL+ids[i]+'">'+ids[i]+'</a><br>')
                }
                $('#download_button').attr('data-objects', ids);

                return ids
            };

            get_filtered_ids = function(){
                /*
                    Returns the list of ids where a search has been applied
                 */
                var ids = $.map(table.rows({search: 'applied' }).data(), function (item) {
                    return item[0]
                });
                return ids
            };

            update_button = function(){
                var selected = $.map(table.rows({selected: true }).data(), function (item) {
                    return item[0]
                });
                var filtered = $.map(table.rows({search: 'applied' }).data(), function (item) {
                    return item[0]
                });
                if (selected.length>0){
                    _text = '<i class="fa fa-check-square-o" aria-hidden="true"></i> Unselect '+selected.length+' objects';
                } else {
                    _text = '<i class="fa fa-square-o" aria-hidden="true"></i> Select '+filtered.length+' objects';
                }

                $('#select_button_text').html(_text);
            };


            // obtain a jQuery object that holds the container element of the button set. Then can insert the element as per styling
            new $.fn.dataTable.Buttons(table, {

                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-copy"></i> Copy to clipboard',
                        exportOptions: {
                            modifier: {
                                selected: true
                            }
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel-o"></i> Excel',
                        exportOptions: {
                            modifier: {
                                selected: true
                            }
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        exportOptions: {
                            modifier: {
                                selected: true
                            }
                        }
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Print',
                        exportOptions: {
                            modifier: {
                                selected: true
                            }
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fa fa-file-pdf-o"></i> PDF',

                        exportOptions: {
                            modifier: {
                                selected: true
                            }
                        }
                    },

                ]

            });
            table.buttons(0,null).container()
                    .appendTo($('#dataTableButtons_export', table.table().container()));

            new $.fn.dataTable.Buttons(table, {
                buttons: [
                    {
                        text: ' <span id="select_button_text"><i class="fa fa-square-o" aria-hidden="true"></i> Select 0 objects</span> ',
                        action: function () {
                            // if already some selected - deselect:
                            var selected = $.map(table.rows({selected: true}).data(), function (item) {
                                return item[0]
                            });
                            if (selected.length > 0) {
                                table.rows().deselect();
                                var ids = $.map(table.rows({search: 'applied'}).data(), function (item) {
                                    return item[0]
                                });

                            } else {
                                // select the filtered options
                                var ids = $.map(table.rows({search: 'applied'}).data(), function (item) {
                                    return item[0]
                                });
                                table.rows({search: 'applied'}).select();
                            }
                            update_button();

                            get_ids();
                        }
                    }
                ]
            });
            table.buttons(1,null).container()
                    .appendTo($('#dataTableButtons_select', table.table().container()));

            new $.fn.dataTable.Buttons(table, {
                buttons: [
                    {
                        text: '<small>remove all filters</small>',
                        action: function () {
                            $('#max').val('');
                            $('#min').val('');
                            $('#returnTableResults_filter input').val('');
//                            table.rows().deselect();
                            table.search("").draw()
                            update_button();
                        }
                    }
                ]
            });
            table.buttons(2,null).container()
                    .appendTo($('#remove_filters', table.table().container()));
            $('#remove_filters .btn.btn-default').removeClass('btn btn-default')


        };
    };
{% endautoescape %}

    // add an id to the download form
    $('#post-object-form form').find('input[name=download]').attr('id','textarea-download');

    $('#download_button').click(function () {

        var data_download = {
            'products': $(event.target).attr("data-products"),
            'objects': $(event.target).attr("data-objects")
        };

        // SEND SQL TO FORM TEXT AREA
        $(this).attr('disabled', 'disabled');
        $(this).html('SUBMITTING... <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>');

        // Use browsers parser to strip html tags etc.
        // jQuery .text()
//        var valid_sql = $('#output-SQL').text();
        console.log(data_download)
        $('#textarea-download').val(JSON.stringify(data_download));

        setTimeout(function () {
            $('#post-object-form form').submit();
        }, 1000);
    });


</script>
{% endblock %}
{% block footer-extra %}
<script src="{% static 'restapi_app/js/selectize/selectize.js' %}"></script>
<script>
    $(document).ready(function () {
        $selector = $("#autocomplete-widget").selectize({
            closeAfterSelect: true,
            selectOnTab: true,
            placeholder: "SEARCH...",
            create: false,
            maxItems: 1,
            onChange: function (value) {
                $('#autocomplete-button').attr('href', value).attr('disabled', false)
            }
        });
    });


</script>
{% endblock %}



