{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %}Data Browser{% endblock %}
{% block head-extra %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/data-tables/data-tables.css' %}"/>-->
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/js/DataTables/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/sample/sample.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/trait/trait.min.css' %}"/>

<script type="text/javascript" src="{% static 'query/js/available-products/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'query/js/available-products/services.js' %}"></script>
<script type="text/javascript" src="{% static 'query/js/available-products/components.js' %}"></script>
{% endblock %}

{% block page_title %}Data Browser{% endblock %}
{% block useful_links %}
{% captureas survey %}{{response.data.sample}}{% endcaptureas %}
<li role="presentation"><a href="{% url 'schema:sample-list' sample_pk=survey %}">Schema Browser</a></li>
<li role="presentation"><a href="{% url 'documentation:topic-detail' slug=survey %}">Documentation</a></li>
{% endblock useful_links %}

{% block page_title_banner %}
{% captureas survey %}{{response.data.sample}}{% endcaptureas %}
<div class="title_info red">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Data Browser for {{survey|uppercase}} Data Release {{response.data.data_release}}
                    <small class="right-helper">
                        <!--<span class="sub-heading"><i class="fa fa-map-marker"></i> DR 1.0</span>&nbsp;&nbsp;-->
                        <div class="btn-group" role="group" style="margin-top:-15px;">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                    <span class="sub-heading">
                        <i class="fa fa-map-marker"></i> Data Release
                    </span>
                                <strong>{{response.data.data_release}}</strong>
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="disabled"><a href="">Data Release {{response.data.data_release}} &nbsp;
                                    <small class="sub-heading text-uppercase">Current</small>
                                </a></li>
                            </ul>
                        </div>
                    </small>
                </h1>
                <p>
                    The Data Browser provides a quick-look at survey-derived
                    data products and associated meta-data on an
                    object-by-object basis, and allows users to download individual data products in FITS file
                    format.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock page_title_banner %}

{% block content_render %}
{% captureas survey %}{{response.data.sample}}{% endcaptureas %}
<div class="row">
    <div class="col-xs-12 col-sm-3 sidebar">
        <div class="sidebar-contents">
            <h5>Page Contents</h5>

            <ul class="nav nav-pills nav-stacked docs-sidebar">


                <li role="presentation"><a class="scroll" href="#overview">Data Release {{response.data.data_release}}
                    Overview</a></li>
                <li role="presentation"><a class="scroll" href="#data-access">Data Access</a></li>
                <li role="presentation"><a class="scroll" href="#help">Help</a></li>

            </ul>
            <h5>Quick Links</h5>
            <ul class="nav nav-pills nav-stacked docs-sidebar">
                <li><a class="" target="_blank" href="{% url 'schema:sample-list' sample_pk=survey %}"> Schema
                    Browser</a></li>
                <li>
                    {% with survey|add:"-data-products" as data_product_descriptions %}
                    <a href="{% url data_product_descriptions %}"><span>
                        Data Product Descriptions</span></a>
                    {% endwith %}
                </li>


                <!--<li><a class="" href="{% url 'documentation:topic-detail' slug=survey %}" disabled> Documentation</a></li>-->
                {% if breadcrumblist %}
                {% with breadcrumblist|length|add:"-2" as b %}
                <li><a href="{{breadcrumblist|key:b|key:1}}"> <i class="fa fa-angle-left"></i> Back to
                    {{breadcrumblist|key:b|key:0}}</a></li>
                {% endwith %}
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="col-xs-12 col-sm-9 main-content">


        <div class="col-sm-2 col-xs-4 pull-right">
            <img class="img-responsive sami-logo" src="/static/restapi_app/img/logo/logo-{{survey}}.png">
        </div>
        <h2 id="overview">Overview</h2>
        <div class="panel panel-default" style="margin-top:20px;">
            <div class="panel-heading">
                {{survey|uppercase}} Data Release {{response.data.data_release}}
            </div>
            <div class="table-responsive">
                <table class="table table-overview">
                    <tbody>
                    <tr class="large">
                        <td class="lead">{% with "data_browser/survey/survey/"|add:survey|add:"/pi.html" as template %}
                            {% include template %}
                            {% endwith %}
                        </td>
                        <td class="lead">{{response.data.data_release}}</td>
                        <td class="lead">{{response.data.astro_objects | length}}</td>
                        <td class="lead"><a href="{% url 'schema:sample-list' sample_pk=survey %}">Schema</a>
                        </td>
                        <td class="lead">
                            {% for f in available_formats %}
                            {% if f != "api" %}
                            <a href="{{request.get_full_path}}?format={{f}}" class="btn btn-default">
                                            <span class="fa-custom-stack">
                                              <i class="fa fa-file-o"></i>
                                                <span class="fa-custom-filetype">{{f}}</span>
                                            </span>
                            </a>
                            {% endif %}
                            {% endfor %}

                        </td>
                    </tr>
                    <tr class="large">
                        <td>PI</td>
                        <td>Data Release Number</td>
                        <td>Number of Objects</td>
                        <td>Schema Browser</td>
                        <td>Available Objects</td>
                    </tr>
                    <tr class="medium">

                        <td>
                            <small>Principal Investigator for the {{survey|uppercase}} survey.</small>
                        </td>
                        <td>
                            <small>This data release</small>
                        </td>
                        <td>
                            <small>The total number of objects in this data release.</small>
                        </td>
                        <td>
                            <small>The Schema Browser describes the SAMI survey data products.</small>
                        </td>
                        <td>
                            <small>View a json-formatted list of available objects in this data release.</small>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h3>Data Access Information</h3>
        <p>The Data Browser allows users a quick-look at each astronomical object's data
            products available in this data release, including visualizations, processing information and associated
            properties. Data products can be downloaded as multi-extension FITS files, with all relevant processing
            information
            contained within the FITS header.</p>
        <p>It is recommended
            that you also use the SAMI Data Browser in conjunction with the
            <a href="{% url 'schema:sample-list' sample_pk=survey %}">Schema Browser</a>, which contains comprehensive
            descriptions of the data products available.</p>
        <p><strong>Single Object:</strong> Search for a specific {{survey|uppercase}}
            object below by typing in the search box.<br>
            <strong>Multiple Objects:</strong> Filter all rows using the search box or range inputs.
        </p>
        <p>For more information,
            <a class="disabled" disabled="" href="/asvo/docs/articles/branches-what-is-a-branch/">
                view the documentation.</a></p>

        <!--<table class="table table-bordered">-->
            <!--<colgroup>-->
                 <!--<col align="center" width="25%" />-->
                 <!--<col align="center" width="25%" />-->
                 <!--<col align="center" width="50%" />-->
            <!--</colgroup>-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td style="vertical-align: bottom"><span class="sub-heading">Set the number of entries displayed on this page.</span></td>-->
                <!--<td style="vertical-align: bottom"><span class="sub-heading">Search all rows and columns.</span></td>-->
                <!--<td style="vertical-align: bottom"><span class="sub-heading">Search data in the selected column between two values.</span></td>-->

            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->

        <h3 id="data-access">Data Access: {{survey|uppercase}} Objects</h3>
        <div class="row">
            <div class="col-xs-12">
                <div class="data-table-container" id="data-table-container"><p><i class="fa fa-refresh fa-spin"></i> Fetching Data...</p></div>
            </div>
        </div>

        <h3>Download Products for Selected Objects</h3>
        <div class="row">

            <div class="col-xs-12">
                <!--<available-products schemaurls="{'SAMI':'{% url 'schema:astroobject-list' sample_pk='sami' astroobject_pk='9352' %}', 'GAMA':'{% url 'schema:astroobject-list' sample_pk='sami' astroobject_pk='9352' %}'}"></available-products>-->
                <available-products schemaurls="{'SAMI':'{% url 'schema:sample-list' sample_pk='sami' %}'}" single=True></available-products>


            </div>
        </div>


        <h3 id="help">Help</h3>
        <p>The <a href="{% url survey %}">{{survey|uppercase}} page</a> provides a low-level description of Data Release
            {{response.data.data_release}}, plus an overview of the {{survey|uppercase}} survey.</p>
        <p>For detailed descriptions of a particular data product, visit the <a
                href="{% url 'sami-data-products' %}"><span>{{response.data.survey|uppercase}}
            Data Product Descriptions</span></a> page, or for in depth information/meta-data pertaining to a particular
            data product, view the
            <a href="{% url 'schema:sample-list' sample_pk=survey %}">{{response.data.survey|uppercase}}
                Schema Browser</a>.
        </p>
        <p>To learn more about the Data Browser, view the <a
                href="{% url 'documentation:topic-detail' slug='data-browser' %}">Documentation</a>.</p>

    </div>

</div>

{% comment %}
------ TURN ON DATATABLES ------
{% endcomment %}
<!--<script src="{% static 'restapi_app/js/data-tables/dataTables.js' %}"></script>-->
<script src="{% static 'data_browser/js/DataTables/datatables.min.js' %}"></script>

{% autoescape off %}
 <script type="text/javascript">

    var SAMPLE_URL = "{% url 'data_browser:survey-list' sample_pk=survey %}";

    data = JSON.parse("{{ content|escapejs }}");

    if (typeof data.catalog !== 'undefined'){
        $('#data-table-container').html(' ')
                .append('<div class=""><table id="returnTableResults" class="table table-responsive table-condensed">' +
                        '<thead><tr><th>Please wait, loading... <i class="fa fa-refresh fa-spin"></i></th></tr></thead></table></div>')

        render_limit = 10000;
        catalog = (data.catalog);

        catalog_data_row_length = catalog.data.length;
        catalog_data_col_length = catalog.column_names.length;


        if((typeof catalog !== 'undefined') && catalog.data.length < render_limit){
            var columns = [];
            var thead = '';

            // ADD checkboxes to array (unshift appends to beginning of an array, whereas push appends to the end)
//            for (var key in catalog.data) {
//                astro_object = catalog.data[key][0];
//                catalog.data[key].unshift('<input type="checkbox" value="'+astro_object+'">')
//            }
//            catalog.column_names.unshift('check');

            $('#returnTableResults').find('thead > tr').empty();
            $('#returnTableResults').addClass("table-bordered cell-border");
            //APPEND COLUMN VALUES TO TABLE HEAD
//            columns.push({title:'checkbox'});
            $.each(catalog.column_names, function(i,k){
                var b = { title: k };

                if (k.indexOf("url_img") > -1){
                    b = {
                        "title":k,
                        "render": function(data, type, row) {
                            return '<img class="img-responsive" style="max-width:70px" src="'+data+'" />';
                        }
                    }
                }

                if (k.indexOf("ID") > -1){
                    b = {
                        "title":k,
                        "render": function(data, type, row) {
                            var temp_string = '<a href="'+SAMPLE_URL+data+'">'+data+'</a>';
                            return temp_string;
                        }
                    }
                }

                th = '<th>'+k+'</th>';
                columns.push(b);

                $('#returnTableResults').find('thead > tr').append(th);
            });

            var table = $('#returnTableResults').DataTable( {
                data : catalog.data,
                columns : columns,
                orderClasses: false,
                colReorder: false,
                scrollX: true,
                deferRender: true,
                fixedHeader: true,
                language: {
                    "loadingRecords": "Please wait - loading..."
                },
                select: {
                    style: 'multi'
                }

            });


            $('#returnTableResults_filter input').unwrap().wrap("<div class='input-group' role='search'></div>")
                    .addClass('form-control')
                    .attr('placeholder', 'SEARCH...')
                    .after('<span class="input-group-btn"> <button class="btn btn-default btn-sm" type="button">' +
                            '<i class="fa fa-search fa-fw"></i></button> </span>');
            document.getElementById('returnTableResults_filter').firstChild.data = "";

            $('#returnTableResults_filter').parent('.col-sm-6').parent('.row').append('<div id="dataTableButtons_range" class="col-xs-12 col-sm-6"><p class="bg-info">FILTER: Range <a role="button" class="sub-heading" data-container="body" data-toggle="popover" data-trigger="hover click" data-placement="top" data-content="Show only rows that contain data in a particular column between two values."><i class="fa fa-info-circle"></i></a></p></div>');

            $('#returnTableResults_length').parent('.col-sm-6').addClass('col-xs-6 col-sm-3').removeClass('col-sm-6');
            $('#returnTableResults_length').parent('.col-sm-3').prepend('<p class="bg-info">PAGINATION</p>');
            $('#returnTableResults_filter').parent('.col-sm-6').addClass('col-xs-6 col-sm-3').removeClass('col-sm-6');
            $('#returnTableResults_filter').parent('.col-sm-3').prepend('<p class="bg-info">FILTER: Search <a role="button" class="sub-heading" data-container="body" data-toggle="popover" data-trigger="hover click" data-placement="top" data-content="Show rows from any column that contain the search value."><i class="fa fa-info-circle"></i></a></p>');
;

            $('#returnTableResults_wrapper').prepend(
                    '<div class="row" style="margin-bottom:15px">' +
                    '<div id="dataTableButtons_export" class="col-xs-12 col-sm-6 text-center"><p class="bg-info">EXPORT <a role="button" class="sub-heading" data-container="body" data-toggle="popover" data-trigger="hover click" data-placement="top" data-content="Export all, or if a filter is applied, selected, rows."><i class="fa fa-info-circle"></i></a></p></div> ' +
                    '<div id="dataTableButtons_select" class="col-xs-12 col-sm-6 text-center"><p class="bg-info">SELECT <a role="button" class="sub-heading" data-container="body" data-toggle="popover" data-trigger="hover click" data-placement="top" data-content="Click row(s) to select objects. Alternatively, use the buttons below to Select All/None or Select only the rows returned by the Filter methods below."><i class="fa fa-info-circle"></i></a></p></div>' +
                    '</div>'
            )


            $('#dataTableButtons_range').append('<div class="">' +
                    '<form class=""><div class="row">' +
                    '<div class="col-xs-4 "><div class="form-group"> <label class="sr-only" for="min">Minimum</label> <input type="text" class="form-control minimum" id="min" placeholder="MINIMUM" disabled> </div></div>' +
                    '<div class="col-xs-4 no-padding"><div class="form-group"> <label class="sr-only" for="column">Column</label> <select type="text" class="form-control" id="column"><option value="" selected disabled>SELECT COLUMN</option></select></div></div> ' +
                    '<div class="col-xs-4 "><div class="form-group"> <label class="sr-only" for="max">Maximum</label> <input type="text" class="form-control" id="max" placeholder="MAXIMUM" disabled></div></div>' +
                    '</div> </form>');
            $('#returnTableResults_wrapper').removeClass('form-inline');
            $('#returnTableResults_filter > div > input').removeClass('input-sm');
            $('#returnTableResults_filter > div > span > button').removeClass('btn-sm');
            // Append column options to the range select
            for (var k=0;k<columns.length;k++){
                $('select#column').append('<option value="'+columns[k].title+'">'+columns[k].title+'</option>');
            }


            // Range initialization code
            /* Custom filtering function which will search data in column four between two values */
            // this needs to be re-initialized on each selection of the column



            $('#column').on('change', function (e) {
                // redraw table without any filtering
                $.fn.dataTable.ext.search = [];
                table.draw();

                var selected_column = $(e.currentTarget).val();
                console.log('selected '+selected_column);

                $('#min, #max').val('').removeClass().addClass(selected_column).addClass('form-control').attr("disabled",false);
                // find column index
                for (var k=0;k<columns.length;k++){
                    if (columns[k].title == selected_column){column_index = k;}
                }
                console.log('column index in data '+column_index);

                data = catalog.data;

                $.fn.dataTable.ext.search.push(
                    function (settings, data, dataIndex) {

                        var min = parseFloat($('#min.'+selected_column).val());
                        var max = parseFloat($('#max.'+selected_column).val());

                        // TODO find type of data if string...
                        var field = parseFloat(data[column_index]) || 0; // use data for the selected column

                        if (( isNaN(min) && isNaN(max) ) ||
                                ( isNaN(min) && field <= max ) ||
                                ( min <= field && isNaN(max) ) ||
                                ( min <= field && field <= max )) {
                            return true;
                        }
                        return false;
                    }
                );

            });


            $(document).ready(function() {
                // Event listener to the two range filtering inputs to redraw on input
                $('#min, #max').keyup( function() {
                    table.draw();
                } );
            } );

            // Get the IDs of selected items
            $('#returnTableResults').click(function(){
                get_ids()
            });

            get_ids = function(){
                /*
                    Returns the list of ids (where id == arr element 0) that are currently selected
                 */
                var ids = $.map(table.rows({selected: true }).data(), function (item) {
                    return item[0]
                });
                console.log(ids);
                $('#data-table-selected .panel-body').html('');
                for (var i=0; i<ids.length;i++){
                    console.log(ids[i]);
                    $('#data-table-selected .panel-body').append('<a href="'+SAMPLE_URL+ids[i]+'">'+ids[i]+'</a><br>')
                }
                $('#download_button').attr('data-objects', ids)

                return ids
            }


            // obtain a jQuery object that holds the container element of the button set. Then can insert the element as per styling
            new $.fn.dataTable.Buttons(table, {
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5', 'print',
                    'pdfHtml5',
                ]
            });
            table.buttons(0,null).container()
                    .appendTo($('#dataTableButtons_export', table.table().container()));

            new $.fn.dataTable.Buttons(table, {
                buttons: [
                    {
                        text: '<i class="fa fa-check-square-o" aria-hidden="true"></i> Select All ',
                        action: function () {
                            table.rows().select();
                            get_ids();
                        }
                    },
                    {
                        text: '<i class="fa fa-square-o" aria-hidden="true"></i> Select None',
                        action: function () {
                            table.rows().deselect();
                            get_ids();
                        }
                    },
                    {
                        text: '<i class="fa fa-filter" aria-hidden="true"></i> Select Filtered',
                        action: function () {
                            table.rows({search: 'applied'}).select();
                            get_ids();
                        }
                    }
                ]
            });
            table.buttons(1,null).container()
                    .appendTo($('#dataTableButtons_select', table.table().container()));
        };
    };
{% endautoescape %}

    // text ajax
    function testGetAjax() {
        return $.ajax({
            url: "{% url 'data_browser:data-browser-download' %}"
        });
    }
    var promise_get = testGetAjax();
    promise_get.success(function (data) {
      console.log(data);
    });

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function getCookie(name) {
    var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    console.log(csrftoken)
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    function testPostAjax() {
        return $.post({
            url: "{% url 'data_browser:data-browser-download' %}",
            data: {
                action: 'download this',
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
        });
    }

    var promise_post = testPostAjax();
    promise_post.success(function (data) {
      console.log(data);
    });


</script>
{% endblock %}

