{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %}Data Browser{% endblock %}
{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/sample/sample.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/trait/trait.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/selectize/selectize.css' %}"/>
{% endblock %}

{% block page_title %}Data Browser{% endblock %}
{% block useful_links %}
{% captureas survey %}{{response.data.survey}}{% endcaptureas %}
<li role="presentation" ><a href="{% url 'schema:sample-list' sample_pk=survey %}">Schema Browser</a></li>
<li role="presentation" ><a href="{% url 'documentation:topic-detail' slug=survey %}">Documentation</a></li>
{% endblock useful_links %}

{% block page_title_banner %}
{% captureas survey %}{{response.data.survey}}{% endcaptureas %}
<div class="title_info red">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Data Browser for {{survey|uppercase}} Data Release {{response.data.data_release}}
                    <small class="right-helper">
                        <!--<span class="sub-heading"><i class="fa fa-map-marker"></i> DR 1.0</span>&nbsp;&nbsp;-->
                        <div class="btn-group" role="group" style="margin-top:-15px;">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                    <span class="sub-heading">
                        <i class="fa fa-map-marker"></i> Data Release
                    </span>
                                <strong>{{response.data.data_release}}</strong>
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="disabled"><a href="">Data Release {{response.data.data_release}} &nbsp;
                                    <small class="sub-heading text-uppercase">Current</small>
                                </a></li>
                            </ul>
                        </div>
                    </small>
                </h1>
                <p>Explore the available {{survey|uppercase}} data products for each object. It is recommended
                    that you also use the SAMI Data Browser in conjunction with the
                    <a href="{% url 'schema:sample-list' sample_pk=survey %}">Schema Browser</a>, which contains comprehensive
                    descriptions of the data products available.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock page_title_banner %}

{% block content_render %}
{% captureas survey %}{{response.data.survey}}{% endcaptureas %}
<div class="row">
    <div class="col-xs-12 col-sm-3 sidebar">
        <div class="sidebar-contents">
            <h5>Page Contents</h5>
            <ul class="nav nav-pills nav-stacked docs-sidebar">
                <li class="text-uppercase heading no-margin-top">
                    <h6>Data Release {{response.data.data_release}}</h6>
                </li>

                <li role="presentation"><a class="scroll" href="#overview">Overview</a></li>
                <li role="presentation"><a class="scroll" href="#whats-included">What's included?</a></li>
                <li role="presentation"><a class="scroll" href="#about">About {{survey|uppercase}}</a></li>

            </ul>
        </div>
    </div>

    <div class="col-xs-12 col-sm-9 main-content">

            {% if response.data.in_progress == True %}
                <div class="col-sm-12">
                    <h2>Status</h2>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading text-uppercase">
                            <strong>In Progress</strong>
                            <i class="fa fa-refresh pull-right panel-icon"></i>
                        </div>
                        <div class="panel-body">
                            <p>GAMA data ingestion is underway!</p>
                        </div>
                    </div>
                </div>
            {% else %}
            <div class="col-sm-2 col-xs-4 pull-right">
                <img class="img-responsive sami-logo"  src="/static/restapi_app/img/logo/logo-{{survey}}.png">
            </div>
            <h2>Select an object</h2>
            <p>
                Search for an
                object below by either typing in the input box, or click an option from the dropdown.
                <a href="" data-toggle="popover" data-html="true" class="popover-anchor" data-trigger="focus"
                   data-content="<p>When typing the name of a particular object, the search results will display matches to the first character of the expression, followed by substring matches.</p>"
                   data-placement="top"><i class="fa fa-info-circle"></i></a>
            </p>
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4 col-xs-12"><br><br>
                    <select type="text" class="searchbox selectized text-center"
                            id="autocomplete-widget" placeholder="SEARCH">
                        <option value="" disabled selected>Select an object</option>
                        {% for key, value in response.data.astro_objects.items %}
                        <option value="{{value}}">{{key}}</option>
                        {% endfor %}
                    </select>
                    <a class="btn btn-block btn-primary" type="button" href="" disabled
                       id="autocomplete-button">GO</a>
                    <br><br>
                </div>
            </div>


            <h3 id="overview">Overview</h3>
            <div class="panel panel-default" style="margin-top:20px;">
                <div class="panel-heading">
                    Overview
                </div>
                <div class="table-responsive">
                    <table class="table table-overview">
                        <tbody>
                        <tr class="large">
                            <td class="lead">{% with "data_browser/survey/survey/"|add:survey|add:"/pi.html" as template %}
                            {% include template %}
                            {% endwith %}</td>
                            <td class="lead">{{response.data.data_release}}</td>
                            <td class="lead">{{response.data.astro_objects | length}}</td>
                            <td class="lead"><a href="{% url 'schema:sample-list' sample_pk=survey %}">Schema</a>
                            </td>
                            <td class="lead">
                                {% for f in available_formats %}
                                    {% if f != "api" %}
                                        <a href="{{request.get_full_path}}?format={{f}}" class="btn btn-default">
                                            <span class="fa-custom-stack">
                                              <i class="fa fa-file-o"></i>
                                                <span class="fa-custom-filetype">{{f}}</span>
                                            </span>
                                        </a>
                                    {% endif %}
                                {% endfor %}

                            </td>
                        </tr>
                        <tr class="large">
                            <td>PI </td>
                            <td>Data Release Number </td>
                            <td>Number of Objects</td>
                            <td>Schema Browser </td>
                            <td>Available Objects </td>
                        </tr>
                        <tr class="medium">

                            <td><small>Principal Investigator for the {{survey|uppercase}} survey.</small></td>
                            <td><small>This data release</small></td>
                            <td><small>The total number of objects in this data release.</small></td>
                            <td> <small>The Schema Browser describes the SAMI survey data products.</small></td>
                            <td><small>View a json-formatted list of available objects in this data release.</small></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h3 id="whats-included">What's Included?</h3>
            <p>{{survey|uppercase}} Data Release {{response.data.data_release}} contains {{response.data.astro_objects | length}} objects ... data release description provided by the team.</p>


            <h3 id="about">About {{survey|uppercase}}</h3>
            {% with "data_browser/survey/survey/"|add:survey|add:"/about.html" as template %}
                {% include template %}
            {% endwith %}
            <hr>

            {% endif %}


    </div>

</div>

<script>
    $(document).ready(function () {
        $selector = $("#autocomplete-widget").selectize({
            closeAfterSelect: true,
            selectOnTab: true,
            placeholder: "SEARCH...",
            create: false,
            maxItems: 1,
            onChange: function (value) {
                $('#autocomplete-button').attr('href', value).attr('disabled', false)
            }
        });
    });
</script>

{% endblock %}
{% block footer-extra %}
<script src="{% static 'restapi_app/js/selectize/selectize.js' %}"></script>
{% endblock %}

