/*
 * Schema browser styles
 */
.schema-contents .table tbody p {
  margin-bottom: 0;
}
.schema-contents .table {
  margin-bottom: 45px;
}
.schema-contents .branch_warning {
  background-color: #fafafa;
}
.schema-contents .version-selector {
  margin-top: 15px;
  margin-bottom: 15px;
}
.schema-contents h2 {
  font-size: 28px;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 0;
}
.schema-contents h3 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 24px;
  border-bottom: solid 1px #eeeeee;
}
.schema-contents h4 {
  font-size: 20px;
  line-height: 20px;
  margin-top: 45px;
  margin-bottom: 20px;
}
.schema-contents h4 i {
  font-size: 16px;
}
.schema-contents .branch_dropdown .nav-pills > li.active > a,
.schema-contents .branch_dropdown .nav-pills > li.active > a:hover,
.schema-contents .branch_dropdown .nav-pills > li.active > a:focus {
  color: inherit;
  background-color: inherit;
}
.schema-contents .branch_dropdown .nav > li > a {
  padding: 6px 12px;
}
.branch_dropdown .dropdown-header-bold {
  color: #333;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 6px;
  font-size: 14px;
  line-height: 14px;
  background-color: #e6e6e6;
  border-bottom: solid 1px #cccccc;
  margin-bottom: 12px;
}
.branch_dropdown .dropdown-header-sub {
  color: #333;
}
.branch_dropdown .version {
  padding-left: 35px;
}
.branch_dropdown .versions {
  padding-left: 45px;
}
