{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %}Survey{% endblock %}
{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'sov/js/DataTables/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'sov/css/sample/sample.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/selectize/selectize.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
{% endblock %}

{% block page_title %}Surveys{% endblock %}
{% block useful_links %}
<li role="presentation"><a href="{% url 'documentation:topic-detail' slug='data-browser' %}">Need Help?</a></li>
{% endblock useful_links %}


{% block sidebar %}
{% captureas survey %}{{response.data.survey}}{% endcaptureas %}
<h5>Page Contents</h5>
<div class="page-contents">

    <ul class="nav nav-pills nav-stacked  nav-sidebar">
        <li role="presentation"><a class="scroll" href="#top-of-page"> Overview</a></li>
        <li role="presentation"><a class="scroll" href="#data-access">Data</a></li>
        <li role="presentation"><a class="scroll" href="#project-overview">Project Overview</a></li>
        <li role="presentation"><a class="scroll" href="#help">Help</a></li>
    </ul>
</div><hr>
<div class="quick-links">
    <h5>Quick Links</h5>
    <ul class="nav-sidebar">

        {% if breadcrumblist %}
        {% with breadcrumblist|length|add:"-2" as b %}
        <li>
        <a href="{{breadcrumblist|key:b|key:1}}"> <i class="fa fa-angle-left"></i> Back to
            {{breadcrumblist|key:b|key:0}}</a>
        </li>
        {% endwith %}
        {% endif %}
        <li>
            <a class="" target="_blank" href="{% url 'surveys:survey-list' survey_pk=survey %}"> {{survey|uppercase}} DR
                            {{response.data.data_release}} details</a>
        </li>
        <li>
            <a class="" target="_blank" href="{% url 'schema_browser:survey-list' survey_pk=survey %}"> {{survey|uppercase}} Schema
                Browser </a>
        </li>


    </ul>
</div>
{% endblock %}

{% block version_container %}
<div class=" content-switcher">
    <div class="btn-group navigation_btn_group" role="group">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-map-marker"></i> Data Release
                <strong class="p_dark">{{response.data.data_release}}</strong>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="disabled">
                    <a href=""><strong>{{response.data.data_release}} </strong> <em>Latest</em>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
{% captureas survey %}{{response.data.survey}}{% endcaptureas %}

{% with response.data.data_release|stringformat:"s" as data_release %}
{% include "sov/layout/title.html" with db_title=survey|uppercase|add:" Data Release "|add:data_release %}
{% endwith %}


<div class="panel panel-default" style="margin-top:20px;">
    <!--<div class="panel-heading">-->
        <!--Data Release {{response.data.data_release}}-->
    <!--</div>-->
    <div class="table-responsive">
        <table class="table table-overview">
            <tbody>
            <tr class="large">
                <td class="lead">{% with "sov/survey/survey/"|add:survey|add:"/pi.html" as template %}
                    {% include template %}
                    {% endwith %}
                </td>
                <td class="lead">{{response.data.data_release}}</td>
                <td class="lead">{{response.data.astro_objects | length}}</td>
                <td class="lead"><a href="{% url 'schema_browser:survey-list' survey_pk=survey %}">Schema Browser</a></td>
            </tr>

            <tr class="medium">
                <td>
                    <small>Principal Investigator for the {{survey|uppercase}} survey.</small>
                </td>
                <td>
                    <small>Data Release Number.</small>

                </td>
                <td>
                    <small>The total number of objects in this data release.</small>

                </td>
                <td>
                    <small>The Schema Browser describes the SAMI survey data products.</small>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<img class="img-responsive" src="{% static 'sov/img/sami/sami_dr1poster_plot_only.jpg' %}">
<div class="row">
    <div class=" col-xs-12 text-right">
    <p class="sub-heading"><em>Figure 1: The star formation rate-stellar mass relation for SAMI galaxies.
Each individual galaxy displays the NII/Halpha line ratio map.</em></p>
</div>

</div>


<h3 id="data-access">Data</h3>

<!-- Tab panes -->

<p> All {{survey|uppercase}} objects are shown in the table below. Search and
    filter rows based on a particular column, and export the resultant table in a variety of formats. </p>

<div class="well success">
    <div class="p "> <i class="fa fa-info"></i> <span class="sub-heading">Click on the ID in the table to go to the Single Object Viewer for that object.</span></div>
</div>



<div class="row">
    <div class="col-xs-12" id="objects">
        <div class="data-table-container" id="data-table-container"><p><i class="fa fa-refresh fa-spin"></i> Fetching Data...</p></div>
    </div>
</div>

<div id="filter_panel">
    <div class="row">
        <div id="datatables_filter" class="col-xs-12"><span class="sub-heading">Search up to two columns between values</span> <a
                role="button" class="sub-heading" data-container="body" data-toggle="popover" data-trigger="hover click"
                data-placement="top"
                data-content="Show only rows that contain data in a particular column between two values."><i
                class="fa fa-info-circle"></i></a>
        <div class="row">
            <div class="col-xs-12" id="filterset1">
                <form class="filter_row">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group"><label class="sr-only">Minimum</label> <input type="text"
                                                                                                  class="form-control minimum min_filter"
                                                                                                  placeholder="MINIMUM"
                                                                                                  disabled></div>
                        </div>
                        <div class="col-xs-3 no-padding">
                            <div class="form-group"><label class="sr-only" for="column">Column</label> <select
                                    type="text" class="form-control column_filter" id="column">
                                <option value="" selected disabled>SELECT COLUMN</option>
                            </select></div>
                        </div>
                        <div class="col-xs-3 ">
                            <div class="form-group"><label class="sr-only">Maximum</label> <input type="text"
                                                                                                  class="form-control max_filter"
                                                                                                  placeholder="MAXIMUM"
                                                                                                  disabled></div>
                        </div>
                        <div class="col-xs-3">
                            <a role="button" id="new_filter" class="padding-top-five">add new filter</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>

        <div class="col-xs-12 padding-top-five">
            <div class="row">
                <div id="datatables_select" class="col-xs-6"><span class="sub-heading">Select filtered objects</span> <a role="button" class="sub-heading" data-container="body" data-toggle="popover" data-trigger="hover click" data-placement="top" data-content="Click row(s) to select objects. Alternatively, use the button below to select or unselect all rows, or, if a filtering is applied, select filtered rows."><i class="fa fa-info-circle"></i></a></div>
                <div id="datatables_search" class="col-xs-6 col-sm-4"><span class="sub-heading">Search all rows</span> <a role="button" class="sub-heading" data-container="body" data-toggle="popover" data-trigger="hover click" data-placement="top" data-content="Show rows from any column that contain the search value."><i class="fa fa-info-circle"></i></a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <span id="remove_filters"></span>
        </div>
    </div>
</div>

<br><br>
<h4 style="font-size:20px" id="data_products">Download Data Products</h4>

<p>
    Define a sample of SAMI objects (optionally filtering on some catalogue property) using the table above. Data products for this
    selection can be downloaded for offline use.

    To access data via a
    command line interface, read the documentation on <a
            href="{% url 'documentation:article-detail' slug='data-access-bulk-data-downloads' %}">bulk data
        download</a>.</p>
<br>
<div class="panel panel-default success">
    <div class="panel-body">
        <i class="fa fa-info"></i> <span class="sub-heading">In order to download data products you must first use the table above to create a sample of {{survey|uppercase}} objects. Click a table row to select an object.
        </span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">

        {% include 'sov/available_products/root.html' with traits=traits single=False survey=survey post_form=post_form csrf_token=csrf_token %}

    </div>

</div>


<h3 id="project-overview">Project Overview</h3>
{% with "surveys/"|add:response.data.survey|add:"/about.html" as template %}
{% include template %}
{% endwith %}

<h3 id="help">Help</h3>
<p>The <a href="{% url 'surveys:survey-list' survey_pk=survey %}">{{survey|uppercase}} page</a> provides a low-level description of Data Release
    {{response.data.data_release}}, plus an overview of the {{survey|uppercase}} survey.</p>
<p>For detailed descriptions of a particular data product, visit the <a
        href="{% url 'documentation:topic-detail' slug=survey %}"><span>{{response.data.survey|uppercase}}
     Documentation</span></a>, or for in depth information/meta-data pertaining to a particular
    data product, view the
    <a href="{% url 'schema_browser:survey-list' survey_pk=survey %}">{{response.data.survey|uppercase}}
        Schema Browser</a>.
</p>
<p>To learn more about the Single Object Viewer, view the <a
        href="{% url 'documentation:topic-detail' slug='data-browser' %}">Documentation</a>.</p>


{% comment %}
------ TURN ON DATATABLES ------
{% endcomment %}
<script src="{% static 'sov/js/DataTables/datatables.min.js' %}"></script>

{% autoescape off %}
 <script type="text/javascript">
    var SAMPLE_URL = "{% url 'sov:survey-list' survey_pk=survey %}";

    catalog = JSON.parse("{{ catalog|escapejs }}");

    // catalog.data = catalog.data.slice(0,20);

    if (typeof catalog !== 'undefined'){
        $('#data-table-container').html(' ')
                .append('<div class=""><table id="returnTableResults" class="table table-responsive table-condensed">' +
                        '<thead><tr><th>Please wait, loading... <i class="fa fa-refresh fa-spin"></i></th></tr></thead></table></div>');

        render_limit = 10000;
        catalog_data_row_length = catalog.data.length;
        catalog_data_col_length = catalog.column_names.length;


        if(catalog.data.length < render_limit){
            var columns = [];
            var thead = '';


            $('#returnTableResults').find('thead > tr').empty();
            $('#returnTableResults').addClass("table-bordered cell-border");

            //APPEND COLUMN VALUES TO TABLE HEAD
            $.each(catalog.column_names, function(i,k){
                var b = { title: k };

//                if (k.indexOf("url_img") > -1){
//                    b = {
//                        "title":k,
//                        "render": function(data, type, row) {
//                            return '<img class="img-responsive" style="max-width:70px" src="'+data+'" />';
//                        }
//                    }
//                }

                if (k.indexOf("ID") > -1){
                    b = {
                        "title":k,
                        "render": function(data, type, row) {
                            var temp_string = '<a href="'+SAMPLE_URL+data+'" target="_blank">'+data+'</a>';
                            return temp_string;
                        }
                    }
                }

                th = '<th>'+k+'</th>';
                columns.push(b);

                $('#returnTableResults').find('thead > tr').append(th);
            });

            var table = $('#returnTableResults').DataTable( {
                data : catalog.data,
                columns : columns,
                orderClasses: false,
                colReorder: false,
                scrollX: true,
                deferRender: true,
                fixedHeader: true,
                language: {
                    "loadingRecords": "Please wait - loading..."
                },
                select: {
                    style: 'multi'
                }
            });


            $('#returnTableResults_filter input').unwrap().wrap("<div class='input-group' role='search'></div>")
                    .addClass('form-control')
                    .attr('placeholder', 'SEARCH...')
                    .after('<span class="input-group-btn"> <button class="btn btn-default btn-sm" type="button">' +
                            '<i class="fa fa-search fa-fw"></i></button> </span>');
            document.getElementById('returnTableResults_filter').firstChild.data = "";


            $("#filter_panel")
                    .prependTo("#returnTableResults_wrapper");

            // FILTER
            $("#returnTableResults_filter")
                    .appendTo("#datatables_search");
            $("#returnTableResults_filter input").css('margin-left', '0px');

            $('#returnTableResults_wrapper').append('<div id="" class="row"><div class="col-xs-12 col-sm-12" id="datatables_export"></div></div>');



            // PAGINATION
            $("#returnTableResults_info").parent('.col-sm-5').parent('.row').prepend('<div id="datatables_pagination" class="col-sm-12" style="padding-top:10px"></div>');

            $("#returnTableResults_length")
                    .appendTo("#datatables_pagination");
            $('#datatables_pagination').prepend('<small class="pull-right sub-heading"><i class="fa fa-arrows-h"></i> scroll for more </small>')

            //  EXPORT
            $('#datatables_export').append(
                    '<div id="dataTableButtons_export"></div>'

            );

            // SELECT
            $('#datatables_select').append(
                    '<div id="dataTableButtons_select" class=""></div>'
            )

            $('#returnTableResults_wrapper').removeClass('form-inline');
            $('#returnTableResults_filter > div > input').removeClass('input-sm');
            $('#returnTableResults_filter > div > span > button').removeClass('btn-sm');


            // populate columns
            update_columns = function(element){
                console.log(element);
                // Append column options to the range select
                for (var k=0;k<columns.length;k++){
                    // if you can parse as float, then append

                    var _column_append = true;

                    for (var z=0;z<catalog.data.length;z++){
                        if (!!parseFloat(catalog.data[z][k])){
                        } else {_column_append = false;}
                    }

                    if (_column_append == true){
                        $(element).append('<option value="'+columns[k].title+'">'+columns[k].title+'</option>');
                    }

                }

            };

            disable_columns = function(){
                console.log('disable columns');
                // on click to column - check existing values, disable if true.
                $('.column_filter').each(function(){

                    //console.log($(this));
                    //console.log($(this).options);
                    // $(this).val()
                });
            };



            // Range initialization code
            /* Custom filtering function which will search data in column four between two values */
            // this needs to be re-initialized on each selection of the column
            // note bind to the parent node such that dynamically created nodes still trigger the event.
            // attach event handler to parent element using on, pass selector via class argument


            $('body').on('change', 'select.column_filter', function(e) {
                // do something
                console.log('change column');
                // enable associated inputs
                var min_ele = $(e.target).closest('.row').find('.min_filter');
                var max_ele = $(e.target).closest('.row').find('.max_filter');

                min_ele.attr("disabled",false);
                max_ele.attr("disabled",false);
            });


            $('body').on('keyup', '.min_filter, .max_filter', function(e) {

                // clear the existing searches
                $.fn.dataTable.ext.search = [];

                // redraw table without any filtering
                table.draw();

                // on change of the filter, change the filter to include all currently active column filters
                data = catalog.data;

                a_col_index=[];
                a_min=[];
                a_max=[];
                // capture current searches
                $('.column_filter').each(function(){

                    // get min/max input values for this select
                    var min_ele = $(this).closest('.row').find('.min_filter');
                    var max_ele = $(this).closest('.row').find('.max_filter');

                    var min = parseFloat(min_ele.val());
                    var max = parseFloat(max_ele.val());

                    // find the index of the selected column by matching to the option value (name)
                    var selected_column = $(this).val();

                    for (var k=0;k<columns.length;k++){
                        if (columns[k].title == selected_column) {
                            column_index = k;

                            console.log(' - - - new filter - - - ');
                            console.log($(this).attr('id'));
                            console.log(selected_column, column_index);
                            console.log(min, max);

                            a_col_index.push(column_index);
                            a_min.push(min);
                            a_max.push(max);
                        }
                    }
                });
                function isTrue(element, index, array) {
                  return element == true;
                }

                $.fn.dataTable.ext.search.push(
                    function (settings, data, dataIndex) {
                        // TODO find type of data if string...
                        var passes_conditions = [];
                        for (var c=0;c<a_col_index.length;c++){
                            var field = parseFloat(data[a_col_index[c]]) || 0; // use data for the selected column
                                if (( isNaN(a_min[c]) && isNaN(a_max[c]) ) ||
                                    ( isNaN(a_min[c]) && field <= a_max[c] ) ||
                                    ( a_min[c] <= field && isNaN(a_max[c]) ) ||
                                    ( a_min[c] <= field && field <= a_max[c] )) {
                                // console.log(a_col_index[c], a_min[c], a_max[c], field);
                                passes_conditions.push(true);
                            } else {passes_conditions.push(false);}
                        }

                        return passes_conditions.every(isTrue);   // true


                    }
                );
                // for each column_filter, add a search clause


                table.draw();
                update_button();
                console.log($.fn.dataTable.ext.search);
            });


            // Get the IDs of selected items
            $('#returnTableResults').click(function(){
                get_ids();

                // error_check comes from the data download code (add_to_download_controller).
                error_check();
            });

            get_ids = function(){
                /*
                    Returns the list of ids (where id == arr element 0) that are currently selected
                 */
                var ids = $.map(table.rows({selected: true }).data(), function (item) {
                    return item[0]
                });

                $('#data-table-selected .panel-body').html('');
                for (var i=0; i<ids.length;i++){
                    $('#data-table-selected .panel-body').append('<a href="'+SAMPLE_URL+ids[i]+'">'+ids[i]+'</a><br>')
                }
                $('#download_button').attr('data-objects', ids);

                return ids
            };

            get_filtered_ids = function(){
                /*
                    Returns the list of ids where a search has been applied
                 */
                var ids = $.map(table.rows({search: 'applied' }).data(), function (item) {
                    return item[0]
                });
                return ids
            };

            update_button = function(){
                var selected = $.map(table.rows({selected: true }).data(), function (item) {
                    return item[0]
                });
                var filtered = $.map(table.rows({search: 'applied' }).data(), function (item) {
                    return item[0]
                });
                if (selected.length>0){
                    _text = '<i class="fa fa-check-square-o" aria-hidden="true"></i> Unselect '+selected.length+' objects';
                } else {
                    _text = '<i class="fa fa-square-o" aria-hidden="true"></i> Select '+filtered.length+' objects';
                }

                $('#select_button_text').html(_text);
            };


            // obtain a jQuery object that holds the container element of the button set. Then can insert the element as per styling
            new $.fn.dataTable.Buttons(table, {

                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-copy"></i> Copy to clipboard',
                        exportOptions: {
                            modifier: {
                                selected: true
                            }
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel-o"></i> Excel',
                        exportOptions: {
                            modifier: {
                                selected: true
                            }
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        exportOptions: {
                            modifier: {
                                selected: true
                            }
                        }
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Print',
                        exportOptions: {
                            modifier: {
                                selected: true
                            }
                        }
                    }
                ]

            });
            table.buttons(0,null).container()
                    .appendTo($('#dataTableButtons_export', table.table().container()));

            new $.fn.dataTable.Buttons(table, {
                buttons: [
                    {
                        text: ' <span id="select_button_text"><i class="fa fa-square-o" aria-hidden="true"></i> Select 0 objects</span> ',
                        action: function () {
                            // if already some selected - deselect:
                            var selected = $.map(table.rows({selected: true}).data(), function (item) {
                                return item[0]
                            });
                            if (selected.length > 0) {
                                table.rows().deselect();
                                var ids = $.map(table.rows({search: 'applied'}).data(), function (item) {
                                    return item[0]
                                });

                            } else {
                                // select the filtered options
                                var ids = $.map(table.rows({search: 'applied'}).data(), function (item) {
                                    return item[0]
                                });
                                table.rows({search: 'applied'}).select();
                            }
                            update_button();

                            get_ids();
                        }
                    }
                ]
            });
            table.buttons(1,null).container()
                    .appendTo($('#dataTableButtons_select', table.table().container()));

            new $.fn.dataTable.Buttons(table, {
                buttons: [
                    {
                        text: '<small>remove all filters</small>',
                        action: function () {
                            // clear existing searches on the table
                            $.fn.dataTable.ext.search = [];

                            // clear all inputs and reset select
                            $('.min_filter').val('');
                            $('.max_filter').val('');
                            $('#returnTableResults_filter input').val('');
                            $('#column').val('');

                            // remove additional rows
                            $('.additional_filter').remove();
//                            table.rows().deselect();
                            table.search("").draw();
                            update_button();
                        }
                    }
                ]
            });
            table.buttons(2,null).container()
                    .appendTo($('#remove_filters', table.table().container()));

            $('#remove_filters .btn.btn-default').removeClass('btn btn-default');


            $(document).ready(function() {
                update_columns($('#datatables_filter #filterset1 form.filter_row select.column_filter'));
                disable_columns();

                // Event listener to the two range filtering inputs to redraw on input
                $('.max_filter, .min_filter').keyup( function() {
                    update_button();
                } );
                // update select button with initial number of rows
                update_button();

                $('#returnTableResults_filter input').keyup(function(){
                    update_button();
                });

                $('#returnTableResults').click(function(){
                    update_button();
                })

                $('a#multiple_object[data-toggle="tab"]').one('shown.bs.tab', function (e) {
                    // moved single and multiple objects into tabs, fire this once (.one) when the shown.bs.tab event
                    // is triggered, to force datatables to redraw the table once the tab is visible (else the column headers
                    // have incorrect widths calculated
                    table.draw();
                    // TODO REMOVE THIS no longer needed
                });

                $('#new_filter').click(function(){
                    // append another filter selection set

                    $('#datatables_filter .row #filterset1').append(
                    '<form class="filter_row padding-top-five additional_filter"><div class="row">' +
                    '<div class="col-xs-3 "><div class="form-group"> <label class="sr-only" for="min">Minimum</label> <input type="text" class="form-control minimum min_filter" placeholder="MINIMUM" disabled> </div></div>' +
                    '<div class="col-xs-3 no-padding"><div class="form-group"> <label class="sr-only" for="column">Column</label> <select type="text" class="form-control column_filter"><option value="" selected disabled>SELECT COLUMN</option></select></div></div> ' +
                    '<div class="col-xs-3 "><div class="form-group"> <label class="sr-only" for="max">Maximum</label> <input type="text" class="form-control max_filter" placeholder="MAXIMUM" disabled></div></div>' +
                    '<div class="col-xs-3"> <a role="button" class="padding-top-five remove_filter">remove filter</a></div>' +
                    '</div> </form>');

                    // disable any columns that are already selected
                    update_columns($('#filterset1 form.filter_row:last-of-type select.column_filter'));
                });
                $('body').on('click', '.remove_filter', function(){
                     $(this).closest('form.filter_row').remove();
                     $('.max_filter').keyup();

                    // find closest filter_row
                    // disable this row
                });
            });

        };
    };

</script>
{% endautoescape %}

{% endblock main %}

{% block footer-extra %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

{% endblock %}



