
# Ignore patterns for Python code:
*.pyc
.idea
db.sqlite3
*.iml
documentation/fidia/uml-diagrams/*.dot
documentation/fidia/uml-diagrams/*.pdf
#python_packages/database_config.py
/web_application/custom_database_config.py
/config/*