amqp==2.1.4
astropy==1.3.3
Babel==2.4.0
billiard==3.5.0.2
celery==4.0.2
certifi==2017.4.17
chardet==3.0.3
Django==1.11.2
django-bootstrap3==8.2.3
django-cors-headers==2.1.0
django-extensions==1.7.9
django-hitcount==1.2.2
djangorestframework==3.6.3
djangorestframework-csv==2.0.0
djangorestframework-jwt==1.10.0
docopt==0.6.2
fastavro==0.14.0
hdfs==2.0.16
idna==2.5
jsonfield==2.0.1
kombu==4.0.2
numpy==1.12.1
olefile==0.44
pandas==0.20.2
pbr==3.0.1
Pillow==4.1.1
psycopg2==2.7.1
py4j==0.10.5
PyJWT==1.5.0
pypandoc==1.4
python-dateutil==2.6.0
python-sjsclient==0.7.0
pytz==2017.2
requests==2.10.0
six==1.10.0
sortedcontainers==1.5.7
SQLAlchemy==1.1.10
typing==3.6.1
unicodecsv==0.14.1
urllib3==1.21.1
vine==1.1.3
