{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %}Tools {% endblock %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'documentation/css/documentation/documentation.min.css' %}"/>
{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url 'index' %}">Home</a></li>
<li class="active"> Tools</li>
{% endblock %}

{% block page_title %} Tools {% endblock %}
{% block useful_links %}
<li role="presentation"><a href="{% url 'surveys' %}">Surveys</a></li>
{% endblock useful_links %}


{% block content_render %}

<div class="row hosted-surveys">
    <div class="col-xs-12">
        <h1>All AAODC tools in one place.</h1>
        <p class="lead">AAODC offers a variety of tools to interact with available survey data products. </p>
        <br>
    </div>
</div>
<div class="row vertical-align tools">
    <div class="col-xs-12 col-sm-6">
        <a href="{% url 'data_browser:data-browser-list' %}">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="{% static 'restapi_app/img/documentation/data-browser.png'%}"
                         alt="...">
                </div>
                <div class="media-body">
                    <h3 class="media-heading no-margin-bottom">Data
                        Browser</h3>
                    <span class="sub-heading">
                        Available for: {% for survey in response.data.samples %}{{survey|uppercase}} {% endfor %}
                    </span>
                    <p>Per survey, browse the available data products and meta-data for each object.
                        Provides a quick-look at the data products for a particular object,
                        and download functionality for individual
                        data products in fits format. </p>
                </div>
            </div>
        </a>
    </div><!--
    -->
    <div class="col-xs-12 col-sm-6">
        <a href="{% url 'query-create-list' %}">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="{% static 'restapi_app/img/documentation/query.png'%}"
                         alt="...">
                </div>
                <div class="media-body">
                    <h3 class="media-heading no-margin-bottom">Query Builder
                    </h3>
                    <span class="sub-heading">
                        Available for: {% for survey in response.data.samples %}{{survey|uppercase}} {% endfor %}
                    </span>
                    <p>Create a sample of objects from all surveys, filtering on some parameter(s) and return
                        available rows of objects. Select available products for bulk
                        download. Revisit previous queries in your Query History.</p>
                </div>
            </div>
        </a>
    </div>

</div>
<div class="row vertical-align tools">
    <div class="col-xs-12 col-sm-6">
        <a href="{% url 'schema:schema-list' %}">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="{% static 'restapi_app/img/documentation/schema-browser.png'%}"
                         alt="...">
                </div>
                <div class="media-body">
                    <h3 class="media-heading no-margin-bottom">Schema
                        Browser
                    </h3>
                    <span class="sub-heading">
                        Available for: {% for survey in response.data.samples %}{{survey|uppercase}} {% endfor %}
                    </span>
                    <p>The schema browser allows you to explore the types of data each survey team has released, how
                        each
                        was derived (reduction pipelines, analysis method etc), and any associated meta data. </p>

                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6">
        <a href="{% url 'schema:schema-list' %}">
            <div class="media">
                <div class="media-left">

                    <img class="media-object" src="{% static 'restapi_app/img/documentation/download.png'%}"
                         alt="...">

                </div>
                <div class="media-body">
                    <h3 class="media-heading no-margin-bottom">Download
                    </h3>
                    <span class="sub-heading">
                        Available for: {% for survey in response.data.samples %}{{survey|uppercase}} Query History {% endfor %}
                    </span>
                    <p>Download individual data products per source, samples of objects (in csv format) or data products
                        for
                        a user-created sample. If you wish to re-download a previous collection of data, you can visit
                        your Download History.</p>

                </div>
            </div>
        </a>
    </div>
</div>


{% endblock %}
{% block footer-extra %}

{% endblock %}