{% load staticfiles %}
{% load internal_extras %}

<tr class="active">
    <td colspan="2" align="middle">

        <h6 class="text-uppercase" style="margin:0">Clipping

            <a role="button" class="sub-heading pull-right" data-container="body" data-toggle="popover"
                   data-trigger="hover click" data-placement="top"
                   data-content="Apply percentile scaling to image. Clips minimum and maximum percentage of pixel values to bring out features in the image."
                   data-original-title="" title=""><i class="fa fa-info-circle"></i></a></h6>
    </td>
</tr>
<tr>
    <td colspan="2">
        <div style="margin:15px 15px;" id="slider-range"></div>
    </td>
</tr>
<tr>
    <td class="p_light">Range</td>
    <td>
        <span id="amount" style="margin:0 5px;" class="small badge"></span>
        <a class="sub-heading" role="button" id="reset_2d_plot" title="reset plot"><i class="fa fa-rotate-left"></i></a>
    </td>
</tr>
<tr id="data-range">
    <td class="p_light">Lower </td>
                        <td id="lv"></td>
</tr>
<tr>
    <td class="p_light">Upper </td>
                        <td id="uv"></td>
</tr>

<tr class="active extensions">
    <td colspan="2" align="middle">
        <h6 class="text-uppercase" style="margin:0">Data source
            <a role="button" class="sub-heading pull-right" data-container="body" data-toggle="popover"
                   data-trigger="hover click" data-placement="top"
                   data-content="Switch the data displayed in the viewer."
                   data-original-title="" title=""><i class="fa fa-info-circle"></i></a></h6>
    </td>
</tr>
<tr class="extensions">
    <td colspan="2">
        <div style="margin:15px 15px;" id="extensions-select"></div>
    </td>
</tr>