{% extends 'rest_framework/web_base.html' %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %} Home {% endblock %}
{% block head_additional %}
{% endblock %}

{% block wrapper %}
<section class="page-info row">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="active">SQL</li>
        </ol>
        <h2>SQL</h2>
        <form action="{% url 'sql' pk=profile.pk '%}" method="POST">
            {% csrf_token %}
            {% render_form serializer %}
            <input type="submit" value="Save">
        </form>
    </div>
</section>
{% endblock %}