/*
 * Styles for html documentation provided by FIDIA
 */
.documentation_fidia {
  /* dummy classes here else compiler errors (as these belong in
   * restapi_app/static/restapi_app/css/bootstrap/)
   */
  /*
  // Table backgrounds
  //
  // Exact selectors below required to override `.table-striped` and prevent
  // inheritance to nested tables.

  // Generate the contextual variants
  */
}
.documentation_fidia h1,
.documentation_fidia h2,
.documentation_fidia h3,
.documentation_fidia h4,
.documentation_fidia h5,
.documentation_fidia h6 {
  border: 0 !important;
}
.documentation_fidia .h1,
.documentation_fidia .h2,
.documentation_fidia .h3,
.documentation_fidia h1,
.documentation_fidia h2,
.documentation_fidia h3 {
  font-weight: 400;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}
.documentation_fidia .h4,
.documentation_fidia .h5,
.documentation_fidia .h6,
.documentation_fidia h4,
.documentation_fidia h5,
.documentation_fidia h6 {
  font-weight: 500;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.documentation_fidia .h1,
.documentation_fidia .h2,
.documentation_fidia .h3,
.documentation_fidia .h4,
.documentation_fidia .h5,
.documentation_fidia .h6,
.documentation_fidia h1,
.documentation_fidia h2,
.documentation_fidia h3,
.documentation_fidia h4,
.documentation_fidia h5,
.documentation_fidia h6 {
  line-height: 1.1 !important;
}
.documentation_fidia h1 {
  font-size: 24px !important;
}
.documentation_fidia h2 {
  font-size: 20px !important;
}
.documentation_fidia h3 {
  font-size: 18px !important;
}
.documentation_fidia h4 {
  font-size: 14px !important;
}
.documentation_fidia h5,
.documentation_fidia h6 {
  font-size: 12px !important;
}
.documentation_fidia table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.documentation_fidia table > thead > tr > th,
.documentation_fidia table > tbody > tr > th,
.documentation_fidia table > tfoot > tr > th,
.documentation_fidia table > thead > tr > td,
.documentation_fidia table > tbody > tr > td,
.documentation_fidia table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.documentation_fidia table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #ddd;
}
.documentation_fidia table > caption + thead > tr:first-child > th,
.documentation_fidia table > colgroup + thead > tr:first-child > th,
.documentation_fidia table > thead:first-child > tr:first-child > th,
.documentation_fidia table > caption + thead > tr:first-child > td,
.documentation_fidia table > colgroup + thead > tr:first-child > td,
.documentation_fidia table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.documentation_fidia table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.documentation_fidia table .table {
  background-color: #fff;
}
.documentation_fidia table {
  border: 1px solid #ddd;
}
.documentation_fidia table > thead > tr > th,
.documentation_fidia table > tbody > tr > th,
.documentation_fidia table > tfoot > tr > th,
.documentation_fidia table > thead > tr > td,
.documentation_fidia table > tbody > tr > td,
.documentation_fidia table > tfoot > tr > td {
  border: 1px solid #ddd;
}
.documentation_fidia table > thead > tr > th,
.documentation_fidia table > thead > tr > td {
  border-bottom-width: 1px;
}
.documentation_fidia table > thead > tr > th,
.documentation_fidia table > tbody > tr > th,
.documentation_fidia table > tfoot > tr > th,
.documentation_fidia table > thead > tr > td,
.documentation_fidia table > tbody > tr > td,
.documentation_fidia table > tfoot > tr > td {
  padding: 5px;
}
.documentation_fidia table {
  background-color: transparent;
}
.documentation_fidia caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}
.documentation_fidia th {
  text-align: left;
}
.documentation_fidia .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.documentation_fidia .table > thead > tr > th,
.documentation_fidia .table > tbody > tr > th,
.documentation_fidia .table > tfoot > tr > th,
.documentation_fidia .table > thead > tr > td,
.documentation_fidia .table > tbody > tr > td,
.documentation_fidia .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.documentation_fidia .table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #ddd;
}
.documentation_fidia .table > caption + thead > tr:first-child > th,
.documentation_fidia .table > colgroup + thead > tr:first-child > th,
.documentation_fidia .table > thead:first-child > tr:first-child > th,
.documentation_fidia .table > caption + thead > tr:first-child > td,
.documentation_fidia .table > colgroup + thead > tr:first-child > td,
.documentation_fidia .table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.documentation_fidia .table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.documentation_fidia .table .table {
  background-color: #fff;
}
.documentation_fidia .table-condensed > thead > tr > th,
.documentation_fidia .table-condensed > tbody > tr > th,
.documentation_fidia .table-condensed > tfoot > tr > th,
.documentation_fidia .table-condensed > thead > tr > td,
.documentation_fidia .table-condensed > tbody > tr > td,
.documentation_fidia .table-condensed > tfoot > tr > td {
  padding: 5px;
}
.documentation_fidia .table-bordered {
  border: 1px solid #ddd;
}
.documentation_fidia .table-bordered > thead > tr > th,
.documentation_fidia .table-bordered > tbody > tr > th,
.documentation_fidia .table-bordered > tfoot > tr > th,
.documentation_fidia .table-bordered > thead > tr > td,
.documentation_fidia .table-bordered > tbody > tr > td,
.documentation_fidia .table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.documentation_fidia .table-bordered > thead > tr > th,
.documentation_fidia .table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}
.documentation_fidia .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.documentation_fidia .table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
.documentation_fidia table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
.documentation_fidia table td[class*="col-"],
.documentation_fidia table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.documentation_fidia .table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .documentation_fidia .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .documentation_fidia .table-responsive > .table {
    margin-bottom: 0;
  }
  .documentation_fidia .table-responsive > .table > thead > tr > th,
  .documentation_fidia .table-responsive > .table > tbody > tr > th,
  .documentation_fidia .table-responsive > .table > tfoot > tr > th,
  .documentation_fidia .table-responsive > .table > thead > tr > td,
  .documentation_fidia .table-responsive > .table > tbody > tr > td,
  .documentation_fidia .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .documentation_fidia .table-responsive > .table-bordered {
    border: 0;
  }
  .documentation_fidia .table-responsive > .table-bordered > thead > tr > th:first-child,
  .documentation_fidia .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .documentation_fidia .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .documentation_fidia .table-responsive > .table-bordered > thead > tr > td:first-child,
  .documentation_fidia .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .documentation_fidia .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .documentation_fidia .table-responsive > .table-bordered > thead > tr > th:last-child,
  .documentation_fidia .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .documentation_fidia .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .documentation_fidia .table-responsive > .table-bordered > thead > tr > td:last-child,
  .documentation_fidia .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .documentation_fidia .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .documentation_fidia .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .documentation_fidia .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .documentation_fidia .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .documentation_fidia .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
