{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %} Schema Browser {% endblock %}
{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/sample/sample.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/trait/trait.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'schema/css/schema/schema.min.css' %}"/>
{% endblock %}

{% block page_title %}Schema Browser{% endblock %}
{% block useful_links %}
<li role="presentation"><a href="{% url 'data_browser:root-list' %}">Data Browser</a></li>
{% endblock useful_links %}

{% block content-navigator-help %}
<a href="{% url 'schema:schema-list' %}" class=""><i class="fa fa-reply"></i> Back to Surveys</a>
{% endblock %}


{% block content-test %}
{% captureas survey %}{{response.data.sample}}{% endcaptureas %}
<div class="row schema-browser">
    <div class="col-sm-3 col-xs-12 menu-nav schema">
        <h4>Contents</h4>
        <ul class="nav nav-pills nav-stacked docs-sidebar" id="docs-sidebar">
            {% for trait_type, trait_value in response.data.survey_registry.trait_types.items %}
            <li class="text-uppercase heading {% if forloop.first %}no-margin-top{% endif %}"><h6>
                {{trait_value.pretty_name}}</h6></li>
            {% for trait_key, value in trait_value.trait_names.items %}
            <li {% if forloop.parentloop.first %}class="active" {% endif %} role="presentation">
                <a href="#{{trait_key}}" aria-controls="{{trait_key}}" role="tab" data-toggle="pill">{{value.pretty_name}}</a>
            </li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-9 col-xs-12 right-panel">
        <div class="row">
            <div class="col-xs-12">
                <div class="title_info">
                    <h2>Schema for {{survey|uppercase}}
                        <small class="right-helper">
                            <!--<span class="sub-heading"><i class="fa fa-map-marker"></i> DR 1.0</span>&nbsp;&nbsp;-->
                            <div class="btn-group" role="group" style="margin-top:-15px;">
                                <button type="button" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"><i class="fa fa-map-marker"></i> DR
                                    1.0
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="disabled"><a href="">DR 1.0 &nbsp;
                                        <small class="sub-heading text-uppercase">Current</small>
                                    </a></li>
                                </ul>
                            </div>
                        </small>
                    </h2>
                    <p>The Schema Browser describes the {{survey|uppercase}} survey data products. It is recommended
                        that you also use the <a href="">{{survey|uppercase}} Documentation</a> in conjunction with the
                        Schema
                        Browser, which contains a more comprehensive description of pipeline reduction and analysis
                        techniques.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 schema-contents">

                <div class="tab-content">
                    {% for trait_type, trait_value in response.data.survey_registry.trait_types.items %}
                    {% for trait_key, value in trait_value.trait_names.items %}
                    <div role="tabpanel" class="tab-pane {% if forloop.parentloop.first %}active{% endif %}"
                         id="{{trait_key}}">

                        <h3>{{value.pretty_name}}</h3>
                        {% if value.description %}<p>{{value.description}}</p>{% endif %}
                        <ul class="p">
                            <li><a href="#{{trait_key}}_description" class="scroll">Description</a></li>
                            <li><a href="#{{trait_key}}_properties" class="scroll">Properties</a></li>
                            <li><a href="#{{trait_key}}_versions" class="scroll">Versions</a></li>
                            <li><a href="#{{trait_key}}_formats" class="scroll">Formats</a></li>
                            <li><a href="#{{trait_key}}_branches" class="scroll">All Available Branches</a></li>
                        </ul>
                        <br>
                        <div class="panel panel-default success">
                            <div class="panel-body">
                                <div class="pull-right" style="padding-left:15px;padding-bottom:5px;">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-code-fork"></i> Branch <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="/asvo/data-browser/sami/24433/line_map-OII3726:recom_comp">recom_comp</a>
                                            </li>
                                            <li class="disabled"><a href="">1_comp &nbsp;
                                                <small class="sub-heading text-uppercase">Current</small>
                                            </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div>Branch description goes here. {% lorem 50 w %}</div>
                                <br>
                                <div class="sub-heading">This document is for the {{value.pretty_name}} branch <em>branch
                                    name</em>, which can be
                                    significantly different from other branches. To switch branches, use the
                                    branch selector floating in the top right corner of this panel. For more information
                                    on branches,
                                    <a href="{% url 'documentation:article-detail' slug='branches-what-is-a-branch' %}">
                                        view the documentation.</a>
                                </div>
                            </div>
                        </div>


                        <!-- Documentation -->
                        <h4 id="{{trait_key}}_description">Description</h4>
                        <div class="well-ignore" style="margin-bottom:20px;">
                            {% if not value.documentation %}
                            {{value.description}}
                            {% else %}
                            {{value.documentation|safe}}
                            {% endif %}
                        </div>

                        <!-- Properties-->
                        <div class="panel panel-default" id="{{trait_key}}_properties">
                            <div class="panel-heading"><span class="panel-title">Properties</span></div>
                            <table class="table">
                                {% for trait_property_key, trait_property_value in trait_value.trait_properties.items %}
                                <tr>
                                    <td>
                                        <strong class="text-uppercase">{{trait_property_value.pretty_name}}</strong>
                                    </td>
                                    <td>
                                        {% if not trait_property_value.documentation %}
                                        {% if not trait_property_value.description %}
                                        <p>{{trait_property_value.description}}</p>
                                        {% else %}
                                        {{trait_property_value.description}}
                                        {% endif %}
                                        {% else %}
                                        {{trait_property_value.documentation|safe}}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>

                        <!-- Versions -->
                        <div class="panel panel-warning" id="{{trait_key}}_versions">
                            <div class="panel-heading"><span class="panel-title">
                                <i class="fa fa-map-pin"></i> Versions</span></div>
                            <table class="table">
                                <!--{% for branch_key, branch_value in value.branches.items %}-->
                                <!--<tr>-->
                                    <!--<td>-->
                                        <!--<strong class="text-uppercase">{{branch_value.branch}}</strong>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<div class="p">-->
                                            <!--{% if not trait_property_value.documentation %}-->
                                            <!--{{branch_value.description}}-->
                                            <!--{% else %}-->
                                            <!--{{branch_value.documentation|safe}}-->
                                            <!--{% endif %}-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <!--<td>versions</td>-->
                                <!--</tr>-->
                                <!--{% endfor %}-->
                            </table>
                        </div>

                        <!-- Formats -->
                        <div class="panel panel-success" id="{{trait_key}}_formats">
                            <div class="panel-heading"><span class="panel-title">
                                <span class="fa-custom-stack">
                                  <i class="fa fa-file-o"></i>
                                    <span class="fa-custom-filetype">fits</span>
                                </span> Formats</span>
                            </div>
                            <table class="table">
                                <!--{% for branch_key, branch_value in value.branches.items %}-->
                                <!--<tr>-->
                                    <!--<td>-->
                                        <!--<strong class="text-uppercase">{{branch_value.branch}}</strong>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<div class="p">-->
                                            <!--{% if not trait_property_value.documentation %}-->
                                            <!--{{branch_value.description}}-->
                                            <!--{% else %}-->
                                            <!--{{branch_value.documentation|safe}}-->
                                            <!--{% endif %}-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <!--<td>versions</td>-->
                                <!--</tr>-->
                                <!--{% endfor %}-->
                            </table>
                        </div>

                        <!-- Branches -->
                        <div class="panel panel-info" id="{{trait_key}}_branches">
                            <div class="panel-heading"><span class="panel-title">
                                <i class="fa fa-code-fork"></i> Branches</span></div>
                            <table class="table">
                                {% for branch_key, branch_value in value.branches.items %}
                                <tr>
                                    <td>
                                        <strong class="text-uppercase">{{branch_value.branch}}</strong>
                                    </td>
                                    <td>
                                        <div class="p">
                                            {% if not trait_property_value.documentation %}
                                            {{branch_value.description}}
                                            {% else %}
                                            {{branch_value.documentation|safe}}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>versions</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block footer-extra %}
<script>

    $(window).on('resize, load', function () {
        // Sidebar menu height is at least panel height
        $('.menu-nav').height($('.right-panel').height() + 'px');
    });


    $(document).ready(function () {
        $(".scroll").click(function(event){
            // stop the hash being appended to the url, and scroll to the value
            event.preventDefault();
            $('html, body').animate({scrollTop:$(this.hash).offset().top}, 800);
        });
    });

</script>
{% endblock %}
