{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %}FAQs{% endblock %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/about/about.min.css' %}"/>
{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url 'index' %}">Home</a></li>
<li class="active">FAQs</li>
{% endblock %}

{% block page_title %}FAQs{% endblock %}
{% block useful_links %}
<li role="presentation" ><a href="{% url 'documentation-syntax' %}">Syntax</a></li>
<li role="presentation" ><a href="{% url 'support-contact' %}">Contact Us</a></li>
{% endblock useful_links %}

{% block content_render %}

<div class="row" id="top">
    <div class="col-xs-12">
        <p class="lead">Browse frequently asked questions. If you still can't solve your issue, <a href="{% url 'support-contact' %}">contact us</a>.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <h2><a href="{% url 'faq-data-browser' %}">Data Browser</a></h2>
        <ul class="p sub-heading">
            <li><a href="{% url 'faq-data-browser' %}#1">&nbsp; What's a <i class="fa fa-code-fork"></i> branch?</a></li>
            <li><a href="{% url 'faq-data-browser' %}#2">&nbsp; What's a <i class="fa fa-map-pin"></i> version?</a></li>
            <li><a href="{% url 'faq-data-browser' %}">&nbsp; Good question </a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
        <h2>Query</h2>
        <ul class="p sub-heading">
            <li><a href="">&nbsp; Top Question</a></li>
            <li><a href="">&nbsp; Another relevant question</a></li>
            <li><a href="">&nbsp; Good question </a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
        <h2>My Account</h2>
        <ul class="p sub-heading">
            <li><a href="">&nbsp; Top Question</a></li>
            <li><a href="">&nbsp; Another relevant question</a></li>
            <li><a href="">&nbsp; Good question </a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <h2>Schema</h2>
        <ul class="p sub-heading">
            <li><a href="">&nbsp; Top Question</a></li>
            <li><a href="">&nbsp; Another relevant question</a></li>
            <li><a href="">&nbsp; Good question </a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
        <h2>Surveys</h2>
        <ul class="p sub-heading">
            <li><a href="">&nbsp; Top Question</a></li>
            <li><a href="">&nbsp; Another relevant question</a></li>
            <li><a href="">&nbsp; Good question </a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
        <h2>Hosting data at AAODC</h2>
        <ul class="p sub-heading">
            <li><a href="">&nbsp; Top Question</a></li>
            <li><a href="">&nbsp; Another relevant question</a></li>
            <li><a href="">&nbsp; Good question </a></li>
        </ul>
    </div>
</div>
<hr/>


</div>
{% endblock %}
{% block footer-extra %}

{% endblock %}