{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/selectize/selectize.css' %}"/>
{% endblock %}
{% block bodyclass %}{% endblock %}
{% block breadcrumbclass %}{% endblock %}

{% block content-options %}{% endblock %}
{% block content-delete %}{% endblock %}
{% block content-filter-form %}{% endblock %}

{% block content-page-header %}
<h1 class="text-uppercase">{{ name }}</h1>
{% endblock %}
{% block content-input %}

{% for key, value in response.data.items %}


{% endfor %}
<div class="container">
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4 text-center">
            <select type="text"  class="selectized" id="autocomplete-widget" placeholder="GALAXY">
                <option value="" disabled selected>Select an object</option>
                {% for key, value in response.data.items %}
                    <option value="{{value}}">{{key}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4 text-center">
            <a class="btn btn-block btn-md btn-primary" type="button" href="" disabled id="autocomplete-button">Go</a>
        </div>
    </div>
</div>

<script>

    $(document).ready(function() {
        $selector = $("#autocomplete-widget").selectize({
            closeAfterSelect:true,
            selectOnTab:true,
            placeholder: "GALAXY",
            create: false,
            maxItems:1,
            onChange: function(value) {
                $('#autocomplete-button').attr('href',value).attr('disabled', false)
            }
        });
    });

</script>
{% endblock %}

{% block content-DRF %}{% endblock %}
{% block footer-extra %}
<script src="{% static 'restapi_app/js/selectize/selectize.js' %}"></script>
{% endblock %}

