{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}Under Construction{% endblock %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/user-testing/user-testing.css' %}"/>
{% endblock %}


<
<div class="container-fluid breadcrumb-container {% block breadcrumbclass %}{% endblock %}">
    <div class="container">
        {% block breadcrumbs-outer %}
        {% block breadcrumbs %}
        <ul class="breadcrumb ">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active"><a href="{% url 'under-construction' %}">Under Construction</a></li>
        </ul>
        {% endblock %}
        {% endblock %}
    </div>
</div>

{% block content %}
<h1 class="headline">
    <span>Feature Tracking</span>
</h1>
<div class="container">
    <div class="row">
        <p>View the current status of current and future ASVO-AAT Node features. <a href="mailto:asvo@aao.gov.au">Email
            us</a> to suggest a feature. </p><br>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-condensed" id="UserTestingTable">
                <thead>
                <tr class="text-uppercase">
                    <th>Access Type</th>
                    <th>Link</th>
                    <th>Description</th>
                    <th>Priority</th>
                    <th>Development Status</th>
                    <th>Version</th>
                    <th>Documentation</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Survey Exploration</td>
                    <td><a href="{% url 'sami-list' %}" class="pull-right">Data Browser</a></td>
                    <td>I want to browse and download the available data, data products, and meta-data for a particular
                        survey.
                    </td>
                    <td>High</td>
                    <td><span class="yellow">User Testing</span></td>
                    <td>0.1</td>
                    <td><a href="{% url 'documentation' %}">Data Browser Doc</a></td>
                </tr>
                <tr>
                    <td>Create and return a sample from a survey</td>
                    <td><a href="{% url 'query-list' %}">SQL</a></td>
                    <td>I want to programatically create a sample of objects from a particular survey or surveys,
                        filtering on some parameter(s) and
                        return available rows of objects across several catalogues.
                    </td>
                    <td>High</td>
                    <td><span class="yellow">User Testing</span></td>
                    <td>0.1</td>
                    <td><a href="{% url 'documentation' %}">Query Doc</a></td>
                </tr>
                <tr>
                    <td>Build a query without programming knowledge</td>
                    <td><a href="{% url 'query-list' %}">Query Builder</a></td>
                    <td>I want to create a sample of objects as above, but with no programming (SQL) knowledge.</td>
                    <td>High</td>
                    <td><span class="yellow">User Testing</span></td>
                    <td>0.1</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Save and re-visit previous queries</td>
                    <td><a href="{% url 'query-list' %}">Query History</a></td>
                    <td>I want to re-visit the results of previous queries, and manage my query history.</td>
                    <td>High</td>
                    <td><span class="yellow">User Testing</span></td>
                    <td>0.1</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Single Object</td>
                    <td><a href="{% url 'sov-list' %}">SOV</a></td>
                    <td>I know the object identifier according to the survey, e.g., GAMA object G65406. I want to
                        explore
                        and download the available node data on the object, in a range of formats.
                    </td>
                    <td>High</td>
                    <td><span class="orange">In Development</span></td>
                    <td>0.1</td>
                    <td><a href="{% url 'documentation' %}">SOV Doc</a></td>
                </tr>
                <tr>
                    <td>Multiple objects from the same survey</td>
                    <td><a href="{% url 'query-list' %}">SQL</a></td>
                    <td>I have a list of object IDs or positions of sources that reside in an AAT-node survey (e.g.,
                        GAMA
                        sources G65406, G106376). I wish to return survey-derived parameters for those sources (e.g.,
                        redshifts from GAMA catalogue SpecObjAll).
                    </td>
                    <td>High</td>
                    <td><span class="yellow">User Testing</span></td>
                    <td>0.1</td>
                    <td><a href="{% url 'documentation' %}">Query Doc</a></td>
                </tr>
                <tr>
                    <td>Multiple objects from the same survey</td>
                    <td>Cutout Tool</td>
                    <td>I have a list of object IDs or positions of sources that reside in an AAT-node survey (e.g.,
                        GAMA
                        sources G65406, G106376). I wish to return survey-derived parameters for those sources (e.g.,
                        redshifts from GAMA catalogue SpecObjAll).
                    </td>
                    <td>Med</td>
                    <td><span class="red">In Design</span></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>Multiple Objects from different surveys</td>
                    <td>Position Search</td>
                    <td>I want to view the closest sources to an uploaded list of RA, DEC coordinates within some
                        radius.
                    </td>
                    <td>High</td>
                    <td><span class="red">In Design</span></td>
                    <td>0.1</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Cross match my sources with a survey</td>
                    <td>Position Search</td>
                    <td>I want to upload a list of RA, DEC positions and cross match to all available survey objects, to
                        within some radius.
                    </td>
                    <td>High</td>
                    <td><span class="red">In Design</span></td>
                    <td>0.1</td>
                    <td></td>
                </tr>
                <tr>
                    <td>At Position</td>
                    <td>Cone Search</td>
                    <td>I want to view available data for some radius around RA, DEC coordinates.</td>
                    <td>High</td>
                    <td><span class="red">In Design</span></td>
                    <td>0.1</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Look at available data</td>
                    <td>Data Explorer</td>
                    <td>I want to view imaging (where available) and source positions for the AAT surveys.</td>
                    <td>High</td>
                    <td><span class="red">In Design</span></td>
                    <td>0.1</td>
                    <td></td>
                </tr>
                <!--<tr>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--</tr>-->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block footer-extra %}
<script type="text/javascript">
</script>
{% endblock %}