{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}Under Construction{% endblock %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/user-testing/user-testing.css' %}"/>
{% endblock %}


<
<div class="container-fluid breadcrumb-container {% block breadcrumbclass %}{% endblock %}">
    <div class="container">
        {% block breadcrumbs-outer %}
        {% block breadcrumbs %}
        <ul class="breadcrumb ">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active"><a href="{% url 'under-construction' %}">Under Construction</a></li>
        </ul>
        {% endblock %}
        {% endblock %}
    </div>
</div>

{% block content %}
<h1 class="headline">
    <span>User Feedback</span>
</h1>

<div class="container">
    <div class="row">
        <div class="col-xs-offset-6 col-xs-6">
            <h5 class="text-right">
                <span class="red">In Design</span>
                <span class="orange">In Development</span>
                <span class="yellow">User Testing</span>
                <span class="green">Alpha Release</span>
            </h5>
        </div>
    </div>
    <div class="row">
        <table class="table table-condensed" id="UserTestingTable">
            <thead>
            <tr class="text-uppercase">
                <th>Date</th>
                <th>Feature</th>
                <th>Description</th>
                <th>Development Status</th>
                <th>Version</th>
                <th>Documentation</th>
                <th>Questions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>6th April 2016</td>
                <td>Styling and UI</td>
                <td>-</td>
                <td><span class="yellow">User testing</span></td>
                <td>0.1</td>
                <td>-</td>
                <td>First impressions. What works well, what doesn’t? What are you having trouble finding? What isn’t obvious? What problems do you have?</td>
            </tr>
            <tr>
                <td>13th April 2016</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="{% url 'sov-list' %}">Single Object Viewer</a></td>
                <td>-</td>
                <td><span class="orange">In Development</span></td>
                <td>0.1</td>
                <td><a href="{% url 'documentation' %}">SOV Doc</a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="{% url 'sov-list' %}">Data Browser</a></td>
                <td>-</td>
                <td><span class="yellow">User Testing</span></td>
                <td>0.1</td>
                <td><a href="{% url 'documentation' %}">Data Browser Doc</a></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
{% endblock %}
{% block footer-extra %}
<script type="text/javascript">
</script>
{% endblock %}