{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Description</th>
        <th>Data</th>
        <th>Type</th>
        <!--<th>Units</th>-->
        <th>URL</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{tpdata|key:tp|key:"description"}}</td>
        <td><div style="max-height:200px; overflow: scroll;">{{tpdata|key:tp|key:"value"}}</div></td>
        <td><code >{{tpdata|key:tp|key:"type"}}</code></td>
        <td><a href="{{tpdata|key:tp|key:'url'}}">{{tpdata|key:tp|key:"url"}}</a></td>
    </tr>
    </tbody>
</table>
