{% load internal_extras %}
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{tp}}">
        <a role="button" data-toggle="collapse" href="#collapse{{tp}}" aria-controls="collapse{{tp}}">
            {{ tpdata|key:tp |key:'pretty_name' }} {{tp}}
            <i class="fa fa-caret-down sub-heading"></i>
        </a>
        <span class="sub-heading pull-right"><span class="testing">trait_property</span>  <a href="{{ tpdata|key:tp |key:'url' }}" class="sub-heading"><i class="fa fa-arrow-circle-right"></i></a></span>
    </div>
    <div id="collapse{{tp}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{tp}}">
        <div class="panel-body">
            {% include 'data_browser/trait/sidebar-trait-property-panel-body.html' %}
        </div>
    </div>
</div>