{% load internal_extras %}
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{tp}}">
        <a role="button" data-toggle="collapse" href="#collapse{{tp}}" aria-controls="collapse{{tp}}">
            {{ tpdata|key:tp |key:'pretty_name' }} [{{tp}}]
        </a>
        <span class="sub-heading pull-right">trait_property</span>
    </div>
    <div id="collapse{{tp}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{tp}}">
        <div class="panel-body">
            {% include 'data_browser/trait/sidebar-trait-property-panel-body.html' %}
        </div>
    </div>
</div>