{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% load data_browser_tag %}
{% block title %}{{response.data.astroobject}} {{response.data.trait}}{% endblock %}
{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/sample/sample.min.css' %}"/>
{% endblock %}

{% block page_title %}{{response.data.astroobject}} {{response.data.trait}}{% endblock %}
{% block useful_links %}
<li role="presentation"><a href={% url 'data_browser:sample-list' sample_pk=response.data.sample %}>Back to
    {{response.data.sample}}</a></li>
<li role="presentation"><a href={% url 'data_browser:astroobject-list' sample_pk=response.data.sample astroobject_pk=response.data.astroobject %}>Back to
    {{response.data.astroobject}}</a></li>
{% endblock useful_links %}

{% block content-test %}
{% captureas survey %}{{response.data.sample}}{% endcaptureas %}
<div class="row">
    <div class="col-xs-12">

        le data

    </div>

</div>

{% endblock %}

{% block footer-extra %}
<script type="application/javascript">
    $('#ao_tabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
{% endblock %}
