{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %}Data Access{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'index' %}">Home</a></li>
<li class="active"> Data Access</li>
{% endblock %}

{% block page_title %} Data Access{% endblock %}
{% block useful_links %}
<li role="presentation"><a href="{% url 'documentation:topic-detail' slug='data-access' %}">Need Help?</a></li>
{% endblock useful_links %}

{% block sidebar %}
<h5>Page Contents</h5>
<div class="page-contents">

    <ul class="nav nav-pills nav-stacked nav-sidebar">
        <li role="presentation">
            <a href="#top-of-page" class="scroll">Overview</a></li>
        <li>
            <a href="#data-browser" class="scroll">Data Browser</a>
        </li>
        <li>
            <a href="#query-builder" class="scroll">Query Builder (SQL)</a></li>
        <li>
            <a href="#schema-browser" class="scroll">Schema Browser</a>
        </li>
        <li>
            <a href="#tap-service" class="scroll">TAP Service</a>
        </li>
        <li>
            <a href="#data-explorer" class="scroll">Data Explorer</a>
        </li>
        <li>
            <a href="#position-search" class="scroll">Position Search</a></li>
        <li>
            <a href="#api" class="scroll">API</a>
        </li>
    </ul>
</div>
<hr>
<div class="quick-links">
    <h5>Quick Links</h5>
    <ul class="nav-sidebar">
        <li><a href="{% url 'surveys' %}">Surveys</a></li>
    </ul>
</div>
{% endblock %}

{% block no_sidebar %}
<div class="jumbotron">
        <div class="container">
<div class="row">
    <div class="col-xs-12 text-center">
        <h1>ADC Data Access</h1>

        <p class="lead">
            Read more about each data access tool below.
        </p>
    </div>
</div>

<div class="row box-row">

    <div class="col-xs-12 col-sm-4 col-md-4">
        <a href="{% url 'data_browser:root-list' %}" class="box">
            <div class=" text-justify box-contents">

                <img class="img-responsive center-block" style="max-width:80px"
                     src="{% static 'restapi_app/img/documentation/data-browser.png'%}"><br>
                <div class="p text-center">Data Browser</div>

                <span class="sub">
                        View the available data products in each survey on an object-by-object basis. Download survey data products for individual objects, or for samples of objects.
                    </span>

                <span class="status btn-xs btn-default  text-success"><i class="fa fa-check"></i> beta</span>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4">
        <a href="" disabled class="box disabled">
            <div class=" text-justify box-contents">

                <img class="img-responsive center-block" style="max-width:80px"
                     src="{% static 'restapi_app/img/documentation/query.png'%}"><br>
                <div class="p text-center">Query Builder (SQL)</div>

                <span class=" sub">
                       Query the ADC database across all surveys.

                        Download data products for samples of objects from all surveys (where available).
                    </span>
                <span class="status btn-xs btn-default"><i class="fa fa-minus"></i> alpha</span>

            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4">
        <a href="{% url 'schema:root-list' %}" class="box">
            <div class=" text-justify box-contents">

                <img class="img-responsive center-block" style="max-width:80px"
                     src="{% static 'restapi_app/img/documentation/schema-browser.png'%}"><br>
                <div class="p text-center">Schema Browser</div>

                <span class=" sub">
                      Read comprehensive documentation on the types of data products hosted at ADC.
                    </span>
                <span class="status btn-xs btn-default text-success"><i class="fa fa-check"></i> beta</span>

            </div>
        </a>
    </div>

</div>
<div class="row box-row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <a href="" disabled class="box disabled">
            <div class=" text-justify box-contents">

                <img class="img-responsive center-block" style="max-width:80px"
                     src="{% static 'restapi_app/img/documentation/comingsoon.png'%}"><br>
                <div class="p text-center">TAP Service</div>

                <span class=" sub">
                Access to ADC via the table access protocol (TAP).
                POST queries to the database over HTTP and retrieve responses in
                a chosen format (CSV, VOTable). </span>
                <span class="status btn-xs btn-default"><i class="fa fa-minus"></i> alpha</span>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <a href="" disabled class="box disabled">
            <div class=" text-justify box-contents">

                <img class="img-responsive center-block" style="max-width:80px"
                     src="{% static 'restapi_app/img/documentation/comingsoon.png'%}"><br>
                <div class="p text-center">Data Explorer</div>

                <span class=" sub">
                A graphical interface allowing users to view imaging (where available) and overlaid source
                positions for the ADC-hosted surveys.</span>
                <span class="status btn-xs btn-default"><i class="fa fa-minus"></i> dev</span>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <a href="" disabled class="box disabled">
            <div class=" text-justify box-contents">

                <img class="img-responsive center-block" style="max-width:80px"
                     src="{% static 'restapi_app/img/documentation/comingsoon.png'%}"><br>
                <div class="p text-center">Position Search</div>

                <span class=" sub">
                View available data (survey-derived data products or observation coverage) for some radius around
                RA, DEC coordinates.
                Upload a list of positions and cross match to all available survey objects.</span>
                <span class="status btn-xs btn-default"><i class="fa fa-minus"></i> dev</span>
            </div>
        </a>
    </div>
</div>
<div class="row box-row">
    <div class="col-xs-12 col-sm-6">
        <a href="" disabled class="box disabled">
            <div class=" text-justify box-contents">

                <img class="img-responsive center-block" style="max-width:80px"
                     src="{% static 'restapi_app/img/documentation/comingsoon.png'%}"><br>
                <div class="p text-center">API</div>

                <span class=" sub">
              ADC's REST API provides programmatic access to read (and for survey team members, write) data,
                returning structured responses for you to use in your own code.

                Submit an SQL query, access previous query results (with authentication), read the meta data for
                a data product, and more. Responses are available in the popular JSON format, as well as FITS
                and CSV (where appropriate).

                ADC plans to document and release its API soon.</span>
                <span class="status btn-xs btn-default"><i class="fa fa-minus"></i> alpha</span>
            </div>
        </a>
    </div>
</div>


<div class="table-responsive">
    <!--<table class="table table-striped table_tool_overview">-->
        <!--<colgroup>-->
            <!--<col width="15%">-->
            <!--<col width="55%">-->
            <!--<col width="30%">-->
        <!--</colgroup>-->

        <!--<tbody class="vertical_align_middle">-->
        <!--<tr id="data-browser">-->
            <!--<td class="text-center"><img class="img-responsive"-->
                                         <!--src="{% static 'restapi_app/img/documentation/data-browser.png'%}">-->
                <!--<div class=half-br></div>-->
            <!--</td>-->
            <!--<td>-->
                <!--<h4><strong>Data Browser</strong></h4>-->
                <!--View the available data products in each survey on an object-by-object basis.-->
                <!--Includes visualizations, processing information and associated-->
                <!--properties. Download individual data products as multi-extension-->
                <!--FITS files, or define a sample of objects within a single survey and download selected data products for-->
                <!--those objects.-->

            <!--</td>-->
            <!--<td>-->

                <!--<a href="{% url 'data_browser:root-list' %}" class="text-uppercase"><strong>Go to Data Browser-->
                    <!--<i class="fa fa-angle-right"></i></strong></a>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr id="query-builder">-->
            <!--<td class="text-center"><img class="img-responsive"-->
                                         <!--src="{% static 'restapi_app/img/documentation/query.png'%}">-->
                <!--<div class=half-br></div>-->
            <!--</td>-->
            <!--<td>-->
                <!--<h4><strong>Query Builder (SQL)</strong></h4>-->
                <!--Query the ADC database across all surveys, filtering on some parameter(s) and return-->
                <!--available rows of objects. Sort by column, download table as CSV.-->

                <!--If your query result contains object IDs, the interface allows users to-->
                <!--select particular data products from any of the surveys hosted at ADC to bundle into a-->
                <!--downloadable-->
                <!--tarball.-->

            <!--</td>-->
            <!--<td>-->
                <!--In testing.-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr id="schema-browser">-->
            <!--<td class="text-center"><img class="img-responsive"-->
                                         <!--src="{% static 'restapi_app/img/documentation/schema-browser.png'%}">-->
                <!--<div class=half-br></div>-->
            <!--</td>-->
            <!--<td>-->
                <!--<h4><strong>Schema Browser</strong></h4>-->
                <!--The schema browser allows you to explore the types of data product each survey team has-->
                <!--released, how-->
                <!--each-->
                <!--was derived (reduction pipelines, analysis method etc), and any associated meta data.-->
            <!--</td>-->
            <!--<td>-->

                <!--<a href="{% url 'schema:root-list' %}" class="text-uppercase"><strong>Go to Schema Browser-->
                    <!--<i class="fa fa-angle-right"></i></strong></a>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr id="tap-service">-->
            <!--<td class="text-center"><img class="img-responsive"-->
                                         <!--src="{% static 'restapi_app/img/documentation/comingsoon.png'%}">-->
                <!--<div class=half-br></div>-->
            <!--</td>-->
            <!--<td>-->
                <!--<h4><strong>TAP Service</strong></h4>-->
                <!--ADC provides query access to our databases via the table access protocol (TAP).-->
                <!--This services enables users to POST queries to the database over HTTP and retrieve responses in-->
                <!--a chosen format (CSV, VOTable). <a href="http://www.star.bris.ac.uk/~mbt/topcat/">TOPCAT</a>-->
                <!--(Tool for OPerations on Catalogues And Tables), an interactive graphical viewer and editor for-->
                <!--tabular-->
                <!--data, is also a fantastic tool for TAP service interaction.-->
            <!--</td>-->
            <!--<td>-->
                <!--In Development.-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr id="data-explorer">-->
            <!--<td class="text-center">-->
                <!--<img class="img-responsive"-->
                     <!--src="{% static 'restapi_app/img/documentation/comingsoon.png'%}">-->
                <!--<div class=half-br></div>-->
            <!--</td>-->
            <!--<td>-->
                <!--<h4><strong>Data Explorer</strong></h4>-->
                <!--A graphical interface allowing users to view imaging (where available) and overlaid source-->
                <!--positions for the ADC-hosted surveys.-->
            <!--</td>-->
            <!--<td>-->
                <!--Coming Soon.-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr id="position-search">-->
            <!--<td class="text-center"><img class="img-responsive"-->
                                         <!--src="{% static 'restapi_app/img/documentation/comingsoon.png'%}">-->
                <!--<div class=half-br></div>-->
            <!--</td>-->
            <!--<td>-->
                <!--<h4><strong>Position Search</strong></h4>-->
                <!--View available data (survey-derived data products or obervation coverage) for some radius around-->
                <!--RA, DEC coordinates.-->
                <!--Upload a list of RA, DEC positions and cross match to all available survey objects, to within-->
                <!--some radius.-->
            <!--</td>-->
            <!--<td>-->
                <!--Coming Soon.-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr id="api">-->
            <!--<td class="text-center"><img class="img-responsive"-->
                                         <!--src="{% static 'restapi_app/img/documentation/comingsoon.png'%}">-->
                <!--<div class=half-br></div>-->
            <!--</td>-->
            <!--<td>-->
                <!--<h4><strong>API</strong></h4>-->
                <!--ADC's REST API provides programmatic access to read (and for survey team members, write) data,-->
                <!--returning structured responses for you to use in your own code.-->

                <!--Submit an SQL query, access previous query results (with authentication), read the meta data for-->
                <!--a data product, and more. Responses are available in the popular JSON format, as well as FITS-->
                <!--and CSV (where appropriate).-->

                <!--ADC plans to document and release its API soon.-->
            <!--</td>-->
            <!--<td>-->
                <!--In Development.-->
            <!--</td>-->
        <!--</tr>-->


        <!--</tbody>-->
    <!--</table>-->
</div>
</div></div>
{% endblock %}

