{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}{{objname}}{% endblock %}
{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/selectize/selectize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/sample/sample.min.css' %}"/>
{% endblock %}
{% block bodyclass %}{% endblock %}
{% block breadcrumbclass %}{% endblock %}

{% block content-options %}{% endblock %}
{% block content-delete %}{% endblock %}
{% block content-filter-form %}{% endblock %}

{% block content-page-header %}
<h1>{{ objname }}</h1>
{% endblock %}

{% block content %}

{% for key, value in response.data.items %}
{% endfor %}

{% captureas survey_name %}{{objname | upper}}{% endcaptureas %}
<h1 class="headline">
    <span>{{survey_name}}</span>
    {% captureas survey %}{% get_pks request.path -2 %}{% endcaptureas %}
    {% surveylogoimglink survey %}
</h1>
<div class="row">
    <div class="col-sm-3">
        <h2 class="headline"><span>Data</span></h2>
        <div class="panel panel-default">
            <div class="panel-heading panel-background-grey">
                <h3 class="panel-title">Data Browser</h3>
            </div>
            <div class="panel-body">
                <p>Browse the available {{survey_name}} data for each object. Search for an object below.</p>
                <div class="half-br"></div>
                <select type="text" class="searchbox selectized text-center" id="autocomplete-widget" placeholder="SEARCH">
                <option value="" disabled selected>Select an object</option>
                {% for key, value in response.data.items %}
                <option value="{{value}}">{{key}}</option>
                {% endfor %}
                </select>
            <a class="btn btn-block btn-md btn-primary" type="button" href="" disabled
               id="autocomplete-button">Go</a>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-background-grey">
                <h3 class="panel-title">Single Object Viewer</h3>
            </div>
            <div class="panel-body">
               <p>View a summary of main data products: <a href="{% url 'sov-list'%}">SOV</a>.</p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-background-grey">
                <h3 class="panel-title">{{survey_name}} Data Release Details</h3>
            </div>
            <div class="panel-body">
                <p>{{survey_name}} Survey DR1.0 Info</p>
                <p>Download a list of available objects in {{survey_name}} DR1.0.</p>
                {% if 'GET' in allowed_methods %}
                <form id="get-form" class="form-inline">
                    <fieldset>
                        {% if api_settings.URL_FORMAT_OVERRIDE %}
                        <div class="btn-group  btn-block format-selection">
                            <button class="btn btn-default btn-block btn-md dropdown-toggle js-tooltip"
                                    data-toggle="dropdown" title="Specify a format for the request">
                                Download <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for format in available_formats %}
                                {% if format != 'api' %}
                                    <li>
                                        <a class="js-tooltip format-option"
                                           href="{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}"
                                           rel="nofollow" title="Download {{ name }} with the format set to `{{ format }}`">
                                            {{ format }}</a>
                                    </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                        <a class="btn btn-default btn-sm js-tooltip" href="{{ request.get_full_path }}" rel="nofollow"
                           title="View user {{user}}'s {{ name }}">GET</a>
                        {% endif %}
                    </fieldset>
                </form>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="col-sm-9">
        <h2 class="headline"><span>About</span></h2>
        {% with "data_browser/survey/"|add:objname|add:"/about.html" as template %}
        {% include template %}
        {% endwith %}
        <h2 class="headline"><span>Documentation</span></h2>
        <p>
            <a href="{% url 'under-construction' %}">{{survey_name}} docs</a><br>
            <a href="{% url 'documentation-schema-browser' %}"> Schema Browser</a>
        </p>
    </div>
    <div class="col-sm-4">
        </div></div>
<div class="row">

</div>

<script>

    $(document).ready(function () {
        $selector = $("#autocomplete-widget").selectize({
            closeAfterSelect: true,
            selectOnTab: true,
            placeholder: "SEARCH...",
            create: false,
            maxItems: 1,
            onChange: function (value) {
                $('#autocomplete-button').attr('href', value).attr('disabled', false)
            }
        });
    });

</script>
{% endblock %}

{% block content-DRF %}{% endblock %}
{% block footer-extra %}
<script src="{% static 'restapi_app/js/selectize/selectize.js' %}"></script>
{% endblock %}

