{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}Download History{% endblock %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'download/css/download/download.min.css' %}"/>
{% endblock %}

{% block breadcrumbs %}
<li class="active"><a href="{% url 'index' %}">Home</a></li>
<li>Download History</li>
{% endblock %}

{% block page_title %}Download History{% endblock %}
{% block useful_links %}
<li role="presentation" ><a href="{% url 'documentation:topic-detail' slug='downloading-data' %}">Documentation</a></li>
{% endblock useful_links %}

{% block content_render %}
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <p class="lead">Re-download previous selections of data products and manage your storage. </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <h2>Previous Downloads</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                Download History
                <span class="pull-right sub-heading">
                    <a href="" data-toggle="popover" data-html="true" class="popover-anchor" data-trigger="focus"
                        data-content="<p>There are three stages of download:</p><dl><dt class='sub-heading'>In Progress</dt><dd><p>Your Download is underway.</p></dd><dt class='text-success'>Ready to Download</dt><dd><p>Your Download is ready, please download it within 7 days.</p></dd><dt class='text-error'>Expired</dt><dd><p>Your Download is no longer valid.</p></dd></dl>"
                        data-placement="left"><i class="fa fa-info-circle"></i></a>
                </span>
            </div>
            <table class="table table-hover">
                <tbody>
                {% for this in response.data.results %}
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-sm-9 col-xs-12">
                                    <div class="p"><a href="{{this.url}}">{{this.title}}</a></div>
                                    <!--<p>{{this.downloaditems}}</p>-->
                                    <div class="version p">
                                        <span class="sub-heading"><i class="fa fa-clock-o"></i> {{this.updated}}</span>
                                        <span class="sub-heading"><i class="fa fa-database"></i> {{this.size}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 text-right col-xs-12 options">
                                    <span class="{% if 'rogress' in this.downloadlink %}sub-heading{% elif 'xpired' in this.downloadlink %}text-error{% endif %}">
                                        {{this.downloadlink}}
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        {% if paginator %}
        <nav class="nav-pagination">
            {% get_pagination_html paginator %}
        </nav>
        {% endif %}
    </div>

    <div class="col-sm-4 col-xs-12">
        <h2>Usage Summary</h2>
        <div class="panel panel-default panel-statistics">
            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item text-right">
                    <div id="statistics"><!-- Plotly chart will be drawn inside this DIV --></div>
                    <div class="sub-heading">
                        <i class="fa fa-square text-warning"></i> Query
                        <i class="fa fa-square text-error"></i> Downloads
                        <i class="fa fa-square text-success"></i> Free
                    </div>


                </li>
                <li class="list-group-item">Number of Downloads <span class="badge">{{response.data.count}}</span>
                </li>
                <li class="list-group-item">Download Storage Size
                    <span class="badge">20MB</span>
                </li>

            </ul>
        </div>
    </div>
</div>
<script src="{% static 'restapi_app/js/plotly/plotly.latest.min.js' %}"></script>
<script src="{% static 'restapi_app/js/plotly/custom/usage.js' %}"></script>
{% endblock %}