{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}Download{% endblock %}

{% block head-extra %}
<script type="text/javascript" src="{% static 'download/js/controllers.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'download/css/download/download.min.css' %}"/>
{% endblock %}

{% block page_title %}Download{% endblock %}
{% block useful_links %}
<li role="presentation" ><a href="{% url 'query-create-list' %}">New Query</a></li>
<li role="presentation" ><a href="{% url 'data_browser:data-browser-list' %}">Data Browser</a></li>
{% endblock useful_links %}

{% block content_render %}
    <div class="row">
        <div class="col-xs-12">
            <p class="lead">Download Data from AAODC</p>
            <add-download-button  url="/asvo/data-browser/sami/9351/line_map-HALPHA/" formats="['json', 'fits']"></add-download-button>

        </div>
    </div>
    <div class="row" ng-controller="DownloadController as ctrl" id="downloadController">
        <div class="col-sm-8 download-options">
            {% verbatim %}
            <div class="panel panel-default panel-download">
                <div class="panel-heading text-uppercase">
                    Individual Object Data Products
                </div>
                <table class="table">
                    <tbody>
                        <tr ng-repeat="p in ctrl.pretty_data.objects track by $index" ng-if="ctrl.items | isNotEmpty">
                            <td>
                                <div class="row">
                                    <div class="col-sm-9 col-xs-12">
                                        <h4 class="text-info" style="border:0">
                                            {{p.sample}} / {{p.ao}} /
                                            <span ng-repeat="t in p.trait">
                                                <span ng-if="!$last">{{t}} /</span>
                                                <a ng-if="$last" ng-href="{{p.url}}">{{t}}</a>
                                            </span>
                                        </h4>
                                        <p class="version">
                                            <span class="sub-heading"><i class="fa fa-file-code-o"></i> {{p.format}}</span>
                                            <span class="sub-heading"><i class="fa fa-map-marker"></i> {{p.version}} V1.0</span>
                                            <span class="sub-heading"><i class="fa fa-database"></i> {{this.size}} XMB</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-3 text-right col-xs-12 options">
                                        <a role="button" class="text-normal">
                                            <i class="fa fa-times text-error" ng-click="ctrl.removeItem(p.id)"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="ctrl.pretty_data.objects | isEmpty">
                            <td>
                                <div class="row">
                                    <div class="col-xs-12">
                                         <h4 style="border:0">
                                            No objects
                                        </h4>
                                        {% endverbatim %}
                                        <p>Visit the <a href="{% url 'data_browser:data-browser-list'%}">Data
                                            Browser</a> to add data products for individual objects.</p>
                                        {% verbatim %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel panel-default panel-download">
                <div class="panel-heading text-uppercase">
                    Sample Data Products
                </div>
                <table class="table">
                    <tbody>
                        <tr ng-repeat="s in ctrl.pretty_data.samples track by $index" ng-if="ctrl.items | isNotEmpty">
                            <td>
                                <div class="row">
                                    <div class="col-sm-9 col-xs-12">
                                        <h4 class="text-info" style="border:0">
                                            <a href="{{s.url}}">SAMPLE ID: {{s.sample_id}}</a>
                                        </h4>
                                        <p class="version">
                                            <span class="sub-heading">Link to sample: <a href="{{s.url}}">Query History {{s.sample_id}}</a> </span>
                                            <span class="sub-heading"><i class="fa fa-database"></i> {{this.size}} XMB</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-3 text-right col-xs-12 options">
                                        <a role="button" class="text-normal">
                                            <i class="fa fa-times text-error" ng-click="ctrl.removeItem(s.id)"></i>
                                        </a>
                                    </div>
                                    <div class="col-xs-12">
                                        <h4>Data Products</h4>
                                    </div>
                                    <div class="col-sm-6 col-xs-12" ng-repeat="(survey, data) in s.options track by $index">
                                            <strong>{{survey}}</strong>
                                            <p ng-repeat="product in data">{{product.pretty_name}} <i
                                                    class="fa fa-code-fork"></i> {{product.branch}}&nbsp;</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="ctrl.pretty_data.samples | isEmpty">
                            <td>
                                <div class="row">
                                    <div class="col-xs-12">
                                         <h4 style="border:0">
                                            Download Empty!
                                        </h4>
                                        {% endverbatim %}
                                        <p>Visit the <a href="{% url 'query-create-list' %}">Query Builder</a> to add
                                                              data products for a sample of objects.</p>
                                        {% verbatim %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endverbatim %}
        </div>
        <div class="col-sm-4 download-options" ng-if="ctrl.items | isNotEmpty">
            <h4>Ready to Download?</h4>
            <p>You can still add more data to the current download (visit the <a href="{% url 'data_browser:data-browser-list'%}">Data
                                            Browser</a> or <a href="{% url 'query-create-list' %}">Query Builder</a>), or if you're ready to download this selection of data,
                        submit the form below to begin the download.</p>
            <br>
            {% if post_form %}
                <div id="post-object-form">
                    {% with form=post_form %}
                    <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" novalidate>
                        <fieldset>
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label label-sub-heading">
                                    Download Title
                                    <span class="sub-heading" id="title_info">
                                        <a href="" data-toggle="popover" data-html="true" class="popover-anchor"
                                           data-trigger="focus"
                                           data-content="<p>Your list of data to download will be saved in your <a href='{% url 'download-list'%}'>download history</a>. Give your download a meaningful name so you can revisit it later.</p>"
                                           data-placement="left"><i class="fa fa-info-circle"></i></a>
                                    </span>
                                </label>
                                <input name="title" class="form-control" type="text" placeholder="My Download">
                            </div>
                            <div class="form-group">
                                <label class="control-label sr-only">
                                  Download Items
                                </label>
                                {% verbatim %}
                                <!--<input name="downloaditems" class="form-control" value="{{ctrl.download}}">-->
                                <input type="hidden" name="downloaditems" ng-value="ctrl.download" />

                                {% endverbatim %}
                            </div>

                            <div class="form-actions">
                                <button class="btn btn-primary btn-sm text-uppercase pull-right" title="Download data in the download" id="download-submit">
                                    <i class="fa fa-download"></i> Download
                                </button>
                            </div>

                            <a class="btn btn-default btn-sm text-uppercase"
                                    title="Delete all items in the download" id="emptyDownload"  data-toggle="modal" data-target="#empty-modal-sm">
                                <i class="fa fa-trash-o text-error"></i> Empty
                            </a>

                        </fieldset>
                    </form>
                    {% endwith %}
                </div>
            {% endif %}

            <hr>

            <div class="panel panel-default" ng-if="ctrl.items | isNotEmpty">
                <div class="panel-body">
                    <span class="text-uppercase">Summary</span>
                </div>
                {% verbatim %}
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item"><strong>Total</strong></li>
                    <li class="list-group-item list-group-sub-item">Data <span class="badge">{{ctrl.item_count}}</span>
                    </li>
                    <li class="list-group-item"><strong>Per Object</strong></li>
                    <li class="list-group-item list-group-sub-item" ng-repeat="obj in ctrl.summary.byObject">{{obj.ao}} <span class="badge">{{obj.count}}</span></li>
                    <li class="list-group-item"><strong>Per Survey</strong></li>
                    <li class="list-group-item list-group-sub-item" ng-repeat="obj in ctrl.summary.bySample">{{obj.sample}} <span class="badge">{{obj.count}}</span></li>
                    <li class="list-group-item">Estimated Download Size <span class="badge">5MB</span></li>

                </ul>
                {% endverbatim %}
            </div>

            <!-- Confirmation modal -->
            <div class="modal fade" id="empty-modal-sm" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-body">
                            <strong> ARE YOU SURE? </strong>
                            <p>Emptying the Download is irreversible. </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-sm btn-default">CANCEL</button>
                            {% verbatim %}
                                <button class="btn btn-error btn-sm text-uppercase"
                                        title="Delete all items in the download" id="checkout-empty"  data-dismiss="modal"
                                        ng-click="ctrl.emptyDownload()"> Empty
                                </button>
                            {% endverbatim %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit html -->
        <div class="col-sm-6 col-xs-12">
            <div class="panel panel-default" style="display:none" id="progress-indicator">
                <div class="panel-body success"></div>
            </div>
            {% if response.status_code == 201 and response.data.title and response.data.created and response.data.url %}
            <div class="panel panel-default">
                <div class="panel-body success">
                    <p><a href="{{response.data.url}}">{{response.data.title}}</a> was succesfully created on {{response.data.created}}.</p>
                    <p>Your Download has been saved at <a href="{{response.data.url}}">{{response.data.url}}</a>.
                        Re-visit and re-run previous downloads in your <a href="{% url 'download-list' %}">Download History</a>.</p>
                </div>
            </div>
            <div ng-click="ctrl.emptyDownload()" id="success-empty-download"></div>
            <!-- If successful, empty the Download -->
            <script>
                $(function(){
                    $('#checkout-empty').click();
                })
            </script>
            {% endif %}
        </div>
    </div>

<script>

    $(function () {

        // HACK inject bootstrap classes to change form layout (DRF restricts to horizontal)
        $('form .form-group').each(function () {
            $(this).children('label.col-sm-2').removeClass('col-sm-2');
            if ($(this).children('.col-sm-10').length) {
                $(this).children('.col-sm-10').replaceWith(function () {
                    return $(this).contents();
                });
            }
        });

        $('#download-submit').click(function(){
            $(this).attr('disabled','disabled');
            $(this).html('SUBMITTING... <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>');
            fHideDownloadOptions();
            setTimeout(function(){
                // Timeout is needed here for safari compatibility
                // .submit event loop doesn't allow for repaint, so animate first, then submit.
                $('#post-object-form form').submit();
            }, 1000);
        });

        function fHideDownloadOptions(){
            // Hide query options on successful submit
            setTimeout(function(){
                $('#progress-indicator').show();
                $('.download-options').hide(500);
                $('#progress-indicator .panel-body').html('<strong>DOWNLOAD SUBMITTED </strong> on '+new Date().toLocaleString()+'<br>')
                    .append('<em><p class="loading">Processing <span>.</span><span>.</span><span>.</span></p></em><p> Please do not close this page, your download will begin automatically.</p>')
            }, 500)
        };

    });

</script>


{% endblock %}