{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}Download History{% endblock %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'download/css/download/download.min.css' %}"/>
{% endblock %}

{% block breadcrumbs %}
<li class="active"><a href="{% url 'index' %}">Home</a></li>
<li>Download History</li>
{% endblock %}

{% block page_title %}Download History{% endblock %}
{% block useful_links %}
{% endblock useful_links %}

{% block content_render %}

<div class="row">
    <div class="col-sm-8">
        <div class="panel panel-default panel-download">
            <div class="panel-heading text-uppercase">
                <strong> Download </strong>
                <i class="fa fa-download pull-right panel-icon"></i>
            </div>
            <div class="panel-body">
                <div class="table-responsisve">
                    <table class="table table-hover">
                        <colgroup>
                            <col span="1" style="width: 20%;">
                            <col span="1" style="width: 30%;">
                            <col span="1" style="width: 20%;">
                            <col span="1" style="width: 10%;">
                            <col span="1" style="width: 20%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Download Request</th>
                            <th>Download Link
                                <a href="#" data-toggle="popover" data-html="true" class="popover-anchor" data-trigger="focus"
                                    data-content="<p>There are three stages of download:</p><dl><dt class='text-warning'>In Progress</dt><dd>Your Download is underway.</dd><dt class='text-success'>Ready to Download</dt><dd>Your Download is ready, please download it within 7 days.</dd><dt class='text-error'>Expired</dt><dd>Your Download has expired and has been removed from our servers.</dd></dl>"
                                    data-placement="top"><i class="fa fa-info-circle"></i></a></th>
                            <th>Size <a href="#" data-toggle="popover" class="popover-anchor" data-trigger="focus"
                                        data-content="Size on disk in MB" data-placement="top"><i
                                    class="fa fa-info-circle"></i></a></th>
                            <th>Date <a href="#" data-toggle="popover" class="popover-anchor" data-trigger="focus"
                                        data-content="Most recent downloads are shown first." data-placement="top"><i
                                    class="fa fa-info-circle"></i></a></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in response.data.results %}
                        <tr>
                            <td><a href="{{obj.url}}">{{obj.title}}</a></td>
                            <td>{{obj.downloaditems}}</td>
                            <td class="{% if 'progress' in obj.downloadlink %}text-success{% elif 'expired' in obj.downloadlink %}text-error{% else %}{% endif %}">
                                <em>{{obj.downloadlink}}</em>
                            </td>
                            <td>{{obj.size}}</td>
                            <td>{{obj.created}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% block content-download %}
                    {% if 'GET' in allowed_methods %}
                        <form id="download-list" class="custom-inline">
                            {% if api_settings.URL_FORMAT_OVERRIDE %}
                            <span class="button-dropdown text-right pull-right" data-buttons="dropdown">
                                <button class="button button-small text-uppercase">
                                   Download History <i class="fa fa-caret-down"></i>
                                </button>

                                <ul class="button-dropdown-list button-dropdown-list-small">
                                  {% for format in available_formats %}
                                    {% if format != "api" %}
                                        <li>
                                            <a class="js-tooltip" href="{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}"
                                               rel="nofollow" target="_blank"  title="Download your Download History with the format set to `{{ format }}`">{{ format }}</a>
                                        </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                              </span>
                            {% else %}
                                <a class="btn btn-default btn-sm js-tooltip" href="{{ response.data.url }}" rel="nofollow"
                                   title="Download {{user}}'s Download History">PERMANENT LINK</a>
                            {% endif %}
                        </form>
                    {% endif %}
                {% endblock %}
            </div>
        </div>


    </div>
    <div class="col-sm-4">
        <div class="panel panel-default panel-statistics">
            <div class="panel-body">
                <strong class="text-uppercase">Usage Summary</strong>
                <i class="fa fa-pie-chart pull-right panel-icon"></i>
            </div>

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item text-right">
                    <div id="statistics"><!-- Plotly chart will be drawn inside this DIV --></div>

                    <i class="fa fa-square text-warning"></i> Query
                    <i class="fa fa-square text-error"></i> Downloads
                    <i class="fa fa-square text-success"></i> Free

                </li>
                <li class="list-group-item"><strong>Total</strong></li>
                <li class="list-group-item list-group-sub-item">Downloads <span
                        class="badge">{{response.data.count}}</span>
                </li>
                <li class="list-group-item list-group-sub-item">Disk Usage
                    <span class="badge">20MB</span>
                </li>

            </ul>
        </div>
    </div>
</div>
<script src="{% static 'restapi_app/js/plotly/plotly.latest.min.js' %}"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
var trace1 = {
    x: [30],
    y: [1],
    name: 'query',
    orientation: 'h',
    marker: {
        color: '#f1cb76',
        width: 1
    },
    type: 'bar',
    hoverinfo: 'none',
};

var trace2 = {
    x: [10],
    y: [1],
    name: 'downloads',
    orientation: 'h',
    type: 'bar',
    marker: {
        color: '#a94442',
        width: 1
    }, hoverinfo: 'none',
};
var trace3 = {
    x: [60],
    y: [1],
    name: 'free',
    orientation: 'h',
    type: 'bar',
    marker: {
        color: '#5aa8d8',
        width: 1
    }, hoverinfo: 'none',
};
var data = [trace1, trace2, trace3];

var annotationContent = [];
var x_pos = 0;
for (var i = 0; i < data.length; i++) {
    x_pos += data[i]['x'][0];
    var result = {
        x: x_pos-data[i]['x'][0]/2,
        y: 1,
        text: data[i]['x'][0]+'%',
        xanchor: 'center',
        yanchor: 'center',
        showarrow: false
    };
    annotationContent.push(result);
}
console.log(annotationContent)
var layout = {
    annotations: annotationContent,
    margin: {
        l: 0,
        r: 0,
        b: 0,
        t: 0,
        pad: 0
    },
    xaxis: {
        autorange: false,
        showgrid: false,
        zeroline: false,
        showline: false,
        autotick: true,
        ticks: '',
        fixedrange: true,
        showticklabels: false,
        range: [0,100],

    },
    yaxis: {
        autorange: true,
        showgrid: false,
        zeroline: false,
        showline: false,
        autotick: true,
        ticks: '',
        showticklabels: false,
        fixedrange: true
    },
    height: 30,
    width: document.getElementById('statistics').offsetWidth,
    barmode: 'stack',
    showlegend: false
};

Plotly.newPlot('statistics', data, layout, {displayModeBar: false});
</script>
{% endblock %}