{% load internal_extras %}
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{tp}}">
        <a role="button" data-toggle="collapse" href="#collapse{{tp}}" aria-controls="collapse{{tp}}">
            <span class="sub-heading">{{ tpdata|key:tp |key:'pretty_name' }}</span>
            <i class="fa fa-caret-down sub-heading"></i>
        </a>
        <span class="sub-heading pull-right"><span class="testing">trait_property</span> <a href="{{ tpdata|key:tp |key:'url' }}" class="sub-heading"><i class="fa fa-arrow-circle-right"></i></a></span>
        <br>
        {% if tpdata|key:tp|key:"type" %}
            {% if tpdata|key:tp|key:"type" == "float" %}
                <span>{{tpdata|key:tp|key:"value"|truncatechars:16}}</span>
            {% elif tpdata|key:tp|key:"type" == "string" %}
                <span>{{tpdata|key:tp|key:"value"|truncatechars:16}}</span>
            {% endif %}
        {% endif %}
    </div>
    <div id="collapse{{tp}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{tp}}">
        <div class="panel-body">
            {% include 'data_browser/trait/sidebar-trait-property-panel-body.html' %}
        </div>
    </div>
</div>