{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %} Home {% endblock %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/home/home.min.css' %}"/>
{% endblock %}

{% block bodyclass %}galaxy-dark{% endblock %}
{% block navbarinverse %}navbar-inverse{% endblock %}
{% block breadcrumbclass %}inverted{% endblock %}
{% block breadcrumbs %}
<li class="active"><a href="{% url 'index' %}">Home</a></li>
{% endblock %}

{% block page_title_banner %} {% endblock page_title_banner %}

{% block content_render %}
<section class="welcome row">
    <div class="container">
        <div class="content">

            <div class="logo row">
                <img src="{% static 'restapi_app/img/logo/asvo-small-white.png' %}" class=""
                     alt="ASVO - All-Sky Virtual Observatory">
                <span>ASVO - All-Sky Virtual Observatory</span>
            </div>

            <div class="key-message row">
                <div class="left col col-md-6">
                    <p>Australian<br>Astronomical<br>Observatory</p>
                </div>
                <div class="right col col-md-6">
                    <p style="margin-top:25px"><strong>Query the Australian Astronomical Observatory archive</strong>
                        and retrieve data from current and
                        legacy surveys. Bring your code to the data.</p>

                </div>
            </div>

            <div class="infographic row">
                <div class="col col-md-3 col-sm-3">
                    <a href="{% url 'query-create-list'%}">
                        <div class="circle">
                            <i class="fa fa-search"></i>
                            <div class="line"></div>
                        </div>
                    </a>
                    <p>Query</p>
                </div>
                <div class="col col-md-3 col-sm-3">
                    <a href="{% url 'data_browser:data-browser-list'%}">
                        <div class="circle">
                            <i class="fa fa-database"></i>
                            <div class="line"></div>
                        </div>
                    </a>
                    <p>Data</p>
                </div>
                <div class="col col-md-3 col-sm-3">
                    <a href="{% url 'under-construction'%}" class="disabled">
                        <div class="circle disabled">
                            <i class="fa fa-map-signs"></i>
                            <div class="line"></div>
                        </div>
                    </a>
                    <p class="disabled">Explore</p>
                </div>

                <div class="col col-md-3 col-sm-3">
                    <a href="{% url 'under-construction' %}" class="disabled">
                        <div class="circle disabled">
                            <i class="fa fa-code"></i>
                        </div>
                    </a>
                    <p class="disabled">Code</p>
                </div>

            </div>

            <div class="cta row">
                <!--<a href="{% url 'sov-list' %}" title="Explore ASVO-AAT Node Single Object Viewer">SOV</a>-->

                <a type="button" title="View your previous queries."
                   {% if user.is_authenticated %}
                    href="{% url 'user-profile-detail' username=user %}"
                   {% else %}
                    href="{% url 'rest_framework:login' %}"
                   {% endif %}
                    class="white-tooltip">My Account</a>

                <a type="button" title="Browse current release documenation."
                   class="white-tooltip" href="{% url 'documentation:topic-list' %}">Documentation</a>
            </div>

            <div class="note row">
                <p>* The AAT Node of the ASVO is the subject of a funding agreement between the Commonwealth Department
                    of Industry, Innovation and Science (DoIIS) and Astronomy Australia Limited (AAL). AAL has
                    coordinated with the Australian Astronomical Observatory (AAO), as the owners and operators of the
                    AAT, to develop this ASVO Node. This is a 2 year project with completion expected by June 2017.</p>
            </div>

        </div>
    </div>
</section>
{% endblock %}