{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}ADC API{% endblock %}

{% block main %}
<h1>API</h1>
<h3>Introduction</h3>
<p>The AAO Data Central API provides a simple RESTful interface with lightweight JSON-formatted responses to power the
    ADC website's many features, including queries, data retrieval, feature requests, profile management, authentication
    and email support.
</p>

<p>
    Users are able to access public data via the API in one of three formats: JSON, FITS or CSV.
    Using session or token authentication, users are able execute queries, and both read and write private data (e.g.,
    query history).
</p>
<hr>
<p>You can read the API documentation <a href="{% url 'api-docs' %}">here</a>, or browse the API endpoints using the menu on the left.</p>

{% endblock %}