/*####### GLOBAL #######*/

/*####### HOMEPAGE #######*/

/*####### QUERYFORM #######*/
    /*### STYLING ###*/
    h4{background-color:#F8F8F8;padding:15px;margin-bottom:15px;}
    .form-container{border:solid 1px #f8f8f8;}
    #remove-field{margin-left:15px;}
    .control-label{margin-top:7px;text-align:right;padding:0px;}

    .input-group-btn{width:40px;margin-left:auto; margin-right:0;display:block;}
    #returnWrapper, #joinsWrapper, #constraintsWrapper{margin-bottom:30px;}

    /*### BEHAVIOUR ###*/
    .form-group{
        margin-bottom:15px;
        position:relative;
        min-height:1px;
        overflow:auto; /*overflow:auto stops form-group collapsing (height=0) because content is all floats*/
        width:100%
    }
    /*necessary tweaks to multiselect*/
    #returnWrapper .form-group, #joinsWrapper .form-group, #constraintsWrapper .form-group{overflow:visible;} /* allow for multiselect dropdown list to be seen*/
    .multiselect-selected-text{width:100px;max-width:100px} /*control width*/
    button.multiselect{white-space:normal !important; text-align:left;} /*wrap text when goes above max width*/

/*####### Media Queries #######*/


/*TEST*/
