/*####### GLOBAL #######*/
    /*### STYLING ###*/
    .navbar-brand{padding:0px}
    .navbar-brand img{height:50px}
    h4{background-color:#F8F8F8;padding:15px;margin-bottom:15px;}

/*####### HOMEPAGE #######*/

/*####### QUERYFORM #######*/
    /*###FORM STYLING###*/
    .form-container{border:solid 1px #f8f8f8;}
    .control-label{margin-top:7px;text-align:right;}
    #selectWrapper, #joinWrapper, #filterWrapper{margin-bottom:30px;}
    #queryForm [class*=' col-'] [class*=' col-'] {padding-right:0px;}
    #queryForm [class*='col-'] [class*='col-'] {padding-right:0px;}
    [class*='col-'] .row{margin:0px}
    .btn-circle {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px !important;
      margin-top:2px;
    }
    .turquoise-border{border:solid 1px #1abc9c;}
    .yellow-border{border:solid 1px #f1c40f}
    .lightblue-border{border:solid 1px #2980b9}

    .select-input select.chained-parent-field{color:red;}

    @keyframes blink {
       50% { border-color: #C1E0FF; }
    }
    .alert-border{ /*or other element you want*/
        animation-name: blink ;
        animation-duration: 4s ;
        animation-timing-function: step-end ;
        animation-iteration-count:1 ;

    }

    /*### BEHAVIOUR ###*/
    .form-group{
        margin-bottom:15px;
        position:relative;
        min-height:1px;
        overflow:auto;
        /*overflow:auto prevents form-group collapsing (height=0) because content is all floats*/
        width:100%
    }

    .form-group .row {margin:0px;}
    /*necessary tweaks to multiselect*/
    #selectWrapper .form-group, #joinWrapper .form-group, #filterWrapper .form-group{
        overflow:visible;

    } /* allow for multiselect dropdown list to be seen*/
    .multiselect-selected-text{width:100px;max-width:100px} /*control width*/
    button.multiselect{white-space:normal !important; text-align:left;} /*wrap text when goes above max width*/

/*####### Media Queries #######*/
 /* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .control-label{text-align:left;}
}

/*TEST*/
