<div class="panel panel-default error" ng-if="apctrl.error == true">
    <div class="panel-body"><strong class="text-uppercase">Error {{apctrl.status}}</strong>
        <p>{{apctrl.text}}</p>
    </div>
</div>
<span class="sub-headling" ng-if="availabledata | isEmpty">Fetching available data products, please wait ...<i
                class="fa fa-refresh fa-spin"></i></span>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-repeat="(key, value) in availabledata" ng-class='{active:$first}'><a href="#{{key}}" aria-controls="{{key}}" role="tab" data-toggle="tab">{{key}}</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane" ng-repeat="(key, value) in availabledata" ng-class='{active:$first}' id="{{key}}">
        <div class="well">
            <div class="row">
                <div class="col-xs-3">
                <!-- Level1 -->
                    <ul class="nav nav-pills nav-stacked" id="{{key}}_trait_type">
                        <li role="presentation" ng-repeat="(trait_type, trait_type_value) in value.available_traits" ng-class='{active:$first}'>
                            <a href="#{{trait_type}}" aria-controls="{{trait_type}}" role="tab" data-toggle="tab">{{trait_type_value.pretty_name}}</a>
                            <p style="padding-left:15px; padding-right:15px;" class="sub-heading">{{trait_type_value.description}}</p>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-3">
                <!-- Level2 -->
                    <div class="tab-content">
                        <div role="tabpanel" ng-repeat="(trait_type, trait_type_value) in value.available_traits" ng-class='{active:$first}' class="tab-pane" id="{{trait_type}}">
                            <!--<div class="checkbox" ng-repeat="(trait_name, trait_value) in trait_type_value.traits track by $index">-->
                                <!--<input type="checkbox" value="{{trait_name}}" ng-model="trait_value.selected" ng+checked="trait_value.selected" id="{{key}}_{{trait_name}}">-->
                                <!--<label for="{{key}}_{{trait_name}}">-->
                                    <!--{{trait_value.pretty_name}}-->
                                    <!--{{trait_value.selected}}-->
                                <!--</label>-->
                            <!--</div>-->
                            <ul class="nav nav-pills nav-stacked" id="trait">
                                <li role="presentation" ng-repeat="(trait_name, trait_value) in trait_type_value.traits track by $index" class="active">
                                    <a href="#nested_{{trait_name}}" aria-controls="{{trait_name}}" role="tab" data-toggle="pill">{{trait_value.pretty_name}}</a>
                                    <div style="padding-left:15px; padding-right:15px;">
                                        <p class="sub-heading">{{trait_value.description}}</p>
                                        <p class="sub-heading"><strong>Branches</strong>
                                        <div class="checkbox" ng-repeat="(branch_key, branch_value) in trait_value.branches track by $index">
                                            <input type="checkbox" value="{{branch_value.name}}" ng-model="branch_value.selected"
                                                   ng+checked="branch_value.selected" id="{{key}}_{{trait_name}}:{{branch_value.name}}">
                                            <label for="{{key}}_{{trait_name}}:{{branch_value.name}}">
                                                {{branch_value.name}}
                                            </label>
                                        </div>


                                        <p class="sub-heading"><strong>Documentation</strong>
                                        <span ng-repeat="branch in trait_value.branches track by $index"><a href="{{branch.url}}"><i class="fa fa-code-fork"></i> {{branch.name}}</a><br></span>
                                        </p>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="well">
                        <h3>Selected Products</h3>
                        <div ng-repeat="(survey, value) in selection">
                            <h4>{{survey}}</h4>
                            <p ng-repeat="product in value"><strong>{{product}}</strong> {{product.trait_key}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
