
.nav-tabs {
  border: 0;

  >
  li {
    float: right;
  }

  li a {
    margin-right: 0;
  }

  >
  .active > a {
    background: #F5F5F5;
  }

  >
  .active > a:hover {
    background: #F5F5F5;
  }

}

#SOV .nav-tabs > li {
  float: left;
}

.tabbable.first-tab-active .tab-content {
  border-top-right-radius: 0;
}
