{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}{{objname}}{% endblock %}
{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'sov/css/sov/sov.min.css' %}"/>
{% endblock %}

{% block content_render %}
    <h1 class="headline">
        <span>{{ objname }}</span>
    </h1>

    <div class="row">
        <div class="col-sm-2">
            <div id="trait_accordian" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading panel-background-grey">
                        <span class="panel-title">SAMI
                        </span>
                        <a data-toggle="collapse" href="#sami_traits" class="expand_collapse_icon pull-right">
                            <i class="fa fa-lg fa-angle-up"></i>
                        </a>
                    </div>
                    <div id="sami_traits" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <img class="img-responsive sami sov-logo"
                                     src="/static/restapi_app/img/logo/logo-sami.png">
                            <a href="{{response.data.trait_url}}" class=""> Go to all SAMI data for {{objname}} </a>
                            <h5>Maps
                                <a data-toggle="collapse" href="#sami_traits_maps" class="expand_collapse_icon pull-right">
                                    <i class="fa fa-lg fa-angle-up"></i></a>
                            </h5>
                            <div id="sami_traits_maps" class="panel-collapse collapse in">
                                {% for key, value in response.data.items %}
                                    {% if key == 'schema' %}
                                        {% for keyb, valueb in value.items %}
                                            {% for keyc, valuec in response.data.items %}
                                                {% if keyc != 'schema' and keyb in keyc %}
                                                    {% if keyb == 'line_map' or keyb == 'velocity_map' %}
                                                        <div class="checkbox">
                                                           <label>
                                                               <input type="checkbox" class="trait-checkbox" data-trait-name="{{keyc}}">
                                                                    {% if keyb == 'line_map' %}
                                                                         {{ keyc | LineOnly }}
                                                                    {% elif keyb == 'velocity_map' %}
                                                                        {{ keyc | CapsSentence }}
                                                                    {% endif %}
                                                           </label>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-background-grey">
                        <span class="panel-title">GAMA</span>
                        <a data-toggle="collapse" href="#gama_traits" class="expand_collapse_icon pull-right">
                            <i class="fa fa-lg fa-angle-down"></i>
                        </a>
                    </div>
                    <div id="gama_traits" class="panel-collapse collapse">
                        <div class="panel-body">
                            <img class="img-responsive  gama sov-logo"
                                     src="/static/restapi_app/img/logo/logo-gama.png">
                            <p>available checky boxes</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-body">
                    <p><strong>Component properties</strong></p>
                    <p>description goes here</p>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-xs-8">
                    <h5 class="text-uppercase"><strong>Source info (line per survey?)</strong></h5>
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>SAMI ID</th>
                            <th>RA</th>
                            <th>DEC (J2000)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="/asvo/data/sami/9352"> 9352</a></td>
                            <td>185.9772083333334</td>
                            <td>0.8305277777777778</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>CATAID</th>
                            <th>RA</th>
                            <th>DEC (J2000)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-4">
                    <h5>SDSS IMAGE</h5>
                    <img class="img-responsive"
                         src="http://skyservice.pha.jhu.edu/DR10/ImgCutout/getjpeg.aspx?ra=114.82991&dec=10.91817&width=120&height=120">
                </div>
            </div>
            <div class="row row-no-padding sami-spectrum">
                <div class="col-xs-12 col-sm-12">
                    <div class="thumbnail"> <img src="{% static 'restapi_app/img/sov_test/test_spectra.png' %}">
                    </div>
                </div>
            </div>
            <div class="row row-no-padding sami-maps">
                <div class="col-xs-12 col-sm-4 column0">

                </div>
                <div class="col-xs-12 col-sm-4 column1">

                </div>
                <div class="col-xs-12 col-sm-4 column2">

                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block footer-extra %}
<script src="{% static 'restapi_app/js/jsonparsemore/json_parseMore.js' %}"></script>
<script src="{% static 'restapi_app/js/plotly/plotly.min.js' %}"></script>
<script src="{% static 'restapi_app/js/plotly/custom/plot_maps.js' %}"></script>
<script type="text/javascript">

    $(".expand_collapse_icon").click(function() {
        // Change the accordian caret based on the collapse panel status
        // get the id of the anchor that will have class .collapse .in from this.attr(href)
         if ($($(this).attr('href')).hasClass('in')){
             // angle up
             $(this).children('i').removeClass('fa-angle-up').addClass('fa-angle-down');
         } else {
             // angle down
             $(this).children('i').removeClass('fa-angle-down').addClass('fa-angle-up');
         }
    });

    Array.prototype.min = function() {
      return Math.min.apply(null, this);
    };
    Array.prototype.max = function() {
      return Math.max.apply(null, this);
    };
    trait_cache_obj={};
    // When user clicks a trait textbox append div with class == checkbox data-trait attribute
    $('.trait-checkbox').click(function(){
        var column_array = [$('.column0').height(),$('.column1').height(),$('.column2').height()];
        var min_height_index = column_array.indexOf(column_array.min())
        var trait_name=$(this).attr('data-trait-name');
        if (undefined == trait_name){console.log('data_trait is undefined for input checkbox: '+$(this))}
        if ($(this).is(':checked') == true ){
            var new_html = '<div class="thumbnail '+trait_name+'"> <div id="'+trait_name+'">LOADING... <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i></div></div>'
            $('.column'+min_height_index).append(new_html);
            // Go get the data
            // need the url...
            var ao_url = "{{response.data.ao_url}}";
            var trait_url = ao_url+trait_name+'/value/?format=json';

            if (trait_name in trait_cache_obj){
                // Pull from the 'cache'
                plot_map(trait_name, trait_cache_obj[trait_name]);
            } else {
                // Request trait property data
                $.ajax({
                    url: trait_url,
                    // here, don't let ajax parse as json, NANs are a problem. set type to string and parse with parseMore
                    dataType: 'text',
                    type: 'GET',
                    success: function (data) {
                        // Parse NANs here
                        var trait_data = JSON.parseMore(data);
                        // Run plotly
                        plot_map(trait_name, trait_data);
                        // Add to "cache"
                        if (trait_name in trait_cache_obj){
                            console.log('Error, '+trait_name+' already exists in trait_cache_obj')
                            console.log('Unsure what to do with new piece of data - is it a duplicate or trait property name conflict?')
                        } else {
                            trait_cache_obj[trait_name] = trait_data
                        }
                    },
                    error: function (jqXHR, exception) {
                        alert("Error");
                        if (jqXHR.status === 0) {
                            console.log('Not connect.\n Verify Network.');
                        } else if (jqXHR.status == 404) {
                            console.log('Requested page not found. [404]');
                        } else if (jqXHR.status == 500) {
                            console.log('Internal Server Error [500].');
                        } else if (exception === 'parsererror') {
                            console.log('Requested JSON parse failed.');
                        } else if (exception === 'timeout') {
                            console.log('Time out error.');
                        } else if (exception === 'abort') {
                            console.log('Ajax request aborted.');
                        } else {
                            console.log('Uncaught Error.\n' + jqXHR.responseText);
                        }
                    }
                });
            }

        } else {
            $('.'+trait_name).remove();
        }
    });
    // TODO check the height of each column and move items if one is empty
    // TODO implement cache layer - save previous requests and check first
</script>


{% endblock %}