.sami {
  background-color: #fff;
  max-width: 115px;
  position: relative;
  top: 8px;
  border-left: solid 15px #fff;
}
.sami_logo {
  padding: 15px;
}
.gama {
  background-color: #fff;
  max-width: 80px;
  position: relative;
  top: 0;
  border-left: solid 15px #fff;
}
.gama_logo {
  max-width: 150px;
}
.raw-data {
  max-height: 300px;
  overflow: scroll;
}
.ellipsis {
  text-overflow: ellipsis;
}
.overflow {
  width: 20em;
  /**
     * Required properties to achieve text-overflow
     */
  white-space: nowrap;
  overflow: hidden;
}
.underline-blue {
  color: #3f9ad2;
  text-decoration: underline;
}
h4 {
  margin-top: 0px;
}
h6 {
  margin-bottom: 0px;
  color: #333333;
}
.inline-links p {
  margin-right: 7px;
  display: inline;
}
.panel-group .panel + .panel {
  margin-top: -1px;
}
table.table-summary > tbody > tr:nth-child(1) > td {
  text-align: center;
}
table.table-summary > tbody > tr:nth-child(2) > td:nth-child(1) {
  vertical-align: middle;
}
table.table-summary > tbody > tr > td > strong {
  text-transform: uppercase;
}
table.table-overview {
  table-layout: fixed;
}
table.table-overview tr > td {
  padding: 15px 0px 0px 0px;
  text-align: center;
  vertical-align: middle;
  border-top: 0;
  border-right: 1px #eee solid;
}
table.table-overview tr > td img {
  display: inline-block;
  max-height: 40px;
}
table.table-overview tr > td:last-child {
  border-right: 0;
}
table.table-overview tr:nth-child(2) td {
  color: #aaa;
  padding-top: 0;
  padding-bottom: 15px;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ MEDIA QUERIES
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
/*==========  Non-Mobile First Method  ==========*/
.media-query-box {
  height: 50px;
  width: 50px;
  border: dashed 1px black;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 992px) {
  .media-query-box {
    border: solid 1px purple;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .media-query-box {
    border: solid 1px red;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .media-query-box {
    border: solid 1px yellow;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .media-query-box {
    border: solid 1px blue;
  }
  .table.table-overview {
    table-layout: auto;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .media-query-box {
    border: solid 1px green;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .media-query-box {
    border: solid 1px orange;
  }
}
