{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}Query{% endblock %}
{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/data-tables/data-tables.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/ace/ace.css' %}"/>

<link rel="stylesheet" type="text/css" href="{% static 'query/css/schema-browser/schema-browser.min.css' %}"/>
<link rel="stylesheet" href="{% static 'query/css/query-builder/query-builder.min.css' %}" type="text/css"/>

<script type="text/javascript" src="{% static 'query/js/available-products/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'query/js/available-products/services.js' %}"></script>
<script type="text/javascript" src="{% static 'query/js/available-products/components.js' %}"></script>

{% endblock %}

{% block page_title %}Query {{objname}}{% endblock %}
{% block useful_links %}
<li role="presentation" ><a href="{% url 'documentation' %}" title="Query Documentation">Documentation</a></li>
<li role="presentation" ><a href="{% url 'query-list' %}">Query History</a></li>
<li role="presentation" ><a href="{% url 'query-create-list' %}">New Query</a></li>
{% endblock useful_links %}

{% block content_render %}

    {# ------DATATABLES ------#}

    {% if response.data.queryResults %}
        <div class="row">
            <div class="col-sm-12">
                <h2 class="headline">Results <small class="text-uppercase"> {% if response.data.title %}{{response.data.title}}{% endif %} </small></h2>
                <div id="TableResultsWarning"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="data-table-container" id="data-table-container"><p><i class="fa fa-refresh fa-spin"></i> Fetching Data...</p></div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2 class="headline"><span>Download</span> </h2>
                <h3 class="headline"><span>Catalogue Data</span> </h3>
                Download the results of you query in a variety of formats. If your preferred format isn't available, make a feature request.
                <br><br>
                {% block content-download %}
                    {% if 'GET' in allowed_methods %}
                        <form id="download-list" class="custom-inline">
                            {% if api_settings.URL_FORMAT_OVERRIDE %}
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-download"></i> Download Sample
                                </button>
                                <button type="button" class="btn btn-default dropdown-toggle add-to-download-caret"
                                        data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    <i class="fa fa-caret-down"></i>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% for format in available_formats %}
                                        {% if format != "api" %}
                                            <li>
                                                <a class="js-tooltip"
                                                   href="{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}"
                                                   rel="nofollow" target="_blank"
                                                   title="Download query # {{ objname }} with the format set to `{{ format }}`">
                                                    {{format }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% else %}
                                <a class="btn btn-default btn-sm js-tooltip" href="{{ response.data.url }}" rel="nofollow"
                                   title="Download {{user}}'s query # {{objname}}">PERMANENT LINK</a>
                            {% endif %}
                        </form>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="headline"><span>Additional Products</span> </h3>
            </div>
            <div class="col-xs-12">
                <p>Download additional data products for the astronomical objects your query title.</p>
            </div>
            {% block data-download %}
                <div class="col-xs-12">
                    <available-products schemaurls="{'SAMI':'{% url 'schema:astroobject-list' sample_pk='sami' astroobject_pk='9352' %}', 'GAMA':'{% url 'schema:astroobject-list' sample_pk='sami' astroobject_pk='9352' %}'}"></available-products>
                </div>
            {% endblock %}
        </div>



        {% if display_edit_forms %}
        <!--UPDATE EXISTING REQUEST INSTANCE-->
            {% if put_form or raw_data_put_form or raw_data_patch_form %}
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="headline"><span>Update</span> </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="well">
                            {% if put_form %}
                            <div class="" id="put-object-form">
                                <form action="{{ request.get_full_path }}" data-method="PUT" enctype="multipart/form-data"
                                      class="form-horizontal" novalidate>
                                    {{ put_form }}
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-primary btn-sm js-tooltip pull-right"
                                                    title="Overwrite Query {{objname}}" id="button-sql-update">UPDATE
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default warning">
                            <div class="panel-body">
                                <strong class="text-uppercase">Warning</strong>
                                <p>Submitting this form will override
                                    the previous query and results.
                                    Alternatively, you can create a
                                    <a type="button" class=""
                                       href="{% url 'query-create-list' %}">New Query</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% block content-delete %}

            {% if delete_form %}
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="headline"><span>Delete</span> </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default error">
                            <div class="panel-body">
                                <strong class="text-uppercase">Warning</strong>
                                <p>Deleting a query is irreversible. Please be sure you wish to proceed.

                                    <form class="custom-inline" action="{{ request.get_full_path }}"
                                          data-method="DELETE">
                                        <button type="button" class="btn btn-sm btn-default btn-error pull-right js-tooltip"
                                                title="DELETE this query" id="DELETE_RESOURCE"
                                                data-toggle="modal">DELETE
                                        </button>
                                    </form>
                                    <!-- Confirmation modal -->
                                    <div class="modal fade" id="delete-modal-sm" tabindex="-1" role="dialog">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <strong> ARE YOU SURE? </strong>
                                                    <p>Deleting queries is irreversible. </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" data-dismiss="modal" class="btn btn-sm btn-default">CANCEL</button>
                                                    <button type="button" data-dismiss="modal" class="btn btn-sm btn-error" id="delete">DELETE
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        {% endblock %}
    {% endif %}

{% endblock %}


{% comment %}
------ ACE EDITOR FOR ANY SQL INPUTS ------
{% endcomment %}
{% block footer-extra %}
<script src="{% static "restapi_app/js/ace-min-noconflict/ace.js" %}"></script>

<script type="text/javascript">
        $(document).ready(function() {
            $('form').ajaxForm();

            // CODE EDITOR
            $(function () {
                //Hide the results form group to prevent users trying to patch results
                //back-end will drop this if tampered with
                $('input[name="queryResults"]').parents('.form-group').hide();

                // SQL
                $('textarea[name=SQL]').each(function () {
                    $('form').find('textarea[name=SQL]').attr('id','textarea-code');

                    // clear out parent container
                    $('#textarea-code').parent().not(':first').remove();
                    $('#textarea-code').parent().append('<div id="SQL-ace-editor" class="ace-editor-class" style="height: auto;min-height:100px"></div>');
                    var textarea = $('#textarea-code').css('display', 'none');

                    var SQLAceEditor = ace.edit("SQL-ace-editor");
                    SQLAceEditor.$blockScrolling = Infinity;
                    SQLAceEditor.setTheme("ace/theme/crimson_editor");
                    SQLAceEditor.setOption("maxLines", 20);
                    SQLAceEditor.setOption("minLines", 10);
                    SQLAceEditor.getSession().setMode("ace/mode/sql");
                    SQLAceEditor.getSession().setValue(textarea.val());
                    SQLAceEditor.getSession().on('change', function(){
                        textarea.val(SQLAceEditor.getSession().getValue());
                        SQLAceEditor.resize(true);
                    });
                });
            });
            $('#button-sql-update').click(function(){
                $(this).attr('disabled','disabled');
                $(this).html('SUBMITTING... <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>');
                $('#put-object-form form').submit();
            });
        });
</script>

{% comment %}
------ TURN ON DATATABLES ------
{% endcomment %}
<script src="{% static 'restapi_app/js/data-tables/dataTables.js' %}"></script>

{% autoescape off %}
 <script type="text/javascript">
    var SAMI_URL = "";
    var GAMA_URL = "";
    {% comment %}
    var SAMI_URL = "{% url 'data_browser:sample-list' sample_pk='sami' %}";
    var GAMA_URL = "{% url 'data_browser:sample-list' sample_pk='gama' %}";
    {% endcomment %}
    data = JSON.parse("{{ content|escapejs }}");

    if (typeof data.queryResults !== 'undefined'){
        $('#data-table-container').html(' ')
                .append('<div class=""><div id="returnTableResultsWarning" class="spacer-10"></div><table id="returnTableResults" class="table table-responsive table-condensed"><thead><tr><th>Please wait, DataTable loading... <i class="fa fa-refresh fa-spin"></i></th></tr></thead></table></div>')

        render_limit = 10000;
        query_data = (data.queryResults);

        query_data_row_length = query_data.data.length;
        query_data_col_length = query_data.columns.length;

        if (data.flag != "") {
            $('#TableResultsWarning').append('<div class="row"><div class="col-sm-12"><div class="panel panel-default warning"><div class="panel-body"><strong class="text-uppercase">Warning</strong><p>Displaying '+data.flag.new_query_results_rows+' out of '+data.flag.query_results_rows+' rows. Please download the CSV file to explore the full set of results.</p></div></div></div></div>');
            render_limit = data.flag.render_limit;
        }

        if((typeof query_data !== 'undefined') && query_data.data.length < render_limit){
            var queryColumns = [];
            var thead = '';
            $('#returnTableResults').find('thead > tr').empty();
            //APPEND COLUMN VALUES TO TABLE HEAD
            $.each(query_data.columns, function(i,k){
                var b = { title: k };

                if (k.indexOf("url_img") > -1){
                    b = {
                        "title":k,
                        "render": function(data, type, row) {
                            return '<img class="img-responsive" style="max-width:70px" src="'+data+'" />';
                        }
                    }
                }
                if (k.indexOf("data_browser_url") > -1){
                    b = {
                        "title":k,
                        "render": function(data, type, row) {
                            var temp_string = '<a href="'+data+'" target="_blank">'+data+'</a>';
                            return temp_string;
                        }
                    }
                }
                if (k.indexOf("sami_id") > -1){
                    b = {
                        "title":k,
                        "render": function(data, type, row) {
                            var temp_string = '<a href="'+SAMI_URL+data+'">'+data+'</a>';
                            return temp_string;
                        }
                    }
                }
                if (k.indexOf("CATAID") > -1){
                    b = {
                        "title":k,
                        "render": function(data, type, row) {
                            var temp_string = '<a href="'+GAMA_URL+data+'">'+data+'</a>';
                            return temp_string;
                        }
                    }
                }
                th = '<th>'+k+'</th>';
                queryColumns.push(b);
                $('#returnTableResults').find('thead > tr').append(th);
            });
            var data = query_data.data;

            if (typeof data == 'undefined'){data=[];}

            var table = $('#returnTableResults').DataTable( {
                data : data,
                columns : queryColumns,
                "orderClasses": false,
                "scrollX": true,
                "deferRender": true,
                "language": {
                    "loadingRecords": "Please wait - loading..."
                }
            });

            $('#returnTableResults_filter input').unwrap().wrap("<div class='input-group' role='search'></div>")
                    .addClass('form-control')
                    .attr('placeholder', 'SEARCH...')
                    .after('<span class="input-group-btn"> <button class="btn btn-default btn-sm" type="button"><i class="fa fa-search fa-fw"></i></button> </span>');
            document.getElementById('returnTableResults_filter').firstChild.data = "";
            $('#returnTableResults_length, #returnTableResults_filter').parent('.col-sm-6').addClass('col-xs-6');

        };
    };
    {% endautoescape %}
</script> 

{# ------ CONFIRM RESOURCE DELETE ------ #}
<script>
    $('#DELETE_RESOURCE').on('click', function(e){
        var $form=$(this).closest('form');
        e.preventDefault();
        $('#delete-modal-sm').modal({ backdrop: 'static', keyboard: false })
        .one('click', '#delete', function (e) {
            $form.trigger('submit');
        });
    });

    fTabSwitch = function(id){
        $('[href=#'+id+']').tab('show');
    }


</script>
{% endblock %}

