{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %}Query{% endblock %}
{% block head-extra %}
<script type="text/javascript" src="{% static 'restapi_app/js/ace-min-noconflict/ace.js' %}"></script>

<script type="text/javascript">
    //get url for available catalogues
    urlCataloguesGlobal = "{% url "catalogues" %}"
</script>

<script type="text/javascript" src="{% static 'query/js/query-builder/CtrlQueryBuilder.js' %}"></script>
<script type="text/javascript" src="{% static 'query/js/schema-browser/CtrlSchemaBrowser.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/isteven-multi-select/isteven-multi-select.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'query/css/query-builder/query-builder.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'query/css/schema-browser/schema-browser.min.css' %}"/>

<style type="text/css">
    table{
        table-layout: fixed;
    }
    table tr {
        height:1em;
    }
    td {
        overflow:hidden;white-space:nowrap;
    }
    #SQL-ace-editor{border:solid 1px #eeeeee;}
</style>
{% block head-extra-extra%}{% endblock %}
{% if response.status_code == 201 and response.data.title and response.data.created and response.data.url %}
<script>
    // REDIRECT ON SUCCESS
    console.log('SUCCESS');
    console.log("{{response.data.url}}");
    window.location.href="{{response.data.url}}"
</script>
{% endif %}
{% endblock %}

{% block bodyclass %}{% endblock %}
{% block breadcrumbclass %}{% endblock %}

{% block content-filter-form %}{% endblock %}
{% block content-header %}{% endblock %}

{% block page_title %}Query{% endblock %}
{% block useful_links %}
<li role="presentation" ><a href="{% url 'documentation:topic-list' %}" title="Query Documentation">Documentation</a></li>
<li role="presentation" ><a href="{% url 'query-list' %}" title="Re-visit previous queries.">Query History</a></li>
{% endblock useful_links %}

{% block content_render %}
    {% comment %}
    ------ NEW QUERY FORM ------
    {% endcomment %}

    {% if display_edit_forms %}
        {% if post_form or raw_data_post_form %}
            {% if not response.data.queryResults %}

                <div class="row">
                    <div class="col-sm-12">
                        <h1>Create a sample of astronomical objects - no coding necessary.</h1>
                    </div>

                </div>
                {% if response.status_code == 201 %}
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="headline">
                            <span>Success</span>
                        </h2>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-background-grey">
                                <h3 class="panel-title">Success</h3>
                            </div>
                            <div class="panel-body">
                                <p>Query {{response.data.title}} submitted on {{response.data.created}} has completed.</p>
                                <p>If you are not redirected to your query, please click the link below. </p>
                                <p>
                                <div class="half-br"></div>
                                <a type="button" class=" text-uppercase pull-right" href="{{response.data.url}}">Go to Result</a>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if response.status_code == 200 %}
                <div class="row">
                    <div class="col-sm-8">
                         <h2 class="headline" id="new-query">
                            <span>New Query</span>
                        </h2>
                        <div class="tabbable" id="query-options">
                            {% if post_form %}
                            <ul class="nav nav-tabs form-switcher">
                                <li>
                                    <a name='raw-tab' href="#query-builder-form" data-toggle="tab">Query Builder</a>
                                </li>
                                <li>
                                    <a name='html-tab' href="#post-object-form" data-toggle="tab">SQL</a>
                                </li>
                            </ul>
                            {% endif %}
                            <div class="well tab-content">
                                <div id="query-builder-form" class="tab-pane">
                                    {% block query-builder %}
                                        {% include "query/query-builder-module.html" %}
                                    {% endblock %}
                                </div>

                                {% if post_form %}
                                <div class="tab-pane" id="post-object-form">
                                    {% with form=post_form %}
                                    <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                                        <fieldset>
                                            {% csrf_token %}
                                            {{ post_form }}
                                            <div class="form-actions">
                                                <button class="button button-primary button-small pull-right" title="Make a POST request on the {{ name }} resource" id="button-sql-submit">SUBMIT</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                    {% endwith %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="panel panel-default" style="display:none" id="progress-indicator">
                            <div class="panel-body success"></div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                         <h2 class="headline">
                            <span>Schema Browser</span>
                        </h2>
                        {% block schema-browser %}
                            {% include "query/schema-browser-module.html" %}
                        {% endblock %}
                    </div>

                    <div class="col-sm-12">
                        <h3>What does the Query Builder do?</h3>
                        <p>Construct a sample of objects using the <a
                                onclick="fTabSwitch('query-builder-form')"
                                title="Create simple SQL queries with ease.">Query Builder</a>. Use the Schema
                            Browser to view available properties and further information from the survey teams.
                            Complicated queries can be constructed using the <a
                                    onclick="fTabSwitch('post-object-form')"
                                    title="Query the ASVO-AAT Node database.">SQL</a> form. Re-visit and manage
                            your past queries in <a href="{% url 'query-list' %}"
                                                    title="Re-visit previous queries.">Query History</a>. Check the
                            <a href="{% url 'documentation-query-builder' %}">Documentation</a> for help and
                            examples. </p>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}


{% endblock %}

{% block status_block %}
    {% include "query/status_block.html" %}
{% endblock %}

{% comment %}
------ ACE EDITOR FOR ANY SQL BOXES ------
{% endcomment %}
{% block footer-extra %}
<script type="text/javascript">
        $(document).ready(function() {
            $('form').ajaxForm();

            // CODE EDITOR
            $(function () {

                if ($('form').find('textarea[name=SQL]').length > 0 ){

                }
                //Hide the results form group to prevent users trying to patch results
                //back-end will drop this if tampered with
                $('input[name="queryResults"]').parents('.form-group').hide();

                // NEW ACE EDITOR INSTANCE NEAR SQL BOX

                $('form').find('textarea[name=SQL]').attr('id','textarea-sql');
                $('#textarea-sql').parent().not(':first').remove();
                $('#textarea-sql').parent().append('<div id="ace-editor-sql" class="ace-editor-class" style="height: auto;min-height:100px"></div>');
                $('#textarea-sql').css('display', 'none');


                var ace_editor_sql = ace.edit("ace-editor-sql");

                ace_editor_sql.$blockScrolling = Infinity;
                ace_editor_sql.setTheme("ace/theme/crimson_editor");
                ace_editor_sql.setOption("maxLines", 20);
                ace_editor_sql.setOption("minLines", 10);
                ace_editor_sql.getSession().setMode("ace/mode/sql");
                ace_editor_sql.getSession().on('change', function(){
                    ace_editor_sql.resize(true);
                });

            });
            $('#button-sql-submit').click(function(){
                var ace_editor_sql = ace.edit("ace-editor-sql");
                $('#textarea-sql').val(ace_editor_sql.getSession().getValue());
                $(this).attr('disabled','disabled');
                $(this).html('SUBMITTING... <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>');
                fHideQueryOptions();
                setTimeout(function(){
                    // Timeout is needed here for safari compatibility
                    // .submit event loop doesn't allow for repaint, so animate first, then submit.
                    $('#post-object-form form').submit();
                }, 1000);
            });
        });
</script>

{% comment %}
------ CHECK SLUG FOR ANCHOR ------
{% endcomment %}

<script>
    // Check slug for #anchor, change tab view if appropriate
    function fchange_tab() {
        var url = window.location.href;
        var hash = url.substring(url.indexOf("#") + 1);
        if (hash == 'query-builder-form' || hash == 'post-object-form') {
            $('#query-builder-form').removeClass('active');
            $('#post-object-form').removeClass('active');

            $('a[href="#query-builder-form"]').parent('li').removeClass('active');
            $('a[href="#post-object-form"]').parent('li').removeClass('active');

            $('#' + hash).addClass('active');
            $('a[href="#' + hash + '"]').parent('li').addClass('active');
        }
    }
    ;

    fchange_tab();

    $('.li-query').click(function () {
        // bind navigation after 0.5s
        // ensures url has changed and will read new hash
        setTimeout(function () {
            fchange_tab();
        }, 500);

    });


    function fHideQueryOptions(){
        // Hide query options on successful submit
        setTimeout(function(){
            $('#progress-indicator').show();
            $('#query-options').hide(500);
            $('#progress-indicator .panel-body').html('<strong>QUERY SUBMITTED </strong> on '+new Date().toLocaleString()+'<br>')
                .append('<em><p class="loading">Processing <span>.</span><span>.</span><span>.</span></p></em><p> Please do not close this page, you will be automatically redirected to the result.</p>')
        }, 500)
    };

</script>

{% endblock %}

