{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %}Query{% endblock %}
{% block head-extra %}
<script type="text/javascript" src="{% static 'restapi_app/js/ace-min-noconflict/ace.js' %}"></script>

<script type="text/javascript">
    //get url for available catalogues
    urlCataloguesGlobal = "{% url "catalogues" %}"
</script>

<script type="text/javascript" src="{% static 'query/js/query-builder/CtrlQueryBuilder.js' %}"></script>
<script type="text/javascript" src="{% static 'query/js/schema-browser/CtrlSchemaBrowser.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/isteven-multi-select/isteven-multi-select.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'query/css/query-builder/query-builder.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'query/css/schema-browser/schema-browser.min.css' %}"/>

<style type="text/css">
    table{
        table-layout: fixed;
    }
    table tr {
        height:1em;
    }
    td {
        overflow:hidden;white-space:nowrap;
    }
    #SQL-ace-editor{border:solid 1px #eeeeee;}
</style>
{% block head-extra-extra%}{% endblock %}
{% if response.status_code == 201 and response.data.title and response.data.created and response.data.url %}
<script>
    // REDIRECT ON SUCCESS
    console.log('SUCCESS');
    console.log("{{response.data.url}}");
    window.location.href="{{response.data.url}}"
</script>
{% endif %}
{% endblock %}

{% block bodyclass %}{% endblock %}
{% block breadcrumbclass %}{% endblock %}

{% block content-filter-form %}{% endblock %}
{% block content-header %}{% endblock %}
{% block page_title_banner_class %}yellow{% endblock %}
{% block page_title %}Query{% endblock %}
{% block useful_links %}
<li role="presentation" ><a href="{% url 'documentation:topic-list' %}" title="Query Documentation">Documentation</a></li>
<li role="presentation" ><a href="{% url 'query-list' %}" title="Re-visit previous queries.">Query History</a></li>
{% endblock useful_links %}

{% block content_render %}
<div class="row">
    <div class="col-sm-3 sidebar">
        <div class="sidebar-contents">
            <h5>Page Contents</h5>
            <ul class="nav nav-pills nav-stacked docs-sidebar">
                <li><a href="#query-builder" class="scroll">Query Builder</a></li>
                <li><a href="#sql" class="scroll">SQL</a></li>
                <li><a href="#overview" class="scroll">What does the Query Builder do?</a></li>
            </ul>
            <h5>Schema: Queriable Properties
                <a href="" data-toggle="popover" data-html="true" class="popover-anchor" data-trigger="focus"
                   data-content="<p>View available properties and further information from the survey teams</p>"
                     data-placement="top"><i class="fa fa-info-circle"></i></a>
            </h5>

            {% block schema-query %}
            {% include "query/schema-browser-module.html" %}
            {% endblock %}

            <h5>All Data Access Tools</h5>
            <ul class="nav nav-pills nav-stacked docs-sidebar">
                <li role="presentation"><a href="{% url 'data_browser:root-list' %}">Data Browser</a></li>
                <li role="presentation"><a href="{% url 'query-create-list' %}">Query</a>
                </li>
                <li role="presentation"><a href="{% url 'schema:schema-list' %}">Schema Browser</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-9 main-content">
        <h2>Query the survey data at ADC.</h2>
        <p class="lead">Create a sample of astronomical objects - no coding necessary.</p>
        {% comment %}
        ------ NEW QUERY FORM ------
        {% endcomment %}

        {% if display_edit_forms %}
            {% if post_form or raw_data_post_form %}
                {% if not response.data.queryResults %}
                    {% if response.status_code == 200 %}
                    <a href="{% url 'documentation:article-detail' slug='query-a-guide-to-using-the-query-builder' %}" class="margin-top-twelve-px question pull-right"><i class="fa fa-question-circle"></i> How do I use the Query Builder tool?</a>
                    <h3 id="query-builder">Query Builder</h3>
                    <div id="query-builder-form" class="tab-pane">
                        {% block query-builder %}
                            {% include "query/query-builder-module.html" %}
                        {% endblock %}
                    </div>
                    <div class="panel panel-default" style="display:none" id="progress-indicator">
                        <div class="panel-body success"></div>
                    </div>

                    <hr><br>
                    <h3 id="sql">SQL</h3>
                    <p>For more control over your query, use this form to submit valid SQL. Use the Queriable Properties dropdown in the sidebar to view the query schema.</p>
                    {% if post_form %}
                    <div class="" id="post-object-form">
                        {% with form=post_form %}
                        <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                            <fieldset>
                                {% csrf_token %}
                                {{ post_form }}
                                <div class="form-actions">
                                    <button class="btn btn-default pull-right" title="Submit your query" id="button-sql-submit">SUBMIT</button>
                                </div>
                            </fieldset>
                        </form>
                        {% endwith %}
                    </div>
                    {% endif %}
                    <h3 id="overview">What does the Query Builder do?</h3>
                    <p>To access most astronomy databases, a user must be proficient in the language of databases - SQL. However, we
                        appreciate that some users may not want to learn another language in order to perform a relatively simple
                        request, namely, <em>show me these rows from this table&nbsp;if they satisify some condition</em>.&nbsp;</p>
                    <p>The Query Builder form allows you to construct complicated queries on the database with ease, without writing
                        any code. It writes the SQL for you, reducing the time spent writing out code&nbsp;and navigating obtuse SQL
                        errors, and more time accessing&nbsp;and exploring the data.&nbsp;</p>
                    <p>Queries can be made on any querable-property in the ADC database (the schema alongside the Query Builder
                        displays a list of properties that can be queried, and relevant meta data (descriptions etc).&nbsp;</p>
                    <p>The&nbsp;<span>Query Builder</span> is sufficient for most use cases, however particularly complicated
                        queries can still be submitted via the SQL form. In many cases, the Query Builder can be useful to write out
                        the bulk of a long query, which can be copy-pasted into the SQL box for further user-editing.&nbsp;</p>


                    <h4>Why do I need to log in to use the Query Builder?</p>
                    <p>Once you've submitted a successful query, it's stored in your personal <a href="{% url 'query-list' %}"
                                                                                        title="Re-visit previous queries.">Query
                        History</a>. You can re-visit, update and manage your past queries, meaning you don't need to
                        save SQL scripts locally, or remember how you got to a particular table of results 12 months
                        ago! Give each query a meaningful name, and we'll store it.
                    </p>
        
                    <p>For more help and examples querying ADC, check the
                        <a href="{% url 'documentation:topic-detail' slug='query' %}">Documentation</a>.</p>

                    {% endif %}

                        {% if response.status_code == 201 %}
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>
                                    <span>Success</span>
                                </h3>
                            </div>
                            <div class="col-sm-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading panel-background-grey">
                                        <h3 class="panel-title">Success</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>Query {{response.data.title}} submitted on {{response.data.created}} has completed.</p>
                                        <p>If you are not redirected to your query, please click the link below. </p>
                                        <p>
                                        <div class="half-br"></div>
                                        <a type="button" class=" text-uppercase pull-right" href="{{response.data.url}}">Go to Result</a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                    {% endif %}
                {% endif %}
            {% endif %}
    </div>

</div>






{% endblock %}

{% block status_block %}
    {% include "query/status_block.html" %}
{% endblock %}

{% comment %}
------ ACE EDITOR FOR ANY SQL BOXES ------
{% endcomment %}
{% block footer-extra %}
<script type="text/javascript">
        $(document).ready(function() {
            $('form').ajaxForm();

            // CODE EDITOR
            $(function () {

                if ($('form').find('textarea[name=SQL]').length > 0 ){

                }
                //Hide the results form group to prevent users trying to patch results
                //back-end will drop this if tampered with
                $('input[name="queryResults"]').parents('.form-group').hide();

                // NEW ACE EDITOR INSTANCE NEAR SQL BOX

                $('form').find('textarea[name=SQL]').attr('id','textarea-sql');
                $('#textarea-sql').parent().not(':first').remove();
                $('#textarea-sql').parent().append('<div id="ace-editor-sql" class="ace-editor-class" style="height: auto;min-height:100px"></div>');
                $('#textarea-sql').css('display', 'none');


                var ace_editor_sql = ace.edit("ace-editor-sql");

                ace_editor_sql.$blockScrolling = Infinity;
                ace_editor_sql.setTheme("ace/theme/crimson_editor");
                ace_editor_sql.setOption("maxLines", 20);
                ace_editor_sql.setOption("minLines", 10);
                ace_editor_sql.getSession().setMode("ace/mode/sql");
                ace_editor_sql.getSession().on('change', function(){
                    ace_editor_sql.resize(true);
                });

            });
            $('#button-sql-submit').click(function(){
                var ace_editor_sql = ace.edit("ace-editor-sql");
                $('#textarea-sql').val(ace_editor_sql.getSession().getValue());
                $(this).attr('disabled','disabled');
                $(this).html('SUBMITTING... <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>');
                fHideQueryOptions();
                setTimeout(function(){
                    // Timeout is needed here for safari compatibility
                    // .submit event loop doesn't allow for repaint, so animate first, then submit.
                    $('#post-object-form form').submit();
                }, 1000);
            });
        });
</script>

{% comment %}
------ CHECK SLUG FOR ANCHOR ------
{% endcomment %}

<script>
    // Check slug for #anchor, change tab view if appropriate
    function fchange_tab() {
        var url = window.location.href;
        var hash = url.substring(url.indexOf("#") + 1);
        if (hash == 'query-builder-form' || hash == 'post-object-form') {
            $('#query-builder-form').removeClass('active');
            $('#post-object-form').removeClass('active');

            $('a[href="#query-builder-form"]').parent('li').removeClass('active');
            $('a[href="#post-object-form"]').parent('li').removeClass('active');

            $('#' + hash).addClass('active');
            $('a[href="#' + hash + '"]').parent('li').addClass('active');
        }
    }
    ;

    fchange_tab();

    $('.li-query').click(function () {
        // bind navigation after 0.5s
        // ensures url has changed and will read new hash
        setTimeout(function () {
            fchange_tab();
        }, 500);

    });


    function fHideQueryOptions(){
        // Hide query options on successful submit
        setTimeout(function(){
            $('#progress-indicator').show();
            $('#query-options').hide(500);
            $('#progress-indicator .panel-body').html('<strong>QUERY SUBMITTED </strong> on '+new Date().toLocaleString()+'<br>')
                .append('<em><p class="loading">Processing <span>.</span><span>.</span><span>.</span></p></em><p> Please do not close this page, you will be automatically redirected to the result.</p>')
        }, 500)
    };

</script>

{% endblock %}

