{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}

{% block query-builder %}
    {% verbatim %}
          <!-- Content -->
         <div ng-controller="Ctrl1 as catCtrl">
             <form id="queryform" name='queryForm' class="query-form" >
                <!--SELECT-->
                <div class="panel panel-default ">
                    <div class="panel-heading panel-background-grey">
                        <!--<h3 class="panel-title">SELECT</h3>-->
                        <h3 class="panel-title">
                             <span>SELECT</span>
                             <a class=" black pull-right" href="" ng-click="fAddCatalogue()">
                                    <i class="fa fa-plus fa-slim-line"></i></a>
                         </h3>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="nodecat in inputCatalogues track by $index" class="clearfix false-row">
                            <div class="col-sm-12 col-xs-12">
                                <div isteven-multi-select input-model="nodecat" output-model="outputCatalogues[$index]"
                                   on-item-click="fCatClick( data )" selection-mode="single" on-open="fOpenCat()"
                                   button-label="name" item-label="name" tick-property="ticked" class="floating-select selectCatalogues"
                                     disable-property="disabled" id="outputCatalogue{{$index}}" >
                                </div>
                                <div isteven-multi-select input-model="outputCatalogues[$index][0].columns" output-model="outputColumns[$index]"
                                    on-item-click="fColClick(data)" on-select-all="" on-close="fColClose()" ng-show="outputCatalogues[$index].length>0"
                                    button-label="name " item-label=" name " tick-property="ticked" class="floating-select"
                                    id="outputColumn{{$index}}" max-labels="5">
                                </div>
                                <button class="btn outline red pull-right btn-cat-remove" data-value="{{$index}}" href="" ng-click="fRemoveCatalogue($index)">
                                    <i class="fa fa-times fa-slim-line"></i>
                                </button>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" ng-show="inputJoins.length>0">
                    <div class="panel-heading panel-background-grey">
                        <h3 class="panel-title">
                             <span>JOIN</span>
                             <a class=" black pull-right" href="" ng-click="fAddJoin()">
                                    <i class="fa fa-plus fa-slim-line"></i></a>
                         </h3>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="join in inputJoins track by $index" class="clearfix false-row">
                            <div class="col-sm-12 col-xs-12">
                                <div isteven-multi-select input-model="join" output-model="outputJoins[$index]"
                                      group-property="catGroup" button-label="buttonname" item-label="name"
                                      tick-property="ticked" selection-mode="single" class="floating-select"
                                     on-item-click="fJoinClick(data)" id="outputJoins{{$index}}" disable-property="disabled">
                                </div>
                                <div isteven-multi-select input-model="inputJoinOperators[$index]" output-model="outputJoinOperator[$index]"
                                      button-label="operator" item-label="operator" helper-elements="none" on-item-click="fJoinOperator()"
                                      tick-property="ticked" selection-mode="single" class="floating-select smallContainer"
                                      id="outputJoinOperator{{$index}}">
                                </div>
                                <div isteven-multi-select input-model="inputJoinsB[$index]" output-model="outputJoinsB[$index]"
                                      group-property="catGroup" button-label="buttonname" item-label="name"
                                      tick-property="ticked" selection-mode="single" class="floating-select" disable-property="disabled"
                                     on-item-click="fJoinBClick(data)" id="outputJoinsB{{$index}}">
                                </div>
                                <button class="btn outline red pull-right btn-join-remove" href="" data-value="{{$index}}" ng-click="fRemoveJoin($index)">
                                    <i class="fa fa-times fa-slim-line"></i>
                                </button>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-background-grey">
                        <h3 class="panel-title"><span>WHERE</span>
                             <a class=" black pull-right" href="" ng-click="fAddWhere()">
                                    <i class="fa fa-plus fa-slim-line"></i></a></h3>
                    </div>
                    <div class="panel-body" ng-show="inputWheres.length>0">
                        <div ng-repeat="nodewhere in inputWheres track by $index" class="clearfix false-row">
                            <div class="col-sm-12 col-xs-12">
                                <div isteven-multi-select input-model="nodewhere" output-model="outputWheres[$index]"
                                      group-property="catGroup" button-label="name" item-label="name"
                                      tick-property="ticked" selection-mode="single" class="floating-select"
                                      on-item-click="fWhereClick(data)" id="outputWhere{{$index}}">
                                </div>
                                <label class="checkbox-inline querynot" for="'inlineCheckbox{{$index}}'" >
                                  <input type="checkbox" id="'inlineCheckbox{{$index}}'" value="1" ng-model="queryCheckbox[$index]">
                                  not
                                </label>
                                <input class="col-sm-2 col-xs-3 input-box" ng-show="outputWhereOperator[$index][0].operator=='BETWEEN'" type="text" class="form-control" id="'lowerWhereValue{{$index}}'" ng-model="outputLowerWhereValue[$index]" placeholder="value">
                                <div isteven-multi-select input-model="inputWhereOperators[$index]" output-model="outputWhereOperator[$index]"
                                      button-label="operator" item-label="operator" helper-elements="none" on-item-click="fWhereOperator()"
                                      tick-property="ticked" selection-mode="single" class="floating-select smallContainer"
                                      id="outputWhereOperator{{$index}}"  >
                                </div>
                                <input class="col-sm-2 col-xs-3 input-box" ng-hide="outputWhereOperator[$index][0].operator=='NULL'" type="text" class="form-control"
                                       id="whereValue{{$index}}" ng-model="outputWhereValue[$index]" placeholder="value"
                                       on-item-click="fWhereValue()">
                                <button class="btn outline red pull-right btn-where-remove" href="" data-value="{{$index}}" ng-click="fRemoveWhere($index)">
                                    <i class="fa fa-times fa-slim-line"></i>
                                </button>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default ">
                    <div class="panel-heading panel-background-grey">
                        <h3 class="panel-title">
                             <span>OUTPUT SQL</span>
                         </h3>
                    </div>
                    <div id="query-form-errors">
                        <div class="panel-body error" ng-show="error.errorFlag == true">
                            <span>ERROR</span>
                                 <a class="text-error pull-right" href="" ng-click="fResetErrors()">
                                        <i class="fa fa-times"></i></a>
                            <div ng-repeat="(key, value) in error" ng-if="key!='errorFlag'">
                                    <p><strong>{{ key }}:</strong> {{value}}</p>
                            </div>
                        </div>
                        <div class="panel-body warning" ng-show="warning.warningFlag == true">
                            <span>WARNING</span>
                                 <a class="text-warning pull-right" href="" ng-click="fResetWarnings()">
                                        <i class="fa fa-times"></i></a>
                            <br>
                            <div  ng-repeat="(key, value) in warning" ng-if="key!='warningFlag'">
                                    <p><strong>{{ key }}:</strong> {{value}}</p>
                            </div>
                        </div>
                         <div class="panel-body success" ng-show="warning.warningFlag != true && error.errorFlag != true && outputSQL.length>0">
                         <!--<div class="panel-body success">-->
                             <span>VALID</span>
                             <i class="text-success pull-right fa fa-check"></i>
                             <br>
                             <h5 class="headline"><span><a role="button" class="btn btn-xs btn-default text-uppercase" id="show-hide-sql">Show SQL</a></span></h5>
                                 <div ng-bind-html="outputSQL" id="output-SQL" style="display:none;" data-sql="{{outputSQL}}">{{ outputSQL }}</div>
                        </div>
                    </div>
                </div>

                 <div class="row">
                     <div  class="col-sm-12">
                         <button class="btn btn-sm btn-primary pull-right text-uppercase" type="button"
                                 ng-click=""
                                 id="query-builder-submit" disabled>SUBMIT
                         </button>
                         <button type="button"
                                 class="btn btn-sm btn-default text-uppercase pull-right pulsing-button"
                                 ng-click="fValidate()" style="margin-right:5px;"
                                 title="Check form is correctly populated" id="check-button">VALIDATE
                         </button>
                         <button class="btn btn-sm btn-default pull-left text-uppercase" type="button"
                                 ng-click="fReset()"
                                 id="query-builder-reset">Reset
                         </button>
                     </div>
                </div>
             </form>
         </div>
    {% endverbatim %}
<script>
    $('#show-hide-sql').click(function(){
        $('#output-SQL').toggle(250, function(){
            if ($(this).is(":visible")){
                $('#show-hide-sql').html('Hide SQL');
            } else {
                $('#show-hide-sql').html('Show SQL');
            };
        });
    });

    $(".expand_collapse_icon").click(function() {
        // Change the accordian caret based on the collapse panel status
        // get the id of the anchor that will have class .collapse .in from this.attr(href)
         if ($($(this).attr('href')).hasClass('in')){
             // angle up
             $(this).children('i').removeClass('fa-angle-up').addClass('fa-angle-down');
         } else {
             // angle down
             $(this).children('i').removeClass('fa-angle-down').addClass('fa-angle-up');
         }
    });

    $('#query-builder-submit').click(function(){

        // SEND SQL TO FORM TEXT AREA
        $(this).attr('disabled','disabled');
        $(this).html('SUBMITTING... <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>');

        // Use browsers parser to strip html tags etc.
        // jQuery .text()
        var valid_sql = $('#output-SQL').text();

        $('#textarea-sql').val(valid_sql);

        fHideQueryOptions();
        setTimeout(function(){
            $('#post-object-form form').submit();
        }, 1000);
    });

    $('#check-button').click(function(){
       $(this).removeClass('pulsing-button');
       $('#sql-button').addClass('pulsing-button');
    });

    $('#sql-button').click(function(){
       $(this).removeClass('pulsing-button');
       $('#query-builder-submit').addClass('pulsing-button');
    });
    $('#query-builder-submit').click(function(){
       $(this).removeClass('pulsing-button');
    });

</script>
{% endblock query-builder %}