{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}Query History{% endblock %}
{% block head-extra %}

<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/data-tables/data-tables.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'query/css/schema-browser/schema-browser.min.css' %}"/>

{% block head-extra-extra%}{% endblock %}
{% endblock %}

{% block page_title %}Query History{% endblock %}
{% block useful_links %}
<li role="presentation" ><a href="{% url 'documentation' %}" title="Query Documentation">Documentation</a></li>
<li role="presentation" ><a href="{% url 'query-create-list' %}">New Query</a></li>
{% endblock useful_links %}

{% block content-test %}
<div class="row">
    <div class="col-xs-12">
        <p class="lead">Re-visit, edit and update previous queries.</p>
        <div class="panel panel-default">
            <div class="panel-heading">
                Query History
            </div>
            <table class="table table-hover table-astro-object">
                <tbody>
                {% for this in response.data.results %}
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-sm-9 col-xs-12">
                                    <a href="{{this.url}}">
                                        <h4 class="text-info" style="border:0"> {{this.title}}</h4>
                                    </a>
                                    <p class="truncate">{{this.SQL}}{{this.SQL}}
                                        <span class="fake-ellipsis">...</span>
                                    </p>

                                    <p><span class="version sub-heading"><i class="fa fa-clock-o"></i> {{this.updated}}</span>
                                    </p>
                                </div>
                                <div class="col-sm-3 text-right col-xs-12 options">
                                    <div class="btn-dropdown">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-download"></i> Actions <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            {% block content-download %}
                {% if 'GET' in allowed_methods %}
                    <form id="download-list" class="custom-inline">
                        {% if api_settings.URL_FORMAT_OVERRIDE %}
                        <div class="btn-group pull-right">
                              <button type="button" class="btn btn-primary btn-sm text-uppercase dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-download"></i> Download Query History <i class="fa fa-caret-down"></i>
                              </button>
                              <ul class="dropdown-menu">
                                {% for format in available_formats %}
                                {% if format != "api" %}
                                    <li>
                                        <a class="js-tooltip" href="{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}"
                                           rel="nofollow" target="_blank"  title="Download your Query History with the format set to `{{ format }}`">{{ format }}</a>
                                    </li>
                                {% endif %}
                                {% endfor %}
                              </ul>
                            </div>
                        {% else %}
                            <a class="btn btn-default btn-sm js-tooltip" href="{{ response.data.url }}" rel="nofollow"
                               title="Download {{user}}'s Query History">PERMANENT LINK</a>
                        {% endif %}
                    </form>
                {% endif %}
            {% endblock %}

        {% if paginator %}
        <nav class="nav-pagination">
            {% get_pagination_html paginator %}
        </nav>
        {% endif %}
    </div>
</div>


{% endblock %}

{% block status_block %}
{% include "query/status_block.html" %}
{% endblock %}