.aat_outer {
  font-family: Roboto, sans-serif;
  background: #000 url(../../img/aatjul08-exteriors_19_small.jpg) no-repeat fixed top;
  background-size: cover;
}
.aat_dome {
  font-family: Roboto, sans-serif;
  background: #000 url(../../img/AAT_in_dome_angel_2-2.jpg) no-repeat fixed top;
  background-size: cover;
}
.twodf_background {
  font-family: Roboto, sans-serif;
  background: #000 url(../../img/2df_03.jpg) no-repeat fixed top;
  background-size: cover;
}
.shake {
  animation: shake 0.82s cubic-bezier(0.4, 0.1, 0.2, 0.9) both;
  transform: translate3d(0, 0, 0);
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
