{% extends "rest_framework/api.html" %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}Sign Out{% endblock %}


{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'user/css/user/user.min.css' %}"/>
{% endblock %}
{% block bodyclass %}aat_dome{% endblock %}
{% block breadcrumbclass %}inverted{% endblock %}
{% block breadcrumbs-outer %}
<ul class="breadcrumb ">
    <li class="active"><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'rest_framework:login' %}">Sign In</a></li>
</ul>
{% endblock %}


{% block content-filter-form %}{% endblock %}
{% block content-header %}{% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading text-uppercase">
                <strong> Signed Out </strong>
                <i class="fa fa-sign-out pull-right" style="margin-top:3px"></i>
            </div>
            <div class="panel-body">
                {% optional_login request %}
            </div>
        </div>
    </div>
</div>
{% endblock %}