{% load staticfiles %}
<footer class="footer" id="footer" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-xs-12 footer-block">
                <h3>TOOLS</h3>
                <table>
                    <col width="100%">
                    <tbody>
                    <tr>
                        <td><h4><small><a class="text-uppercase disabled" href="" disabled>Query Builder</a></small></h4></td>
                    </tr>
                    <tr>
                        <td><h4><small><a class="text-uppercase" href="{% url 'sov:root-list' %}">Single Object Viewer</a></small></h4></td>
                    </tr>
                    <tr>
                        <td><h4><small><a class="text-uppercase" href="{% url 'schema_browser:root-list' %}">Schema Browser</a></small></h4></td>
                    </tr>
                    </tbody>
                </table>
                <hr class="visible-xs">
            </div>
            <div class="col-sm-3 col-xs-12 footer-block">
                <h3>Support</h3>
                <table>
                    <col width="100%">
                    <tbody>
                    <tr>
                        <td><h4><small><a class="text-uppercase" href="{% url 'documentation:topic-list' %}">Documentation</a></small></h4></td>
                    </tr>
                    <tr>
                        <td><h4><small><a href="{% url 'documentation:topic-detail' slug='faq' %}">FAQ</a></small></h4></td>
                    </tr>
                    <tr>
                        <td><h4><small><a class="text-uppercase" href="{% url 'support-contact' %}">Contact us</a></small></h4></td>
                    </tr>

                    </tbody>
                </table>
                <hr class="visible-xs">
            </div>
            <div class="col-sm-3 col-xs-12 footer-block">
                <h3>Subscribe</h3>
                <h4><small>Sign up to our newsletter</small></h4>

                    <form>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail1"></label>
                            <input type="email" class="form-control" id="email" disabled="true"
                                   placeholder="Email address">
                        </div>
                        <button type="submit" class="btn btn-default form-control" disabled="true">SUBSCRIBE</button>
                    </form>

                <hr class="visible-xs">
            </div>
            <div class="col-sm-3 col-xs-12 footer-block">
                <h3>Connect</h3>
                <table>
                    <col width="10%">
                    <col width="90%">
                    <tbody>
                    <tr>
                        <td><h4><a href="https://twitter.com/aaoastro"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </h4></td>
                        <td>
                            <h4><a href="https://twitter.com/aaoastro">
                                <small>@AAOastro</small>
                            </a></h4>
                        </td>
                    </tr>
                    <tr>
                        <td><h4><a href="https://www.facebook.com/AustralianAstronomicalObservatory"><i
                                class="fa fa-facebook" aria-hidden="true"></i></a></h4></td>
                        <td>
                            <h4><a href="https://www.facebook.com/AustralianAstronomicalObservatory">
                                <small>AustralianAstronomicalObservatory</small>
                            </a></h4>
                        </td>
                    </tr>
                    <tr>
                        <td><h4><a href="https://www.youtube.com/user/AAOAstro"><i class="fa fa-youtube"
                                                                                   aria-hidden="true"></i></a></h4></td>
                        <td>
                            <h4><a href="https://www.youtube.com/user/AAOAstro">
                                <small>AAOastro</small>
                            </a></h4>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <hr class="visible-xs">
            </div>
        </div> <!--/.row-->
        <div class="row">
            <div class="col-sm-12 text-center">
                <hr class="hidden-xs">
                <a href="https://www.aao.gov.au/" target='_blank' class="text-center "><img src="{% static 'restapi_app/img/logo/DIIS_AAO_logo_inline_inverted.png' %}"></a> &nbsp;&nbsp;
                <a href="">ABOUT</a> |
                <a href="">SITE MAP</a> |
                <a href="">COPYRIGHT</a> |
                <a href="">DISCLAIMER</a>
            </div>
            <div class="col-sm-12 center-block text-center">
                <small>Copyright © 2016 Australian Astronomical Observatory.</small>
            </div>
        </div>
    </div>
</footer>
<script>
    if (location.pathname != '/asvo/under-construction/') {
        $('a[href="' + location.pathname + '"]').parents('li,ul').addClass('active');
    };
    // Call MathJax after the content has been loaded...
    MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ['\\(','\\)'] ]
      }
    });

    $(document).ready(function () {

        footer_function = function(){
            var docHeight = $(window).height();
            var footerHeight = $('#footer').height();
            var footerTop = $('#footer').position().top;
            if (footerTop < (docHeight-footerHeight)) {
                $('#footer').css('margin-top', 10 + (docHeight - footerTop -footerHeight) + 'px');
            };
        }
        $(window).on("load resize scroll", function (e) {
            footer_function();
        });

        // check height on event panel collapse in out
        $('.panel-collapse').on('hide.bs.collapse', function () {
            footer_function();
        });
        $('.panel-collapse').on('hidden.bs.collapse', function () {
            footer_function();
        });
        $('.panel-collapse').on('shown.bs.collapse', function () {
            footer_function();
        });

        // Smooth scrolling
        $(".scroll").click(function(event){
            // stop the hash being appended to the url, and scroll to the value
            event.preventDefault();
            $('html, body').animate({scrollTop:$(this.hash).offset().top}, 800);
        });


        update_sidebar_height = function(){
         /*
          * Sidebar menu height is at least right-panel height (but not smaller than the menu contents)
          */
            if ($(window).width() > 770) {
                if ($('.main-content').height() > $('.sidebar .sidebar-contents').height()) {
                    $('.sidebar').height($('.main-content').height() + 'px');
                } else {
                    $('.sidebar').height($('.sidebar .sidebar-contents').height() + 'px');
                }
            } else {
                $('.sidebar').height($('.sidebar .sidebar-contents').height() + 'px');
            }
        };



        // Hook method to collapse events on sidebar anchors to re-check size
        // - this is used in the trait property renderer, which is half navigation, half information

        $('.sidebar #sidebar').on('shown.bs.collapse', function () {
            update_sidebar_height();
        }).on('hidden.bs.collapse', function () {
            update_sidebar_height();
        });

        // Hide branch warning message
        $('.dismissable_panel a.dismiss_button').click(function(){
            $('.dismissable_panel').hide();
        });
        $('body').scrollspy({ target: '.sidebar .page-contents' });

        // Affix plugin
        function affixSidebar() {

            if ($('.sidebar-contents').length) {
                // destroy any previous listeners
                $('.sidebar-contents').off('.affix');

                var pos = $('.sidebar-contents').eq(0).offset();
                var pos_foot = $('.footer').outerHeight(true);

                $('[data-spy="affix"]').attr("data-offset-top", pos.top);
                $('[data-spy="affix"]').attr("data-offset-bottom", pos_foot + 30);

                // ensure the affix element maintains it width
                var affix = $('.sidebar-contents');
                var width = affix.width();
                var width = $('.sidebar').width();
//            console.log('sidebar width '+$('.sidebar').width()+' affix width '+width);
                affix.width(width);
            }

        }

        affixSidebar()

       // BOX HEIGHTS
        function box_heights() {
            /*
                For each box-row, find the largest box-contents height and map the others to it
             */
            if ($(".box-row").length) {
                $(".box-row").each(function () {
                    var heights, maxHeight;
                    heights = $(this).find(".box .box-contents").map(function () {
                        return $(this).height();
                    }).get();
                    maxHeight = Math.max.apply(null, heights);

                    $(this).find(".box").height(maxHeight);
                })
            }
        }


         $(window).load(function () {
            update_sidebar_height();
            affixSidebar();
             box_heights()
        });
        $(window).resize(function () {
            update_sidebar_height();
            affixSidebar();
            box_heights()
        });

    });
</script>