{% load staticfiles %}
{% load internal_extras %}
<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{% static 'restapi_app/img/logo/aao_90x40.png' %}" alt="AAO - Australian Astronomical Observatory"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Surveys</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Surveys</li>
                            <li><a href="{% url 'surveys' %}">Overview</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Extragalactic</li>
                            <li><a href="{% url 'sami' %}">SAMI</a></li>
                            <li class="disabled"><a href="" disabled>GAMA</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Galactic</li>
                            <li class="disabled"><a href="" disabled>GALAH</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Data</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Data Access</li>
                            <li><a href="{% url 'data-access' %}">Overview</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">View and download survey data products</li>
                            <li><a href="{% url 'data_browser:root-list' %}">Single Object Viewer</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Query catalogue properties</li>
                            <li class="disabled"><a href="" disabled>Define a sample</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Revisit previous queries</li>
                            <li class="disabled"><a href="" disabled>My Query History</a></li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Documentation </a>

                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Documentation and FAQs</li>
                            <li style="margin-top:4px;"><a href="{% url 'documentation:topic-list' %}">Help Center</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Schema browser for survey data products</li>
                            <li><a href="{% url 'schema_browser:root-list' %}">Schema Browser</a></li>


                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">About </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'about-team' %}">Meet the Team</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Support</li>
                            <li><a href="{% url 'support-contact' %}">Contact</a></li>
                            <li><a href="{% url 'support-bug' %}">Report an Issue</a></li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                <li class="download-li disabled">
                    <a href="" disabled class="download-icon">
                        <i class="fa fa-download icon fa-lg"></i>
                        <div class="badge" id="mini-download" mini-download></div>
                    </a>
                </li>
                {% block userlinks %}

                    {% if user.is_authenticated %}
                        {% optional_logout request user %}
                    {% else %}
                        {% optional_login request True %}
                    {% endif %}

                {% endblock %}

            </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!--<span class="visible-xs media-query-box">SIZE XS</span><span class="visible-sm media-query-box">SIZE SM</span><span class="visible-md media-query-box">SIZE MD</span><span class="visible-lg media-query-box">SIZE LG</span>-->
    <!--<div class="media-query-box">test</div>-->

</header>