{% extends "rest_framework/api.html" %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %}Sign Out{% endblock %}


{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'user/css/user/user.min.css' %}"/>
{% endblock %}
{% block bodyclass %}aat_dome{% endblock %}
{% block breadcrumbclass %}inverted{% endblock %}
{% block breadcrumbs %}
    <li class="active"><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'rest_framework:logout' %}">Sign Out</a></li>
{% endblock %}


{% block page_title_banner %}{% endblock %}

{% block content_render %}
<br>
<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading text-uppercase">
                Signed Out
                <i class="fa fa-sign-out pull-right" style="margin-top:3px"></i>
            </div>
            <div class="panel-body">
                <strong class="text-success text-uppercase">Success </strong>
                <p>Signed out.
                    <span class="pull-right">
                        <a href="{% url 'rest_framework:login' %}" class="text-uppercase ">Sign In <i class="fa fa-lock"></i> </a>
                        or
                        <a href="{% url 'user-register' %}" class="text-success text-uppercase ">
                            <span>Register</span>
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                    </span>
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}