{% extends "rest_framework/api.html" %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %}Confirm Password Reset{% endblock %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'user/css/user/user.min.css' %}"/>
{% endblock %}
{% block bodyclass %}twodf_background{% endblock %}
{% block breadcrumbclass %}inverted{% endblock %}
{% block breadcrumbs %}
    <li class="active"><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'password_reset' %}">Password Reset</a></li>
    <li>Confirm</li>
{% endblock %}

{% block page_title_banner %}{% endblock %}

{% block no_sidebar %}
<br>
<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading text-uppercase">
                Password Reset
                <i class="fa fa-refresh pull-right" style="margin-top:3px"></i>
            </div>
            <div class="panel-body">
            {% if form %}
                <p>Please enter your new password.</p>
                <form method="post" action="{{request.get_full_path}}" enctype="multipart/form-data" novalidate id="password-reset-form">
                    {% csrf_token %}

                    {% for field in form %}
                        {% if field.errors %}
                            <div class="form-group error">
                                <label>{{ field.label }}</label>
                                {{ field | add_class:"form-control" }}
                                <div class="controls">
                                    <span class="help-inline text-error">
                                        {% for error in  field.errors %}{{ error }}{% endfor %}
                                    </span>
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                {{ field | add_class:"form-control" }}
                                {% if field.help_text %}
                                    <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                        <div class="form-actions-no-box">
                            <input type="submit" name="submit" value="RESET" class="btn btn-primary form-control text-uppercase"
                                   id="submit-id-submit">
                        </div>
                </form>
                <br>
                <p>
                    <span class="pull-left">
                        Cancel this request by returning to
                        <a href="{% url 'rest_framework:login' %}" class="text-uppercase ">Sign In <i class="fa fa-lock"></i> </a>
                        or
                        <a href="{% url 'user-register' %}" class="text-success text-uppercase ">
                            <span>Register</span>
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                    </span>
                </p>
                {% else %}
                <p><strong class="text-error text-uppercase">Token Invalid.</strong> This link has already expired. Generate a new one by clicking the link below.

                </p>
                <p class="pull-right">
                        <a href="{% url 'password_reset' %}" >
                            <span>RESET</span>
                            <i class="fa fa-refresh"></i>
                        </a>
                    </p>
            {% endif %}

            </div>
        </div>
    </div>
</div>
<script src="{% static 'user/js/match_passwords.js'%}"></script>
<script>
    match_passwords('new_password1', 'new_password2', '#password-reset-form');
</script>

{% endblock %}



