{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'user/css/user/user.min.css' %}"/>
{% endblock %}
{% block title %}Register{% endblock %}
{% block bodyclass %}aat_outer{% endblock %}
{% block breadcrumbclass %}inverted{% endblock %}
{% block breadcrumbs-outer %}
<ul class="breadcrumb ">
    <li class="active"><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'user-register' %}">Register</a></li>
</ul>
{% endblock %}

{% block content %}
{% if display_edit_forms %}
<br>
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong> REGISTER </strong>
                <i class="fa fa-pencil-square-o pull-right" style="margin-top:3px"></i>
            </div>
            <div class="panel-body">
                {% if post_form %}
                    <div class="tab-pane" id="post-object-form">
                        {% with form=post_form %}
                        <form action="{{ request.get_full_path }}" class="form-horizontal" id="registration-form" method="POST" enctype="multipart/form-data" novalidate>
                            <fieldset>
                                {% csrf_token %}
                                {{ post_form }}
                                <div class="form-actions">
                                    <div class="col-xs-6">
                                        <h5>Already have an Account?
                                            <a href="{% url 'rest_framework:login' %}" class="signin">
                                                    <span class="text-uppercase">Sign In</span>
                                                    <i class="fa fa-lock"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div class="col-xs-6">
                                    <button class="btn btn-primary pull-right" title="Create New User">REGISTER </button>
                                        </div>
                                </div>
                            </fieldset>
                        </form>
                        {% endwith %}
                    </div>
                {% else %}
                    <h5 class="text-success"><strong>Success </strong></h5>
                    <!--<h5>New user created. Click the link below to sign in. </h5>-->
                {% endif %}

            </div>
        </div>
    </div>
</div>

<script src="{% static 'user/js/match_passwords.js'%}"></script>
<script>
    match_passwords('password', 'confirm_password', '#registration-form');
</script>
{% endif %}
{% endblock %}