{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}

{% block head-extra %}{% endblock %}
{% block title %}Register{% endblock %}

{% block content-filter-form %}{% endblock %}
{% block content-header %}{% endblock %}

{% block content-main %}
{% if display_edit_forms %}
<br>
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong> Register </strong>
            </div>
            <div class="panel-body">
                {% if post_form %}
                    <div class="tab-pane" id="post-object-form">
                        {% with form=post_form %}
                        <form action="{{ request.get_full_path }}" class="form-horizontal" id="registration-form" method="POST" enctype="multipart/form-data" novalidate>
                            <fieldset>
                                {% csrf_token %}
                                {{ post_form }}

                                <div class="form-actions">
                                    <button class="btn btn-success pull-right" title="Create New User">Register</button>
                                </div>
                            </fieldset>
                        </form>
                        {% endwith %}
                    </div>
                    <h4>Already have an Account?</h4>
                {% else %}
                    <h4 class="text-success"><strong>Success </strong></h4>
                    <h5>New user created. Click the link below to sign in. </h5>
                {% endif %}
                {% optional_login request %}
            </div>
        </div>
    </div>
</div>

<script>
$('#registration-form').on('submit',function(){
   if($('input[name="password"]').val()!=$('input[name="confirm_password"]').val()){
       $('input[name="password"], input[name="confirm_password"]').css({border:'solid 1px #a94442'});
       $('<span class="help-block" style="color:#a94442">Passwords do not match.</span>').appendTo($('input[name="confirm_password"]').parent());
       return false;
   } else{
       $('input[name="password"], input[name="confirm_password"]').css({border:'0px'});
   }
   return true;
});

</script>
{% endif %}
{% endblock %}