#documentation-sidebar {
  margin-top: 15px;
  border-right: 0 solid #F4F5F6;
  padding: 0 5px 5px 5px;
}
#documentation-sidebar .nav li > a {
  padding: 0 5px 5px 5px;
}
#documentation-sidebar .nav-list {
  font-family: 'Roboto', sans-serif;
}
#documentation-sidebar .nav-list {
  padding-left: 10px;
}
nav.docs-sidebar {
  background-color: transparent;
}
.search-result h4 {
  margin: 0;
}
.search-result h4 a {
  color: #5aa8d8;
  margin: 0;
}
.panel-default {
  margin: 0;
}
.restricted-height-400 {
  max-height: 400px;
  overflow-y: scroll;
}
