{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}Query{% endblock %}
{% block head-extra %}
 <script src="{% static 'restapi_app/js/angular/angular.1.5.0.js' %}"></script>
<script src="{% static 'restapi_app/js/angular/angular-sanitize.1.5.0.min.js' %}"></script>
<script type="text/javascript">
    //get url for available catalogues
    urlCataloguesGlobal = "{% url "catalogues" %}"
</script>
<script src="{% static 'restapi_app/js/query-builder/app.js' %}"></script>
<script src="{% static 'restapi_app/js/query-builder/CtrlQueryBuilder.js' %}"></script>
<script src="{% static 'restapi_app/js/schema-browser/CtrlSchemaBrowser.js' %}"></script>
<script type="text/javascript" src="{% static 'restapi_app/js/query-builder/isteven-multi-select.js' %}"></script>
<link rel="stylesheet" href="{% static 'restapi_app/less/query/isteven-multi-select.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'restapi_app/less/query/query-builder.css' %}" type="text/css"/>
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/less/schema-browser/schema-browser.css' %}"/>

<style type="text/css">
    table{
        table-layout: fixed;
    }
    table tr {
        height:1em;
    }
    td {
        overflow:hidden;white-space:nowrap;
    }
    .nav-pagination{
        background-color:transparent;
        float:right;
    }
    #SQL-ace-editor{border:solid 1px #eeeeee;}

</style>
{% block head-extra-extra%}{% endblock %}
{% endblock %}

{% block bodyclass %}{% endblock %}
{% block breadcrumbclass %}{% endblock %}

{% block content-filter-form %}{% endblock %}
{% block content-header %}{% endblock %}

{% block angular-ng-app-class %}ng-app="myApp"{% endblock %}
{% block content %}
    {% comment %}
    ------ NEW QUERY FORM ------
    {% endcomment %}
    {% if display_edit_forms %}
        {% if post_form or raw_data_post_form %}
            {% if not response.data.queryResults %}
                <h1 class="headline">
                    <span>Query</span>
                    <div class="btn-group on-this-page-btn-group pull-right" role="group" aria-label="...">
                        <a type="button" class="btn btn-default btn-sm text-uppercase" href="{% url 'documentation-query-builder' %}" title="Query Documentation">Documentation</a>
                        <a type="button" class="btn btn-default btn-sm text-uppercase" href="{% url 'query-list' %}" title="Re-visit previous queries.">Query History</a>
                    </div>
                </h1>
                <div class="row">
                    <div class="col-sm-12">
                        <p>Submit an <a onclick="fTabSwitch('post-object-form')" title="Query the ASVO-AAT Node database.">SQL</a>
                            (Structured Query Language) query to the ASVO-AAT Node database via the form below.</p>
                        <p>The <a onclick="fTabSwitch('query-builder-form')" title="Create simple SQL queries with ease.">Query Builder</a> allows you to construct long and complicated
                            SQL queries without prior knowledge of the syntax.
                        </p>
                        <p>Re-visit and manage
                            your past queries in <a href="{% url 'query-list' %}" title="Re-visit previous queries.">Query History</a>. </p>
                    </div>
                </div>
                {% if response.status_code == 201 %}
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="headline">
                            <span>Success</span>
                        </h2>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-background-grey">
                                <h3 class="panel-title">Success</h3>
                            </div>
                            <div class="panel-body">
                                <p>Query {{response.data.title}} submitted on {{response.data.created}} has completed.</p>
                                <p>
                                <div class="half-br"></div>
                                <a type="button" class=" text-uppercase" href="{{response.data.url}}">Go to Result</a>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if response.status_code == 200 %}
                <div class="row">
                    <div class="col-sm-8">
                         <h2 class="headline" id="new-query">
                            <span>New Query</span>
                        </h2>
                        <div class="tabbable">
                            {% if post_form %}
                            <ul class="nav nav-tabs form-switcher">
                                <li>
                                    <a name='html-tab' href="#post-object-form" data-toggle="tab">SQL Form</a>
                                </li>
                                <li>
                                    <a name='raw-tab' href="#query-builder-form" data-toggle="tab">Query Builder</a>
                                </li>
                            </ul>
                            {% endif %}
                            <div class="well tab-content">
                                {% if post_form %}
                                <div class="tab-pane" id="post-object-form">
                                    {% with form=post_form %}
                                    <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                                        <fieldset>
                                            {% csrf_token %}
                                            {{ post_form }}
                                            <div class="form-actions">
                                                <button class="btn btn-primary btn-sm pull-right" title="Make a POST request on the {{ name }} resource" id="button-sql-submit">SUBMIT</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                    {% endwith %}
                                </div>
                                {% endif %}

                                <div id="query-builder-form" class="tab-pane">
                                    {% block query-builder %}
                                        {% include "restapi_app/query/query-builder-module.html" %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                         <h2 class="headline">
                            <span>Schema</span>
                        </h2>
                        {% block schema-browser %}
                            {% include "restapi_app/query/schema-browser-module.html" %}
                        {% endblock %}
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}


{% endblock %}

{% block status_block %}
    {% include "restapi_app/query/status_block.html" %}
{% endblock %}

{% comment %}
------ ACE EDITOR FOR ANY SQL BOXES ------
{% endcomment %}
{% block footer-extra %}
<script src="{% static "restapi_app/js/ace-min-noconflict/ace.js" %}"></script>

<script type="text/javascript">
        $(document).ready(function() {
            $('form').ajaxForm();

            // CODE EDITOR
            $(function () {
                //Hide the results form group to prevent users trying to patch results
                //back-end will drop this if tampered with
                $('input[name="queryResults"]').parents('.form-group').hide();

                // SQL
                $('textarea[name=SQL]').each(function () {
                    $('form').find('textarea[name=SQL]').attr('id','textarea-code');

                    // clear out parent container
                    $('#textarea-code').parent().not(':first').remove();
                    $('#textarea-code').parent().append('<div id="SQL-ace-editor" class="ace-editor-class" style="height: auto;min-height:100px"></div>');
                    var textarea = $('#textarea-code').css('display', 'none');

                    var SQLAceEditor = ace.edit("SQL-ace-editor");
                    SQLAceEditor.$blockScrolling = Infinity;
                    SQLAceEditor.setTheme("ace/theme/crimson_editor");
                    SQLAceEditor.setOption("maxLines", 20);
                    SQLAceEditor.setOption("minLines", 10);
                    SQLAceEditor.getSession().setMode("ace/mode/sql");
                    SQLAceEditor.getSession().setValue(textarea.val());
                    SQLAceEditor.getSession().on('change', function(){
                        textarea.val(SQLAceEditor.getSession().getValue());
                        SQLAceEditor.resize(true);
                    });
                });
            });
            $('#button-sql-submit').click(function(){
                $(this).attr('disabled','disabled');
                $(this).html('SUBMITTING... <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>');
                $('#post-object-form form').submit();
            });
        });
</script>

{% comment %}
------ CHECK SLUG FOR ANCHOR ------
{% endcomment %}

<script>
    // Check slug for #anchor, change tab view if appropriate
    function fchange_tab() {
        var url = window.location.href;
        var hash = url.substring(url.indexOf("#") + 1);
        if (hash == 'query-builder-form' || hash == 'post-object-form') {
            $('#query-builder-form').removeClass('active');
            $('#post-object-form').removeClass('active');

            $('a[href="#query-builder-form"]').parent('li').removeClass('active');
            $('a[href="#post-object-form"]').parent('li').removeClass('active');

            $('#' + hash).addClass('active');
            $('a[href="#' + hash + '"]').parent('li').addClass('active');
        }
    }
    ;

    fchange_tab();

    $('.li-query').click(function () {
        // bind navigation after 0.5s
        // ensures url has changed and will read new hash
        setTimeout(function () {
            fchange_tab();
        }, 500);

    });

</script>
{% endblock %}

