{% extends 'restapi_app/query/query.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}

{% block angular-ng-app-class %}ng-app="queryBuilder"{% endblock %}

{% block head-extra-extra %}
    <link rel="stylesheet" href="{% static 'restapi_app/css/query-builder/query-builder.css' %}" type="text/css"/>

    <script src="{% static 'restapi_app/js/angular/angular.1.5.0.js' %}"></script>
    <script src="{% static 'restapi_app/js/angular/angular-sanitize.1.5.0.min.js' %}"></script>
    <script src="{% static 'restapi_app/js/query-builder/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'restapi_app/js/query-builder/isteven-multi-select.js' %}"></script>

    <link rel="stylesheet" href="{% static 'restapi_app/css/query-builder/isteven-multi-select.css' %}" type="text/css"/>

{% endblock %}

{% block query-builder %}
    {% verbatim %}
          <!-- Content -->
         <div ng-controller="CatalogueController as catCtrl">
             <div class="row">
                 <div class="col-sm-9">
                     <form name="myForm" class="query-form " >
                        <!--SELECT-->
                        <div class="row header">
                            <div class="col-sm-12">
                                 <h4>
                                     <span>SELECT</span>
                                     <a class=" black pull-right" href="" ng-click="fAddCatalogue()">
                                            <i class="fa fa-plus"></i></a>
                                 </h4>
                            </div>
                        </div>
                        <div class="row content">
                            <div ng-repeat="nodecat in inputCatalogues track by $index" class="clearfix false-row">
                                <div class="col-sm-12 col-xs-12">
                                    <div isteven-multi-select input-model="nodecat" output-model="outputCatalogues[$index]"
                                       on-item-click="fCatClick( data )" on-reset="fReset()" selection-mode="single" on-open="fOpenCat()"
                                       button-label="name" item-label="name" tick-property="ticked" class="floating-select"
                                         disable-property="disabled" id="outputCatalogue{{$index}}">
                                    </div>
                                    <div isteven-multi-select input-model="outputCatalogues[$index][0].columns" output-model="outputColumns[$index]"
                                        on-item-click="fColClick(data)" on-select-all="" on-close="fColClose()" ng-show="outputCatalogues[$index].length>0"
                                        button-label="name " item-label=" name " tick-property="ticked" class="floating-select"
                                        id="outputColumn{{$index}}" >
                                    </div>
                                    <button class="btn outline red pull-right" href="" ng-click="fRemoveCatalogue($index)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <hr>
                                </div>
                            </div>
                        </div>
                         <!--JOIN-->
                        <div class="row header" ng-show="inputJoins.length>0">
                             <div class="col-sm-12">
                                 <h4>
                                     <span>JOIN</span>
                                     <a class=" black pull-right" href="" ng-click="fAddJoin()">
                                            <i class="fa fa-plus"></i></a>
                                 </h4>
                            </div>
                        </div>
                         <div class="row content" ng-show="inputJoins.length>0">
                            <div ng-repeat="join in inputJoins track by $index" class="clearfix false-row">
                                <div class="col-sm-12 col-xs-12">
                                    <div isteven-multi-select input-model="join" output-model="outputJoins[$index]"
                                          group-property="catGroup" button-label="buttonname" item-label="name"
                                          tick-property="ticked" selection-mode="single" class="floating-select"
                                         on-item-click="fJoinClick(data)" id="outputJoins{{$index}}">
                                    </div>
                                    <div isteven-multi-select input-model="inputJoinOperators[$index]" output-model="outputJoinOperator[$index]"
                                          button-label="operator" item-label="operator" helper-elements="none" on-item-click="fJoinOperator()"
                                          tick-property="ticked" selection-mode="single" class="floating-select smallContainer"
                                          id="outputJoinOperator{{$index}}">
                                    </div>
                                    <div isteven-multi-select input-model="inputJoinsB[$index]" output-model="outputJoinsB[$index]"
                                          group-property="catGroup" button-label="buttonname" item-label="name"
                                          tick-property="ticked" selection-mode="single" class="floating-select"
                                         on-item-click="fJoinBClick(data)" id="outputJoinsB{{$index}}">
                                    </div>
                                    <button class="btn outline red pull-right" href="" ng-click="fRemoveJoin($index)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <hr>
                                </div>
                            </div>
                        </div>
                         <!--WHERE-->
                        <div class="row header">
                            <div class="col-sm-12">
                                 <h4>
                                     <span>WHERE</span>
                                     <a class=" black pull-right" href="" ng-click="fAddWhere()">
                                            <i class="fa fa-plus"></i></a>
                                 </h4>
                            </div>
                        </div>
                        <div class="row content">
                            <div ng-repeat="nodewhere in inputWheres track by $index" class="clearfix false-row">
                                <div class="col-sm-12 col-xs-12">
                                     <div isteven-multi-select input-model="nodewhere" output-model="outputWheres[$index]"
                                          group-property="catGroup" button-label="name" item-label="name"
                                          tick-property="ticked" selection-mode="single" class="floating-select"
                                          on-item-click="fWhereClick(data)" id="outputWhere{{$index}}">
                                      </div>
                                     <label class="checkbox-inline querynot col-xs-1">
                                      <input type="checkbox" id="'inlineCheckbox{{$index}}'" value="1" ng-model="queryCheckbox[$index]"> not
                                    </label>
                                    <input class="col-sm-2 col-xs-3 input-box" ng-show="outputWhereOperator[$index][0].operator=='BETWEEN'" type="text" class="form-control" id="'lowerWhereValue{{$index}}'" ng-model="outputLowerWhereValue[$index]" placeholder="value">
                                    <div isteven-multi-select input-model="inputWhereOperators[$index]" output-model="outputWhereOperator[$index]"
                                          button-label="operator" item-label="operator" helper-elements="none" on-item-click="fWhereOperator()"
                                          tick-property="ticked" selection-mode="single" class="floating-select smallContainer"
                                          id="outputWhereOperator{{$index}}"  >
                                    </div>
                                    <input class="col-sm-2 col-xs-3 input-box" type="text" class="form-control"
                                           id="whereValue{{$index}}" ng-model="outputWhereValue[$index]" placeholder="value"
                                           on-item-click="fWhereValue()">
                                    <button class="btn outline red pull-right" href="" ng-click="fRemoveWhere($index)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="row header">
                            <div class="col-xs-12">
                                <h4>OUTPUT</h4>
                            </div>
                        </div>
                        <div class="row content" id="sql-output">
                            <div class="col-xs-12">
                                <p>
                                <span ng-bind-html="outputSQLWHERE">{{ outputSQLWHERE }} &nbsp;</span>
                                </p>
                            </div>
                        </div>
                         <div class="row">
                             <div  style="margin-top:15px">
                                 <button class="btn btn-md btn-primary pull-right" type="button" ng-click="">Submit</button>
                             </div>
                        </div>
                     </form>
                 </div>
                <div class="col-sm-3">
                    <div id="query-form-errors" class="">
                         <div ng-show="error.errorFlag == true" class="row">
                             <div class="error header row">
                                 <div class="col-sm-12">
                                     <h4>
                                         <span>ERROR</span>
                                         <a class="outline white pull-right" href="" ng-click="fResetErrors()">
                                                <i class="fa fa-times-circle"></i></a>
                                     </h4>
                                 </div>
                            </div>
                             <div class="row">
                                <div class="col-xs-12">
                                    <div  ng-repeat="(key, value) in error" ng-if="key!='errorFlag'">
                                            <p><strong>{{ key }}:</strong> {{value}}</p>
                                    </div>
                                </div>
                             </div>
                        </div>
                         <div ng-show="warning.warningFlag == true" class="row">
                             <div class="warning header row">
                                  <div class="col-sm-12">
                                     <h4>
                                         <span>WARNING</span>
                                         <a class="outline white pull-right" href="" ng-click="fResetWarnings()">
                                                <i class="fa fa-times-circle"></i></a>
                                     </h4>
                                  </div>
                            </div>
                             <div class="row">
                                <div class="col-xs-12">
                                    <div  ng-repeat="(key, value) in warning" ng-if="key!='warningFlag'">
                                            <p><strong>{{ key }}:</strong> {{value}}</p>
                                    </div>
                                </div>
                             </div>
                        </div>
                        <div ng-show="warning.warningFlag != true && error.errorFlag != true" class="row">
                             <div class="no-error header row">
                                     <div class="col-sm-12">
                                         <h4>
                                             <span>SYNTAX</span>
                                             <i class="outline white fa fa-check-circle pull-right"></i>
                                         </h4>
                                    </div>
                            </div>
                             <div class="row">
                                <div class="col-xs-12">
                                    <p><strong>all good</strong> keep clicking</p>
                                </div>
                             </div>
                        </div>
                     </div>
                    <div class="row" role="group">
                             <div class="col-xs-12" style="margin-top:15px">
                                 <button class="btn btn-sm btn-default pull-right" type="button" ng-click="fBuildSQL()"><i class="fa fa-code"></i> SQL</button>
                                 <button type="button" class="btn btn-sm btn-default pull-right" ><i class="fa fa-files-o"></i> COPY</button>
                             </div>
                    </div>
                </div>
             </div>
        </div>
    {% endverbatim %}
{% endblock query-builder %}