{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}{{objname}}{% endblock %}
{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/sample/sample.min.css' %}"/>
{% endblock %}
{% block bodyclass %}{% endblock %}
{% block breadcrumbclass %}{% endblock %}

{% block content-options %}{% endblock %}
{% block content-delete %}{% endblock %}
{% block content-filter-form %}{% endblock %}

{% block content-page-header %}{% endblock %}
{% block content %}
    <h1 class="headline">
        <span>{{ objname }}</span>
        {% captureas survey %}{% get_pks request.path -3 %}{% endcaptureas %}
        {% surveylogoimglink survey %}
    </h1>

    <div class="container-browse-astroobject">
        <h3>Available Data</h3>
        <div class="row">
            {% for key, value in response.data.items %}
                {% if key == 'schema' %}
                    {% for keyb, valueb in value.items %}
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        {% comment %}
                            {% if forloop.counter0|divisibleby:4 %}
                                {{ forloop.counter0 }} COUNTER
                            {% endif %}
                        {% endcomment %}
                            <div class="panel panel-default">
                                <!-- Default panel contents -->
                                <div class="panel-heading panel-background-grey"><h3 class="panel-title">{{ keyb | CapsSentence }}</h3></div>

                                 <!--List group-->
                                <div class="list-group list-group-collapse">
                                    {% for keyc, valuec in response.data.items %}
                                        {% if keyc != 'schema' and keyb in keyc %}
                                        <div class="list-group-item ">
                                            <a href="{{ valuec }}" class="">
                                                <span class="pull-right ">view</span>
                                            </a>
                                            <h4 class="list-group-item-text">
                                                {% if keyb == 'line_map' %}
                                                    {{ keyc | LineOnly }}
                                                {% elif keyb == 'velocity_map' %}
                                                    {{ keyc | CapsSentence }}
                                                {% else %}
                                                    {{ keyc | TraitTypeSplit }}
                                                {% endif %}
                                            </h4>

                                            <h6 class="text-uppercase">Properties</h6>
                                            {% for keyd, valued in valueb.items %}
                                             <a href="{{ valuec }}{{ keyd }}" class="inline-links"><p>{{ keyd }}</p></a>

                                            {%endfor%}
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        {% comment %}
        <div class="row">
            <div class="col-sm-offset-8 col-sm-4">
                {% if 'GET' in allowed_methods %}
                    <form id="get-form" class="pull-right">
                        <fieldset>
                            {% if api_settings.URL_FORMAT_OVERRIDE %}
                            <div class="btn-group  btn-block format-selection">
                                <!--<a class="btn btn-default btn-block btn-md js-tooltip" href="{{ request.get_full_path }}" rel="nofollow"-->
                                   <!--title="Download user {{user}}'s {{ name }} by format type">Download list of {{objname}} objects</a>-->
                                <button class="btn btn-default btn-block btn-md dropdown-toggle js-tooltip" data-toggle="dropdown" title="Specify a format for the request">
                                    Download list of available data for {{objname}}  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% for format in available_formats %}
                                    {% if format != 'api' %}
                                        <li>
                                            <a class="js-tooltip format-option" href="{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}"
                                               rel="nofollow" title="Download {{ name }} with the format set to `{{ format }}`">{{ format }}</a>
                                        </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% else %}
                                <a class="btn btn-default btn-sm js-tooltip" href="{{ request.get_full_path }}" rel="nofollow"
                                   title="View user {{user}}'s {{ name }}">GET</a>
                            {% endif %}
                        </fieldset>
                    </form>
                {% endif %}
            </div>
        </div>
        {% endcomment %}
    </div>
    <script>
    </script>
{% endblock %}

{% block content-DRFs %}{% endblock %}
{% block footer-extra %}
{% endblock %}

