{% load internal_extras %}
<div class="row">
    {% with response.data.traits.velocity_map.traits|key:'velocity_map-ionized_gas' as trait_path %}
    <div class="col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{{trait_path.url}}">{{trait_path.pretty_name}}</a>
            </div>
            <div class="panel-body">
                <div class="" id="velocity_map_plotly_plot">
                    <!--Dynamic plotly rendering based on Trait Type-->
                    <p><i class="fa fa-refresh fa-spin"></i> Fetching Data ...</p>
                </div>
            </div>
            {% if trait_path.description %}
            <div class="panel-footer">
                <p class="text-justify">{{trait_path.description}}</p>
            </div>
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var trait_url = "{{trait_path.url}}value/?format=json";
            var trait_name = "{{trait_path.pretty_name}}";
            var map_selector = "velocity_map_plotly_plot";
            var options_selector = "velocity_map_plotly_plot_options";
            trait_plot(trait_url, trait_name, map_selector, options_selector);
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

                // if the overview tab is activated, once the shown.bs.tab event
                // is completed, force plotly to recalcular its size
                console.log(map_selector)
                var elementWidth = $('#' + map_selector).parent().width();
                var update = {
                    width: elementWidth,
                    height: elementWidth
                };
                Plotly.relayout(map_selector, update);
            })
        });
    </script>
    {% endwith %}

    {% with response.data.traits.sfr_map.traits.sfr_map as trait_path %}
    <div class="col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{{trait_path.url}}">{{trait_path.pretty_name}}</a>
            </div>
            <div class="panel-body">
                <div class="" id="sfr_map_plotly_plot">
                    <!--Dynamic plotly rendering based on Trait Type-->
                    <p><i class="fa fa-refresh fa-spin"></i> Fetching Data ...</p>
                </div>
            </div>
            {% if trait_path.description %}
            <div class="panel-footer">
                <p class="text-justify">{{trait_path.description}}</p>
            </div>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var trait_url = "{{trait_path.url}}value/?format=json";
            var trait_name = "{{trait_path.pretty_name}}";
            var map_selector = "sfr_map_plotly_plot";
            var options_selector = "sfr_map_plotly_plot_options";

            trait_plot(trait_url, trait_name, map_selector, options_selector);
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                console.log(map_selector)
                // if the overview tab is activated, once the shown.bs.tab event
                // is completed, force plotly to recalcular its size
                var elementWidth = $('#' + map_selector).parent().width();
                var update = {
                    width: elementWidth,
                    height: elementWidth
                };
                Plotly.relayout(map_selector, update);
            })
        });

    </script>
    {% endwith %}

</div>