{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% load data_browser_tag %}
{% block title %}Data Browser{% endblock %}
{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/sample/sample.min.css' %}"/>
{% endblock %}

{% block page_title %}Data Browser{% endblock %}
{% block useful_links %}
<li role="presentation" ><a href="{% url 'schema:sample-list' sample_pk=response.data.sample %}">Schema Browser</a></li>
<li role="presentation" ><a href="{% url 'documentation:topic-detail' slug=response.data.sample %}">Documentation</a></li>
{% endblock useful_links %}

{% block page_title_banner %}
{% captureas survey %}{{response.data.sample}}{% endcaptureas %}
<div class="title_info red">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Data Browser for {{survey|uppercase}} Data Release {{response.data.data_release}}
                    <small class="right-helper">
                        <!--<span class="sub-heading"><i class="fa fa-map-marker"></i> DR 1.0</span>&nbsp;&nbsp;-->
                        <div class="btn-group" role="group" style="margin-top:-15px;">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                    <span class="sub-heading">
                        <i class="fa fa-map-marker"></i> Data Release
                    </span>
                                <strong>1.0</strong>
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="disabled"><a href="">Data Release 1.0 &nbsp;
                                    <small class="sub-heading text-uppercase">Current</small>
                                </a></li>
                            </ul>
                        </div>
                    </small>
                </h1>
                <p>The Data Browser provides a quick-look at survey-derived
                    data products and associated meta-data on an
                    object-by-object basis, and allows users to download individual data products in FITS file
                    format.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock page_title_banner %}

{% block content-navigator-help %}
    <a href="{% url 'data_browser:survey-list' sample_pk=response.data.sample %}"><i class="fa fa-reply"></i> Back to {{response.data.sample|uppercase}}</a>
{% endblock %}

{% block content_render %}
{% captureas survey %}{{response.data.sample}}{% endcaptureas %}
<div class="row">
    <div class="col-xs-12 col-sm-3 sidebar">
        <div class="sidebar-contents">
            <h5>Page Contents</h5>
            <ul class="nav nav-pills nav-stacked docs-sidebar">
                <!--<li class="text-uppercase heading no-margin-top">-->
                    <!--<h6>Data Release {{response.data.data_release}}</h6>-->
                <!--</li>-->
                <li role="presentation"><a class="scroll" href="#overview">Overview</a></li>
                <li role="presentation"><a class="scroll" href="#available-data">Available Data</a></li>
            </ul>

            <h5>Quick Links</h5>
            <ul class="nav nav-pills nav-stacked docs-sidebar">
                <li><a class="" target="_blank" href="{% url 'schema:sample-list' sample_pk=survey %}"> Schema Browser</a></li>
                <li><a class="" href="{% url 'documentation:topic-detail' slug=survey %}" disabled> Documentation</a></li>
                {% if breadcrumblist %}
                  {% with breadcrumblist|length|add:"-2" as b %}
                    <li><a href="{{breadcrumblist|key:b|key:1}}"> <i class="fa fa-angle-left"></i> Back to {{breadcrumblist|key:b|key:0}}</a></li>
                  {% endwith %}
            {% endif %}
            </ul>

            <h5>Auxillary Data</h5>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">SDSS Image</span>
                </div>
                <div class="panel-body">
                    <img src="http://casjobs.sdss.org/ImgCutoutDR7/getjpeg.aspx?ra=184.5441666666667&amp;dec=-0.7449722222222223&amp;scale=0.2&amp;opt=IGPO&amp;width=512&amp;height=512"
                         alt="..." class="img-responsive">
                    <br>
                    <p class="text-justify small">Colour composite image, 19.5 arcsec on a side. False colour, 512
                        × 512 pixel, 0.2
                        arcsec/pixel,
                        5-band composite from SDSS DR7.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-9 main-content">
        <div class="col-sm-2 pull-right">
            <img class="img-responsive sami-logo"  src="/static/restapi_app/img/logo/logo-{{survey}}.png">
        </div>
        <h2>{{response.data.sample|uppercase}} {{response.data.astro_object}}</h2>
        <h3 id="overview">Overview</h3>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">Object Properties</span>
            </div>
            <div class="table-responsive">
                <table class="table table-overview">
                    <tbody>
                    <tr class="large">
                        <td class="lead">{{response.data.astro_object}}</td>
                        <td class="lead">-</td>
                        <td class="lead">-</td>
                        <td class="lead">-</td>
                        <td class="lead">-</td>
                    </tr>
                    <tr class="large">
                        <td>Survey ID</td>
                        <td>IAU ID</td>
                        <td>RA</td>
                        <td>DEC</td>
                        <td>Redshift</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% with "data_browser/astro_object/survey/"|add:survey|add:".html" as template %}
            {% include template %}
        {% endwith %}
        <h3 id="available-data">Available Data</h3>
        <p>Data products are grouped by their product-type (e.g., you can find the SAMI [OIII] (5007Å) and [NII] (6583Å) line maps under <em>Line Maps</em>).  </p>
        <div class="p">Select a product type from the list below to view the available data.</div>
        <h4>Product Types</h4>
        <ul class="nav nav-pills" role="tablist" id="trait_tabs">
            {% for trait_type, trait_value in response.data.traits.items %}
            <li role="presentation" {% if forloop.first %}class="active" {% endif %}>
                <a href="#{{trait_type}}" aria-controls="{{trait_type}}" role="tab" data-toggle="tab">{{trait_value.pretty_name}}s</a>
            </li>
            {% endfor %}
        </ul>
        <br>

        <div class="tab-content">
            {% for trait_type, trait_value in response.data.traits.items %}
                <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{trait_type}}">
                    <table class="table table-astro-object table-bordered">
                            <colgroup>
                                <col style="width:40%">
                                <col style="width:30%">
                                <col style="width:30%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td colspan="3">
                                    <h4 class="no-margin-top">{{trait_value.pretty_name}}s</h4>
                                    <em>{% if trait_value.description %}{{trait_value.description}}{% endif %}</em>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="sub-heading question">
                                                <div class="helper step step1">View the default branch for this data
                                                    product...
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="helper step step2"> ... or choose a specific branch from the
                                                dropdown. To find out more
                                                about the available branches, visit the <a
                                                        href="{% url 'schema:sample-list' sample_pk=response.data.sample %}">Schema
                                                    Browser</a>.
                                            </div>
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div
                                                class="helper step step3"><span class="sub-heading "> <i
                                                class="fa fa-download"></i>  </span> Download this data product as JSON or FITS, or add it to the Download Bundle.
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% for trait, value in trait_value.traits.items %}
                                <tr>
                                    <td>
                                        <a href="{{value.url}}">
                                            <h4 class="text-info" style="border:0"> {{value.pretty_name}}</h4>
                                        </a>
                                        {% if value.description != None %}
                                        <div class="p">{{value.description}}</div>
                                        {%endif%}
                                        <div class="p">
                                            <span class="version sub-heading"><i
                                                    class="fa fa-map-marker"></i> 1.0 Release</span>
                                            <span class="version sub-heading"><i class="fa fa-code-fork"></i> Default</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-default dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <span class="sub-heading"><i class="fa fa-code-fork"></i> Choose a Branch</span>
                                                    <i class="fa fa-caret-down"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    {% for branch_key, branch_value in value.branches.items %}
                                                    <li><a href="{{branch_value.url}}">{{branch_value.pretty_name}}</a>
                                                    </li>
                                                    <li class="dropdown-header"><i
                                                            class="fa fa-level-up fa-rotate-90"></i>
                                                        {{branch_value.description}}
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {% for f in value.formats %}
                                        <a href="{{value.url}}?format={{f}}" class="btn btn-default">
                                                        <span class="fa-custom-stack">
                                                          <i class="fa fa-file-o"></i>
                                                            <span class="fa-custom-filetype">{{f}}</span>
                                                        </span>{{f}}
                                        </a>
                                        {% endfor %}
                                        <br><br>
                                        <add-download-button url='{{value.url}}' options='' formats='{{value.formats}}' prettyname="{{value.pretty_name}}"></add-download-button>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>
            {% endfor %}
        </div>
        <br><br><br>
    </div>
</div>

{% endblock %}

{% block footer-extra %}
<script type="application/javascript">
    $('#ao_tabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>


<script src="{% static 'restapi_app/js/jsonparsemore/json_parseMore.js' %}"></script>
<script type="application/javascript" src="{% static 'restapi_app/js/plotly/plotly.latest.min.js'%}"></script>
<script type="application/javascript" src="{% static 'data_browser/js/2D_map.js'%}"></script>
<script type="application/javascript" src="{% static 'data_browser/js/trait_plotting.js'%}"></script>




{% endblock %}

