{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}Dummy Item{% endblock %}

{% block angular-ng-app-class %}ng-app="CartApp"{% endblock %}

{% block head-extra %}
<script type="text/javascript" src="{% static 'restapi_app/js/angular/angular.1.5.0.js' %}"></script>
<script type="text/javascript" src="{% static 'restapi_app/js/angular/angular.1.5.0.cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'restapi_app/js/angular/angular-sanitize.1.5.0.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'cart/css/cart/cart.min.css' %}"/>

<script type="text/javascript" src="{% static 'cart/js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'cart/js/services.js' %}"></script>
<script type="text/javascript" src="{% static 'cart/js/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'cart/js/directives.js' %}"></script>

{% endblock %}

{% block breadcrumbs-outer %}
<ul class="breadcrumb ">
    <li class="active"><a href="{% url 'index' %}">Home</a></li>
    <li>Item</li>
</ul>
{% endblock %}

{% block content_render %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="headline"><span>Dummy Items</span></h1>
        </div>
        <div ng-controller="DummyData">
            <div class="col-md-3" ng-repeat="item in data">
                <h2 ng-bind="item.ao"></h2>
                <h4 ng-bind="item.title"></h4>
                <h6 ng-bind="item.url"></h6>

                <add-cart-button item="item"></add-cart-button>
            </div>
        </div>
    </div>
    <div class="row" ng-controller="CartController">

        <div class="col-xs-12">
            <h1 class="headline"><span>Dummy Mini-Cart</span></h1>
        </div>
        <div class="col-sm-8">
            ITEM COUNT:
            {% verbatim %}
            <button ng-click="getItemCount()">count</button>
            {{ $scope.getItemCount() }}
            {% endverbatim %}
            <button class="btn btn-default text-error btn-sm js-tooltip pull-left text-uppercase" title="Delete all items in the cart" id="checkout-button" ng-click="emptyCart()">Empty Cart
                                                </button>
            <hr>

            <!--<mini-cart></mini-cart>-->

        </div>
        <div class="col-sm-4">
            <!--add to cart button-->
            <hr>
            <!--<add-cart-button item="dummyobj"></add-cart-button>-->
        </div>
    </div>

</div>
<script>

</script>
{% endblock %}