.attention-seeker {
  color: #333;
}
.attention-seeker a:hover,
.attention-seeker a:focus {
  text-decoration: none;
}
.attention-seeker .well {
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
  border: 0;
  background: rgba(251, 251, 251, 0.4);
}
.attention-seeker .well p {
  color: #333;
}
.attention-seeker .well:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.13);
}
.tools a:hover,
.surveys a:hover,
.tools a:focus,
.surveys a:focus {
  text-decoration: none;
}
.tools .media,
.surveys .media {
  padding: 30px;
  transition: all 0.3s ease-in-out;
}
.tools .media:hover,
.surveys .media:hover {
  transform: scale(1.05);
  cursor: hand;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.13);
}
.tools .media .media-left img,
.surveys .media .media-left img {
  min-width: 100px;
}
.tools .media .media-body,
.surveys .media .media-body {
  padding: 0px 15px;
}
.tools .table p,
.surveys .table p {
  font-size: 12px;
}
