{% extends 'base/base.html' %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %} Query Form {% endblock %}
{% block wrapper %}
    <div class="container">
        <div class="row">
            <h2>Query</h2>
            <div class="col-sm-6">
                <h3>Return</h3>
                <form action="" method="post" class="form" role="form">
                    {% csrf_token %}
                    {% bootstrap_form form layout="horizontal" %}
                    {% buttons submit='Submit' reset='Reset' layout='horizontal' %}{% endbuttons %}
                </form>
            </div>
            <div class=" col-sm-6">
                <h3>Result</h3>
                <div class="well well-sm">
                 {% if message %}<p>{{ message }}</p>{% endif %}<br>
                </div>
                <h3>Error</h3>
                <div class="well well-sm">
                 {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}<br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}