{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}Sandbox{% endblock %}

{% block head-extra %}
{% endblock %}


<<div class="container-fluid breadcrumb-container {% block breadcrumbclass %}{% endblock %}">
  <div class="container">
    {% block breadcrumbs-outer %}
        {% block breadcrumbs %}
          <ul class="breadcrumb ">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active"><a href="{% url 'under-construction' %}">Sandbox</a></li>
          </ul>
        {% endblock %}
    {% endblock %}
  </div>
</div>

{% block content %}
<h1 class="headline">
    <span>Sandbox</span>
</h1>
<div class="container">
    <div class="row">
        <h2>Testing zipped of multiple restful resources (fits)</h2>
        <div class="col-sm-6">
            <h3>Client-side</h3>
            <button type="button" class="btn btn-sm btn-default" id="client-side">DOWNLOAD</button>
            <hr>
            <p>JSZip.
                Use <a href="https://stuk.github.io/jszip/documentation/howto/read_zip.html#in-the-browser" target="_blank">
                    JSZipUtils.getBinaryContent</a> to get fits binary data ($.get only handles text content and will
                try to decode the content from the expected string encoding, usually UTF-8). JSZip.js - stage files to be zipped,
                zip the data as type:blob, use FileSaver.js to instigate download.</p>
            <p>
            <pre>
JSZipUtils.getBinaryContent('http://127.0.0.1:8000/asvo/data/sami/9352/line_map-SII6716/?format=fits', function (err, data) {
    if (err) {
        throw err; // or handle err
    } else {
        console.log("Success");
        var zip = new JSZip();
        // create a file
        zip.file('line_map-SII6716.fits', data);
        $('#download').click(function () {
            var blob = zip.generate({type: "blob"});
            saveAs(blob, "download.zip");
        });
    }
});
            </pre>
            </p>
            <p>It seems this will work in Chrome and Firefox, but not in Safari 9... JSZip: Note : when using type = “uint8array”,
                “arraybuffer” or “blob”, be sure to check if the browser supports it (you can use JSZip.support).</p>
            <p>If content is text/images? Need to handle this properly.</p>
        </div>
        <div class="col-sm-6">
            <h3>Server-side</h3>
            <div class="checkbox">
              <label>
                <input type="checkbox" data-type="available" value="http://127.0.0.1:8000/asvo/data/sami/9352/velocity_map/?format=fits">
                http://127.0.0.1:8000/asvo/data/sami/9352/velocity_map/?format=fits
              </label>
            </div>
            <div class="checkbox disabled">
              <label>
                <input type="checkbox" data-type="available" value="http://127.0.0.1:8000/asvo/data/sami/9352/line_map-SII6716/?format=fits">
                http://127.0.0.1:8000/asvo/data/sami/9352/line_map-SII6716/?format=fits
              </label>
            </div>

            <a type="button" href="{% url 'checkout' %}" class="btn btn-sm btn-primary text-uppercase">Old Checkout</a>
            <a type="button" onclick="fGenerateZipRequest()" class="btn btn-sm btn-primary text-uppercase">Checkout</a>

            <hr>
            <p>Has the advantage of being applicable to any page, add the button, pass the urls for download, don't direct
            away from current page.</p>
            <pre>
def create(self, request):
        resp_text = 'response text'
        #
        try:
            url_str = request.data['urls']
        except AttributeError:
            raise NoURLSFound

        # Set zip filename (may want this dynamic in future)
        zip_filename = "download.zip"

        # Create zip archive in-memory
        # User BytesIO as fits binary
        buff = io.BytesIO()
        zip_archive = zipfile.ZipFile(buff, 'w')

        # Create temporary arr
        temp = []
        url_list = url_str.split(',')

        for url in url_list:
            request_data = requests.get(url.strip())
            # Get the file name from the request header
            temp_name = request_data.headers['content-disposition'].split('filename=')[1]
            if request_data.status_code == 200:
                # One 'memory file' for each file I want in my zip archive
                temp.append(io.BytesIO())

                # Write to last element in temp arr
                # Will need additional validation here on content type
                temp[-1].write(request_data.content)
                # The zipfile module provide the 'writestr' method.
                # First argument is the name you want for the file
                # inside your zip, the second argument is the content
                # of the file, in byte format.
                zip_archive.writestr(temp_name, temp[-1].getvalue())

        # Close the zip (sitting in the buff ByteIO object)
        zip_archive.close()

        # Visualize zip structure
        print(zip_archive.printdir())

        # Send file back
        resp = HttpResponse(buff.getvalue(), content_type="application/x-zip-compressed")
        resp['Content-Disposition'] = 'attachment; filename=%s' % zip_filename

        return resp

            </pre>
        </div>
    </div>
</div>
{% endblock %}
{% block footer-extra %}
<script src="{% static 'restapi_app/js/JSZip/jszip.min.js' %}"></script>
<script src="{% static 'restapi_app/js/JSZip/jszip-utils.min.js' %}"></script>
<script src="{% static 'restapi_app/js/FileSaver/FileSaver.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#client-side').click(function(){
            JSZipUtils.getBinaryContent('http://127.0.0.1:8000/asvo/data/sami/9352/line_map-SII6716/?format=fits', function (err, data) {
                if (err) {
                    throw err; // or handle err
                } else {
                    console.log("Success");
                    var zip = new JSZip();
                    // create a file
                    zip.file('line_map-SII6716.fits', data);
                    var blob = zip.generate({type: "blob"});
                    saveAs(blob, "download.zip");
                };
            });
        });


//        $.ajax({
//            type: "GET",
//            url:"http://127.0.0.1:8000/asvo/data/sami/9352/line_map-SII6716/?format=fits",
//            contentType: "application/fits",
//            accepts: "application/fits",
//        })
//        .done(function(data) {
//            console.log("Success");
//             var zip = new JSZip();
//            // create a file
//            zip.file('line_map-SII6716.fits', data);
////            // create nested file
////            zip.file("nested/hello.txt", "HELLO");
//            $('#download').click(function(){
//                var blob = zip.generate({type:"blob"});
//                saveAs(blob, "download.zip");
//            });
//        })
//        .fail(function(data) {
//            console.log("Failed");
//            })
//        .always(function() {
//            console.log("In Always");
//        });


    // Checkbox values
    fGenerateZipRequest = function() {
        var checked_data = [];
        $("input:checkbox[data-type='available']:checked").each(function () {
            checked_data.push($(this).val());
        });
        console.log(checked_data);
    };

});
</script>

{% endblock %}