{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}

{% block head-extra %}

<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/selectize/selectize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/sov/sov.css' %}"/>

{% endblock %}
{% block bodyclass %}{% endblock %}
{% block breadcrumbclass %}{% endblock %}
{% block content %}
<h1 class="headline">
    <span>{{objname}}</span>
</h1>
<div class="row">
    <!--<div class="col-sm-6">-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading panel-background-grey">-->
                <!--&lt;!&ndash;<h3 class="panel-title">1. Survey</h3>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!---->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="col-sm-offset-4 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading panel-background-grey">
                <!--<h3 class="panel-title">Source</h3>-->
            </div>
            <div class="panel-body">
                <h4>1. Select Survey</h4>
                <p>Click a survey to load available sources.</p><br>
                <div class="col-xs-6">
                    <a class="btn btn-default btn-block SAMI btn-survey" onclick="fSurveyData(this.id)" id="SAMI">SAMI</a>
                </div>
                <div class="col-xs-6">
                    <a class="btn btn-default btn-block GAMA btn-survey" disabled=true onclick="fSurveyData(this.id)" id="GAMA">GAMA</a>
                </div>
                <br><br>
                <h4>2. Select Source</h4>
                <p>Select an object from the dropdown (or begin typing in the input box).</p>
                <br>
                <select type="text" class="selectized text-center" id="autocomplete-widget" placeholder="GALAXY">
                    <option value="" disabled selected>Select an object</option>
                    {% for key, value in response.data.items %}
                    <option value="{{value}}">{{key}}</option>
                    {% endfor %}
                </select>
                <a class="btn btn-block btn-md btn-primary" type="button" href="" disabled
                   id="autocomplete-button">Go</a>
            </div>
        </div>
    </div>
</div>

<script>
    AstroObjectsJson = JSON.parse("{{ content|escapejs }}");
    var dummy = [{'name':'GALAXY','url':''}];
    $(document).ready(function() {
        $selector = $("#autocomplete-widget").selectize({
            closeAfterSelect:true,
            selectOnTab:true,
            options: dummy,
            valueField: 'url',
            labelField: 'name',
            searchField: 'name',
            create: false,
            maxItems:1,
            onChange: function(value) {
                $('#autocomplete-button').attr('href',value).attr('disabled', false)
            }
        });
    });

    function fSurveyData(id){
//        console.log($selector);
//        console.log(id)
        if (id != 'GAMA'){
            $('.btn-survey').removeClass('btn-success');
            $('#'+id).addClass('btn-success');

            // TODO ready for multiple complete survey data samples
            var control = $selector[0].selectize;
            control.clear();
            control.clearOptions();
    //        control.addOption([{'name':id+'98655','url':'foo'}])
            control.addOption(AstroObjectsJson);
        }
    };
</script>
{% endblock %}

{% block footer-extra %}
<script src="{% static 'restapi_app/js/selectize/selectize.js' %}"></script>
{% endblock %}

