{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% load data_browser_tag %}
{% block title %}Data Browser{% endblock %}
{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/sample/sample.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/trait/trait.min.css' %}"/>
{% endblock %}

{% block page_title %}Data Browser{% endblock %}
{% block useful_links %}
<li role="presentation" ><a href="{% url 'schema:sample-list' sample_pk=response.data.sample %}">Schema</a></li>
<li role="presentation" ><a href="{% url 'documentation:topic-detail' slug=response.data.sample %}">Documentation</a></li>
{% endblock useful_links %}

{% block content-navigator-help %}
    <a href="{{trait_url}}"><i class="fa fa-reply"></i> Back to {{trait}} <span>[ <i class="fa fa-code-fork"></i>{{branch}}</span>
            <span><i class="fa fa-map-marker"></i>{{version}} ]</span></a>
{% endblock %}

{% block page_title_banner %}
{% captureas survey %}{{response.data.sample}}{% endcaptureas %}
<div class="title_info red">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Data Browser for {{survey|uppercase}} Data Release {{response.data.data_release}}
                    <small class="right-helper">
                        <!--<span class="sub-heading"><i class="fa fa-map-marker"></i> DR 1.0</span>&nbsp;&nbsp;-->
                        <div class="btn-group" role="group" style="margin-top:-15px;">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                    <span class="sub-heading">
                        <i class="fa fa-map-marker"></i> Data Release
                    </span>
                                <strong>{{response.data.data_release}}</strong>
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="disabled"><a href="">Data Release {{response.data.data_release}} &nbsp;
                                    <small class="sub-heading text-uppercase">Current</small>
                                </a></li>
                            </ul>
                        </div>
                    </small>
                </h1>
                <p>Explore the available {{survey|uppercase}} data products for each object. It is recommended
                    that you also use the SAMI Data Browser in conjunction with the
                    <a href="{% url 'schema:sample-list' sample_pk=survey %}">Schema Browser</a>, which contains comprehensive
                    descriptions of the data products available.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock page_title_banner %}

{% block content_render %}
{% captureas survey %}{{response.data.sample}}{% endcaptureas %}
<div class="row">
    <div class="col-xs-12 col-sm-3 sidebar">
        <div class="sidebar-contents">
            <a class="btn btn-default btn-sm" href="{% url 'schema:sample-list' sample_pk=survey %}"><i class="fa fa-book"></i> Schema</a>
            <a class="btn btn-default btn-sm" href="{% url 'documentation:topic-detail' slug=survey %}" disabled><i class="fa fa-file-o"></i> Documentation</a>
            <h5>Properties</h5>

            <div class="panel-group" id="sidebar" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-body meta-data">
                        <!--Now Iterate over remaining trait properties, excluding all reserved_keywords (which include the explitly rendered ones above, and the sub-traits which are handled separately)-->
                        {% with response.data as tpdata %}
                            {% for tp in tpdata %}
                                {% if tp in reserved_keywords %}
                                {% else %}
                                    {% include 'data_browser/trait/sidebar-trait-property.html' %}
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9 main-content">
        <h2>{{response.data.sample|uppercase}} {{response.data.astroobject}} {{trait}} {{response.data.pretty_name}}</h2>
        {% if response.data.description %}
        <em><p class="">{{ response.data.description}}</p></em>
        {% endif %}
        <div class="row">

            {% if trait_2D_map == True %}
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="{{trait_type}}_plotly_plot">
                                <!--Dynamic plotly rendering based on Trait Type-->
                                <p><i class="fa fa-refresh fa-spin"></i> Fetching Data for Type: {{trait_type}}...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Plot Options
                        </div>
                        <div class="panel-body">
                            <div id="{{trait_type}}_plotly_plot_options">
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-sm-9 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>TBD <br><br><br></p>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}

{% block footer-extra %}
<script type="application/javascript">
    $('#ao_tabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show')
    })
</script>

<script type="application/javascript" src="{% static 'restapi_app/js/panel-toggle-caret/panel-toggle-caret.js' %}"></script>

{% if trait_2D_map == True %}
    <script src="{% static 'restapi_app/js/jsonparsemore/json_parseMore.js' %}"></script>
    <script type="application/javascript" src="{% static 'restapi_app/js/plotly/plotly.latest.min.js'%}"></script>
    <script type="application/javascript" src="{% static 'data_browser/js/2D_map.js'%}"></script>
    <script type="application/javascript" src="{% static 'data_browser/js/trait_plotting.js'%}"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            var trait_url = "{{request.build_absolute_uri}}value/?format=json";
            var trait_name = "{{response.data.pretty_name}}";
            var map_selector = "#{{trait_type}}_plotly_plot";
            var options_selector = "#{{trait_type}}_plotly_plot_options";

            trait_plot(trait_url, trait_name, map_selector, options_selector);

        });
    </script>
{% endif %}

{% endblock %}
