{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% load data_browser_tag %}
{% block title %}Data Browser{% endblock %}
{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/sample/sample.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/trait/trait.min.css' %}"/>
{% endblock %}

{% block page_title %}Data Browser{% endblock %}
{% block useful_links %}
<li role="presentation" ><a href="{% url 'schema:survey-list' survey_pk=survey %}">Schema</a></li>
<li role="presentation" ><a href="{% url 'documentation:topic-detail' slug=survey %}">Documentation</a></li>
{% endblock useful_links %}

{% block page_title_banner %}
{% captureas survey %}{{survey}}{% endcaptureas %}
<div class="title_info red">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Data Browser for {{survey|uppercase}} Data Release {{response.data.data_release}}
                    <small class="right-helper">
                        <!--<span class="sub-heading"><i class="fa fa-map-marker"></i> DR 1.0</span>&nbsp;&nbsp;-->
                        <div class="btn-group" role="group" style="margin-top:-15px;">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                    <span class="sub-heading">
                        <i class="fa fa-map-marker"></i> Data Release
                    </span>
                                <strong>{{response.data.data_release}}</strong>
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="disabled"><a href="">Data Release {{response.data.data_release}} &nbsp;
                                    <small class="sub-heading text-uppercase">Current</small>
                                </a></li>
                            </ul>
                        </div>
                    </small>
                </h1>
                <p>The Data Browser provides a quick-look at survey-derived
                    data products and associated meta-data on an
                    object-by-object basis, and allows users to download individual data products in FITS file
                    format.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock page_title_banner %}

{% block content-test %}
{% captureas survey %}{{survey}}{% endcaptureas %}
<div class="row">
    <div class="col-xs-12 col-sm-3 sidebar" role="navigation">
        <div class="sidebar-contents">
            <div class="page-contents">
            <h5>Page Contents</h5>
            <ul class="nav nav-pills nav-stacked nav-sidebar">
                <li role="presentation"><a href="#top-of-page" class="scroll">Data</a></li>
            </ul>
            </div>
            <h5>Quick Links</h5>
            <ul class="nav-sidebar">
                {% if breadcrumblist %}

                {% with breadcrumblist|length|add:"-2" as b %}
                <li><a href="{{breadcrumblist|key:b|key:1}}"> <i class="fa fa-angle-left"></i> Back to
                    {{breadcrumblist|key:b|key:0}}</a></li>
                {% endwith %}
                {% endif %}
                <br>
                <li><a class="" target="_blank" href="{% url 'schema:survey-list' survey_pk=survey %}#{{trait_key|key:0}}{% if trait_key|key:1 %}-{{trait_key|key:1}}{% endif %}"> Schema Browser</a></li>
                <li><a class="" href="{% url 'documentation:topic-detail' slug=survey %}" disabled> Documentation</a></li>
            </ul>

            <h5>Properties
                <a role="button" class="sub-heading" data-container="body" data-toggle="popover" data-trigger="hover click"
                   data-placement="top" data-html="true"
                   data-content="The properties panel contains meta-data (e.g., WCS information) or attributes that are associated with this data product (e.g,, units, errors).<br> To view a summary about any of the properties, expand the panel using the <i class='fa fa-caret-down'></i> symbol, or view more information click the <i class='fa fa-arrow-circle-right'></i> arrow.  "
                   data-original-title="" title=""><i class="fa fa-info-circle"></i></a>
            </h5>

            <div class="panel-group" id="sidebar" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-body meta-data">
                        <!--Now Iterate over remaining trait properties, excluding all reserved_keywords (which include the explitly rendered ones above, and the sub-traits which are handled separately)-->
                        {% with response.data as tpdata %}
                            {% for tp in tpdata %}
                                {% if tp in reserved_keywords %}
                                {% else %}
                                    {% include 'data_browser/trait/sidebar-trait-property.html' %}
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9 main-content">
        <h2>{{survey|uppercase}} {{astroobject}} {{trait_pretty_name}} {{response.data.pretty_name}}</h2>
        {% if response.data.description %}
        <em><p class="">{{ response.data.description}}</p></em>
        {% endif %}
        <h3 id="data">Data</h3>
        <div class="row">

            <div class="col-sm-8 col-xs-12">
                <div class="well">
                    <div id="{{trait_type}}_plotly_plot">
                        <!--Dynamic plotly rendering based on Trait Type-->
                        <p id="visualization_status"><i class="fa fa-refresh fa-spin"></i> Fetching Data for Type: {{trait_type}}...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12" id="interactive">
                <div class="panel panel-default interactive">
                    <div class="panel-heading">
                        <p class="panel-title">Interactive</p>
                    </div>
                    <div class="panel-heading" style="background-color:#e6e6e6">
                        Clipping
                         <a href="" data-toggle="popover" data-html="true" class="popover-anchor sub-heading"
                                           data-trigger="focus"
                                           data-content="<p>Apply percentile scaling to image. Clips minimum and maximum percentage of pixel values to bring out features in the image. </p>"
                                           data-placement="left"><i class="fa fa-info-circle"></i></a>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">

                                <div class="col-xs-12">
                                    <p class="sub-heading">By percentile </p>
                                    <div id="slider-range"></div>
                                    <div id="amount" class="text-center p small"></div>
                                    <!--<div id="data-range" class="text-center sub-heading"></div>-->
                                    <div class="half-br"></div>
                                    <span class="sub-heading">By value (in development)</span>
                                    <form id="data-range">
                                        <div class="form-group">
                                            <label for="lv">Lower</label>
                                            <input type="text" id="lv" class="form-control" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="uv">Upper</label>
                                            <input type="text" id="uv" class="form-control" readonly>
                                        </div>
                                        <button class="btn btn-default disabled">Clip</button>
                                    </form>
                                </div>
                            </div>

                        </li>
                    </ul>
                    <!--<div class="panel-heading" style="background-color:#e6e6e6">-->
                        <!--View Extensions <span class="sub-heading">(in development)</span></div>-->
                    <!--<ul class="list-group">-->
                        <!--<li class="list-group-item">-->
                            <!--<div class="row">-->
                                <!--<div class="col-xs-12">-->
                                    <!--<div id="{{trait_type}}_plotly_plot_options">-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block footer-extra %}
<script type="application/javascript">
    $('#ao_tabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show')
    })
</script>

<script type="application/javascript" src="{% static 'restapi_app/js/panel-toggle-caret/panel-toggle-caret.js' %}"></script>

{% if trait_2D_map == True %}
    <script src="{% static 'restapi_app/js/jsonparsemore/json_parseMore.js' %}"></script>
    <script type="application/javascript" src="{% static 'restapi_app/js/plotly/plotly.latest.min.js'%}"></script>
    <script type="application/javascript" src="{% static 'data_browser/js/2D_map.js'%}"></script>
    <script type="application/javascript" src="{% static 'data_browser/js/trait_plotting.js'%}"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            var trait_url = "{{request.build_absolute_uri}}value/?format=json";
            var trait_name = "{{response.data.pretty_name}}";
            var map_selector = "{{trait_type}}_plotly_plot";
            var options_selector = "{{trait_type}}_plotly_plot_options";

            trait_plot(trait_url, trait_name, map_selector, options_selector);

        });
    </script>
{% else %}
<script>
$('#visualization_status').html('Visualization for {{response.data.pretty_name}} is in development.')
$('#interactive').html("<div class='well'><p>Interactivity in development</p></div>");
</script>
{% endif %}

{% endblock %}
