/*
 * Edits to pre-existing classes to ensure that the schema browser takes up the whole page space
 */
.content-navigator-help {
  display: none;
}

#page-content {
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top:0 !important;
  padding-bottom:0 !important;
}

.no-padding-left{padding-left:0 !important}
.no-padding-right{padding-right:0 !important}

/*
 * Schema browser styles
 */


.schema-browser {
  h2 {
    font-size: 30px;
    margin-top: 45px;
    border-bottom: 0;
  }
  h3 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 24px;
  }
  .table tbody p {
    margin-bottom: 0;
  }

  .schema-contents {

    .branch_warning {
      background-color: #fafafa
    }
    .version-selector {
      margin-top: 15px;
      margin-bottom: 15px;
    }


      h2 {
        font-size: 28px;
        padding-top: 10px;
        margin-top: 0;
        margin-bottom: 15px;
        border-bottom: 0;
      }
      h3 {
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 24px;
        border-bottom: solid 1px #eeeeee;
      }

      h4 {
        font-size: 20px;
        line-height: 20px;
        margin-top: 45px;
        margin-bottom: 20px;
        i {
          font-size: 16px;
        }
      }
      .branch_dropdown {
        .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
          color: inherit;
          background-color: inherit;
        }
        .nav > li > a {
          padding: 6px 12px;
        }
      }

  }


  .branch_dropdown {
    .dropdown-header-bold {
      color: #333;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 6px;
      font-size: 14px;
      line-height: 14px;
      background-color: #e6e6e6;
      border-bottom: solid 1px #cccccc;
      margin-bottom: 12px;
    }

    .dropdown-header-sub {
      color: #333;
      //padding-top: 8px;
      //padding-bottom: 8px;
    }
    .version {
      padding-left: 35px;
    }
    .versions {
      padding-left: 45px;
    }

  }
}
