.overflow {
  width: 20em;
  /**
   * Required properties to achieve text-overflow
   */
  white-space: nowrap;
  overflow: hidden;
}
.underline-blue {
  color: #3f9ad2;
  text-decoration: underline;
}
h4 {
  margin-top: 0px;
}
h6 {
  margin-bottom: 0px;
  color: #333333;
}
.inline-links p {
  margin-right: 7px;
  display: inline;
}
.panel-group .panel + .panel {
  margin-top: -1px;
}
table.table-overview {
  table-layout: fixed;
}
table.table-overview td:hover {
  background: #FAFAFA;
}
table.table-overview td a {
  display: block;
  text-decoration: none;
}
table.table-overview td a img {
  display: inline-block;
  max-height: 40px;
  margin: 15px;
}
table.table-overview td a img.gama {
  max-height: 50px;
}
table.table-overview td a div {
  display: block;
  color: #aaa;
}
table.table-overview tr > td {
  padding: 15px 0px 0px 0px;
  text-align: center;
  vertical-align: middle;
  border-top: 0;
  border-right: 1px #eee solid;
}
table.table-overview tr > td img {
  display: inline-block;
  max-height: 30px;
}
table.table-overview tr > td img.gama {
  max-height: 45px;
}
table.table-overview tr > td:last-child {
  border-right: 0;
}
table.table-overview tr:nth-child(2) td {
  color: #aaa;
  padding-top: 0;
  padding-bottom: 15px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 15px;
}
h4.list-group-item-text {
  margin-bottom: 10px;
}
h6 > a:nth-child(1) {
  margin-right: 15px;
}
.nav-tabs {
  margin: 15px 0 20px 0;
}
.nav-tabs:first-of-type {
  margin-top: 0px;
}
.list-group {
  margin-top: 15px;
}
.list-group .list-group-item {
  border-radius: 0;
}
.subheading {
  color: #707070;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}
.trait_tabs .list-group {
  margin-top: 0;
}
.trait_tabs .nav-tabs {
  margin-bottom: 0;
}
.trait_tabs .panel-default {
  border-top: 0px;
}
.trait_tabs .subheading {
  margin-top: 10px;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ MEDIA QUERIES
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
/*==========  Non-Mobile First Method  ==========*/
.media-query-box {
  height: 50px;
  width: 50px;
  border: dashed 1px black;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 992px) {
  .media-query-box {
    border: solid 1px purple;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .media-query-box {
    border: solid 1px red;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .media-query-box {
    border: solid 1px yellow;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .media-query-box {
    border: solid 1px blue;
  }
  .table.table-overview {
    table-layout: auto;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .media-query-box {
    border: solid 1px green;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .media-query-box {
    border: solid 1px orange;
  }
}
