{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}

<table class="table table-condensed table-bordered vertical_align_middle" > 
     <thead>
    <tr class="active">
         {% if single %}
        <th class="form-inline col-xs-6" style="vertical-align:middle">
            <div class="row">
                <div class="col-xs-6 vcenter"><strong>{% if property %}Property{% else %}Product{% endif %}</strong> <span class="sub-heading">
                <a role="button"
                   class="sub-heading"
                   data-container="body"
                   data-toggle="popover"
                   data-trigger="hover click"
                   data-placement="top"
                   data-content="View the default branch for this {% if property %}property{% else %}data product{% endif %}."
                   data-original-title=""
                   title="">
                <i class="fa fa-info-circle"></i>
                </a></span></div><!--
                --><div class="col-xs-6 vcenter">
                    {% if filter %}
            <div class="form-group">
                <label for="product_search" sr-only></label>
                <input type="text" class="search form-control input-sm" id="product_search" placeholder="FILTER ...">
            </div>
            {% endif %}
                </div>
            </div>
        {% else %}
        <th class="col-xs-4 form-inline" style="vertical-align:middle">
            <div class="form-group">
                <strong>Product</strong>
            </div>
         {% endif %}
        </th>
        {% if single %}
        <th class="col-xs-3" style="vertical-align:middle">
            <strong>Branch</strong>
            <span class="sub-heading"><a role="button" class="sub-heading" data-container="body"
                                        data-toggle="popover" data-trigger="hover click"
                                        data-placement="top"
                                        data-content="Alternatively, choose a specific branch from the dropdown. The default branch for each product is denoted by an asterisk (*)."
                                        data-original-title="" title=""><i class="fa fa-info-circle"></i></a></span>

        </th>
        <th class="col-xs-3" style="vertical-align:middle">
            <strong>Download</strong>
            <span class="sub-heading"><a role="button" class="sub-heading" data-container="body"
                                        data-toggle="popover" data-trigger="hover click"
                                        data-placement="top"
                                        data-content="Download the default branch and version for this data product in a variety of formats."
                                        data-original-title="" title=""><i class="fa fa-info-circle"></i></a></span>
        </th>
        {% else %}
        <th class="col-xs-7" style="vertical-align:middle">
            <strong>Select branches and versions</strong>
            <span class="sub-heading"><a role="button" class="sub-heading" data-container="body"
                                        data-toggle="popover" data-trigger="hover click"
                                        data-placement="top"
                                        data-content="If you do not specify a branch and version, the default will be added. "
                                        data-original-title="" title=""><i class="fa fa-info-circle"></i></a></span>
        </th>
        <th class="col-xs-1" style="vertical-align:middle">
            <strong>Add</strong>&nbsp;<span class="sub-heading"><a role="button" class="sub-heading" data-container="body"
                                        data-toggle="popover" data-trigger="hover click"
                                        data-placement="top"
                                        data-content="Add selected products to the download."
                                        data-original-title="" title=""><i class="fa fa-info-circle"></i></a></span>
        </th>
        {% endif %}
    </tr>
</thead>

<tbody id="product_menu"> 
    {% for trait_type_key, trait_type_value in traits.trait_types.items %}

        <tr data-trait-type-key="{{trait_type_key}}" class="bg-success">
             {% if single %}
            <td colspan="3">
            {% else %}
            <td colspan="3">
            {% endif %}
                <h6 class="no-margin-top"><span class="text-uppercase" style="margin-right:15px">{{trait_type_value.pretty_name}}</span>
                    <!--Hack as trait_type descriptions don't exist on the schema on the trait-type, but rather on the trait-type-qualifier:branch(version)-->
                    {% for trait_qualifier_key, trait_qualifier_value in trait_type_value.trait_qualifiers.items %}
                        {% if forloop.first %}
                            {% for trait_branch_key, trait_branch_value in trait_qualifier_value.branches.items %}
                                {% if forloop.first %}
                                    {% for trait_version_key, trait_version_value in trait_branch_value.versions.items %}
                                        {% if forloop.first %}
                                            {% with trait_version_value.trait as value %}
                                                {% if value.description %}
                                                    <span class="sub-heading tiny" style="font-weight:400"><em>{{value.description|safe}}</em></span>
                                                {% endif %}
                                                <a class="pull-right" target="_blank" href="{% url 'schema_browser:survey-list' survey_pk=survey %}#{{trait_type_key}}">view schema <i class="fa fa-angle-right"></i></a>
                                            {% endwith %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </h6>
            </td>
        </tr>
        {% for trait_qualifier_key, trait_qualifier_value in trait_type_value.trait_qualifiers.items %}
            <tr data-trait-type-key="{{trait_type_key}}">
                <td style="padding-left:30px">

                        {% if single %}
                            <a href="{{trait_type_key}}{% if trait_qualifier_key %}-{{trait_qualifier_key}}{% endif %}" class="trait_anchor">
                                <span class="text-info"> {{trait_qualifier_value.pretty_name}}
                                {% if not trait_qualifier_value.pretty_name %}
                                    {{trait_type_value.pretty_name}}
                                {% endif %}
                                </span>
                            </a>
                        {% else %}
                            <span class=""> {{trait_qualifier_value.pretty_name}}
                            {% if not trait_qualifier_value.pretty_name %}
                                {{trait_type_value.pretty_name}}
                            {% endif %}
                            </span> &nbsp;&nbsp;
                        {% endif %}
                    {% if trait_qualifier_value.description != None %}
                    <div class="p">{{trait_qualifier_value.description}}</div>
                    {%endif%}
                </td>

                {% if single %}
                    {% include 'sov/available_products/single_object.html' with trait_qualifier_value=trait_qualifier_value %}
                {% else %}
                    {% include 'sov/available_products/multiple_objects.html' with trait_type_key=trait_type_key trait_qualifier_key=trait_qualifier_key trait_qualifier_value=trait_qualifier_value %}
                {% endif %}
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% if single %}
    {% include 'sov/available_products/product_filter.controller.html' %}
{% else %}

{% endif %}

{% if not single %}

    {% if post_form %}
        <div class="" id="post-object-form">
            {% with form=post_form %}
            <form action="{{ request.get_full_path }}" style="visibility: hidden" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                <fieldset>
                    {% csrf_token %}
                    <!--<input name="download" class="form-control" type="text">-->
                    {{ post_form }}
                </fieldset>
            </form>
            {% endwith %}
        </div>
        {% endif %}

    <div id="download_info"></div>
    <div id="download_errors"></div>
    <div id="download_warnings"></div>

<div class="row">
        <div class="col-xs-12 text-right">
            <button class="btn btn-default modal-download-btn" id="download_button" data-products data-objects>
                <i class="fa fa-download"></i> Download
            </button>
        </div>
    </div>
    {% include 'sov/available_products/add_to_download.controller.html' %}

{% endif %}
