{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
<td>
    <div class="btn-group branch_dropdown" role="group" aria-label="Available branches.">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <span class="sub-heading tiny"><i class="fa fa-code-fork"></i> </span> {% for trait_branch_key, trait_branch_value in trait_qualifier_value.branches.items %}
                    {% if trait_qualifier_value.default_branch == trait_branch_key%}{{trait_branch_value.pretty_name}}{% endif %}
                {% endfor %}
                <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu">
                {% for trait_branch_key, trait_branch_value in trait_qualifier_value.branches.items %}

                    <!--Default branch, and the default version for that branch, are set as active-->
                    <li class="tiny">
                        <a href="{{request.build_absolute_uri}}{{trait_type_key}}{% if trait_qualifier_key %}-{{trait_qualifier_key}}{% endif %}:{{trait_branch_key}}/"
                           data-branch="{{trait_branch_value.pretty_name}}" data-branch-description="{{trait_branch_value.description}}">
                            {% if trait_qualifier_value.default_branch == trait_branch_key%}<i class="fa fa-angle-right"></i>{% endif %}
                            <strong> {{trait_branch_value.pretty_name}}</strong>
                            <em class="">{{trait_branch_value.description}}</em>
                        </a>
                    </li>
                {% if not forloop.last %}
                <li role="separator" class="divider"></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</td>
<td>
    {% for trait_branch_key, trait_branch_value in trait_qualifier_value.branches.items %}
        {% if forloop.first %}
            {% for trait_version_key, trait_version_value in trait_branch_value.versions.items %}
                {% if forloop.first %}
                    {% with trait_version_value.trait as value %}

                        {% for f in value.export_formats %}
                            <a href="{{request.build_absolute_uri}}{{trait_type_key}}{% if trait_qualifier_key %}-{{trait_qualifier_key}}{% endif %}?format={{f|lowercase}}" class="btn btn-default btn-xs">
                                <span class="fa-custom-stack">
                                  <i class="fa fa-file-o"></i>
                                    <span class="fa-custom-filetype">{{f}}</span>
                                </span>{{f}}
                            </a>
                        {% endfor %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    <a href="{{request.build_absolute_uri}}{{trait_type_key}}{% if trait_qualifier_key %}-{{trait_qualifier_key}}{% endif %}?format=json" class="btn btn-default btn-xs">
        <span class="fa-custom-stack">
          <i class="fa fa-file-o"></i>
            <span class="fa-custom-filetype">json</span>
        </span>json
    </a>

    <!--<add-download-button url='{{value.url}}' options='' formats='{{value.formats}}' prettyname="{{value.pretty_name}}"></add-download-button>-->
</td>