/*!*AUTOCOMPLETE STYLES*!*/
.container-sov-entry {
    margin-bottom: 30px;
}

.panel-body.extra-padding {
    padding: 20px 15px;
}

.sami {
    background-color: #fff;
    max-width: 115px;
    position: relative;
    padding-top: 13px;
}

.gama {
    background-color: #fff;
    max-width: 80px;
    position: relative;
}

.sov-logo {
    margin-bottom: 20px;
}