{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% load data_browser_tag %}
{% block title %}{{objname}}{% endblock %}
{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/sample/sample.min.css' %}"/>

<!--<script type="text/javascript" src="{% static 'cart/js/controllers.js' %}"></script>-->
{% endblock %}
{% block bodyclass %}{% endblock %}
{% block breadcrumbclass %}{% endblock %}

{% block content-options %}{% endblock %}
{% block content-delete %}{% endblock %}
{% block content-filter-form %}{% endblock %}

{% block content-page-header %}{% endblock %}


{% block page_title %}Data Browser{% endblock %}
{% block useful_links %}
<li role="presentation" ><a href="#">useful link</a></li>
<li role="presentation" ><a href="#">useful link</a></li>
{% endblock useful_links %}

{% block content_render %}
<!--<div class="col-sm-12"><div class="media-query-box"></div></div>-->
<div class="row">
    <div class="col-sm-12">
        <p>{% lorem %}</p>
        <h2>
           {{ objname }}
            {% captureas survey %}{% get_pks request.path -3 %}{% endcaptureas %}
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="ao_tabs" style="margin-bottom:20px;">
            <li role="presentation" class="active"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a>
            </li>
            <li role="presentation"><a href="#available_data" aria-controls="available_data" role="tab" data-toggle="tab">Available Data</a>
            </li>
            <li role="presentation"><a href="#additional_info" aria-controls="additional_info" role="tab" data-toggle="tab">Additional Info</a>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="summary">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Overview
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p>{% lorem %}</p>

                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-overview">
                                <tbody>
                                <tr>
                                    <td><img class="img-responsive"
                                                     src="/static/restapi_app/img/logo/logo-{{survey}}.png"></td>
                                    <td>{{objname}}</td>
                                    <td>test</td>
                                    <td>test</td>
                                    <td>test</td>
                                    <td>test</td>

                                </tr>
                                <tr>
                                    <td>Survey</td>
                                    <td>Survey ID</td>
                                    <td>IAU ID</td>
                                    <td>RA</td>
                                    <td>DEC</td>
                                    <td>Redshift</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Spectrum
                                    </div>
                                    <div class="panel-body">
                                        <img src="/static/restapi_app/img/sov_test/test_spectra.png" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        SDSS Image
                                    </div>
                                    <div class="panel-body">
                                        <img src="http://casjobs.sdss.org/ImgCutoutDR7/getjpeg.aspx?ra=184.5441666666667&amp;dec=-0.7449722222222223&amp;scale=0.2&amp;opt=IGPO&amp;width=512&amp;height=512"
                                             alt="..." class="img-responsive">
                                        <p class="text-justify">Colour composite image, 19.5 arcsec on a side. False colour, 512 × 512 pixel, 0.2
                                            arcsec/pixel,
                                            5-band composite from SDSS DR7.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        SAMI Flux
                                    </div>
                                    <div class="panel-body">
                                        <img src="http://casjobs.sdss.org/ImgCutoutDR7/getjpeg.aspx?ra=184.5441666666667&amp;dec=-0.7449722222222223&amp;scale=0.2&amp;opt=IGPO&amp;width=512&amp;height=512"
                                             alt="..." class="img-responsive">
                                        <p class="text-justify">Hα for emission-line systems (red), stellar continuum for absorption-line galaxies
                                            (blue).</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        SAMI Velocity
                                    </div>
                                    <div class="panel-body text-justify">
                                        <img src="http://casjobs.sdss.org/ImgCutoutDR7/getjpeg.aspx?ra=184.5441666666667&amp;dec=-0.7449722222222223&amp;scale=0.2&amp;opt=IGPO&amp;width=512&amp;height=512"
                                             alt="..." class="img-responsive">
                                        <p class="text-justify">Hα emission (blue to red via yellow) or stellar absorption fit (yellow to violet via blue).
                                            The grey dot in the bottom left represents the extent of the seeing disk. In rare cases
                                            there isn't enough signal to plot unbinned maps.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="available_data">
                <!--<div class="row">-->
                    <!--<div class="col-sm-12">-->
                        <!--<h2 class="headline"><span>Available Data</span></h2>-->
                    <!--</div>-->
                <!--</div>-->
                {% for trait_type in response.data.trait_list %}
                     {% if forloop.first %}
                        <div class="row">
                    {% endif %}

                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">

                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading panel-background-grey">
                                <h3 class="panel-title">{{trait_type | CapsSentence}}s</h3>
                            </div>
                            <div class="panel-body">
                                <p>Some description about this trait type</p>
                            </div>
                            <!--List group-->
                            <div class="list-group list-group-collapse">
                                {% for trait_name, value in response.data.schema.items %}
                                {% if trait_type in trait_name %}
                                    <div class="list-group-item ">

                                        <h4 class="list-group-item-text">
                                            <a class="" href="{{trait_name}}">{{trait_name | CapsSentence | QualifierOnly}}</a>
                                        </h4>
                                            <p>Hα emission (blue to red via yellow) or stellar absorption fit (yellow to violet via blue). The grey dot in the bottom left represents the extent of the seeing disk. In rare cases there isn't enough signal to plot unbinned maps.</p>
                                            <h6><a href="{{trait_name}}" class="text-uppercase">view</a>
                                            </h6>

                                        <h6>
                                            <a role="button" data-toggle="collapse" class="text-uppercase"
                                               data-parent="#accordion_{{trait_type}}"
                                               href="#collapse_{{trait_name}}"
                                               aria-expanded="false" aria-controls="collapse_{{trait_name}}">properties
                                            </a>
                                        </h6>
                                        <div id="collapse_{{trait_name}}" class="panel-collapse collapse "
                                             role="tabpanel"
                                             aria-labelledby="heading_{{trait_name}}">
                                            <hr>
                                            {% for trait_property_name, trait_property_value in value.items %}
                                            <a href="{{ trait_name }}/{{ trait_property_name }}" class="inline-links">
                                                <p>{{ trait_property_name }}</p></a>
                                            {% endfor %}
                                            <hr>
                                        </div>

                                        <h6 class="text-uppercase sub-heading">Add to Download</h6>
                                        <hr style="margin-top:5px;">

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <add-cart-button url="{{request.get_full_path}}/{{trait_name}}" class="pull-right"
                                                     options="['velocity_map', 'spec_cube_blue']"></add-cart-button>
                                                <span class="button-dropdown pull-right" data-buttons="dropdown">
                                                    <button class="button button-small text-uppercase">
                                                      Format <i class="fa fa-caret-down"></i>
                                                    </button>

                                                    <ul class="button-dropdown-list button-dropdown-list-small">
                                                      <li><a>Fits</a></li>
                                                      <li><a>Json</a></li>
                                                    </ul>
                                                 </span>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
                    {% if forloop.last %}</div>{% endif %}
                {% endfor %}



            </div>
            <div role="tabpanel" class="tab-pane" id="additional_info">



            </div>
        </div>


    </div>

</div>




    <!--<div class="row">-->
        <!--<div class="col-sm-8">-->
            <!--<table>-->
            <!--{% for key, value in response.data.schema.items %}-->
                <!--<tr style="border-bottom:blue 1px solid;"><td>{{key}}</td><td> {{value}}</td></tr>-->
            <!--{% endfor %}-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->

{% endblock %}

{% block content-DRFs %}{% endblock %}
{% block footer-extra %}
<script type="application/javascript">
    var trait_list = {{response.data.trait_list | safe }};

    function myfunction(item, index){
        // Open up accordion for first panel in each column
        $('#accordion_'+item+' .panel:first-of-type .panel-title a').attr('aria-expanded', true);
        $('#accordion_'+item+' .panel:first-of-type .panel-collapse.collapse').addClass('in');

    }

    trait_list.forEach(myfunction);

    $('#ao_tabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
</script>
{% endblock %}

