{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% load data_browser_tag %}
{% block title %}Data Browser{% endblock %}
{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/sample/sample.min.css' %}"/>
{% endblock %}

{% block page_title %}Data Browser{% endblock %}
{% block useful_links %}
<li role="presentation" ><a href="{% url 'schema:sample-list' sample_pk=response.data.sample %}">Schema</a></li>
<li role="presentation" ><a href="{% url 'documentation:topic-detail' slug=response.data.sample %}">Documentation</a></li>
{% endblock useful_links %}

{% block content-navigator-help %}
    <a href="{% url 'data_browser:sample-list' sample_pk=response.data.sample %}"><i class="fa fa-reply"></i> Back to {{response.data.sample|uppercase}}</a>
{% endblock %}

{% block content_render %}
{% captureas survey %}{{response.data.sample}}{% endcaptureas %}
<div class="row headline">
    <div class="col-xs-12 col-sm-12">
        <h2>{{response.data.sample|uppercase}} {{response.data.astroobject}}</h2>
    </div>
    <div class="col-xs-12">
        <div class="tabbable" id="query-options">
            <ul class="nav nav-tabs form-switcher">
                <li class="active">
                    <a name="raw-tab" href="#summary" data-toggle="tab" aria-expanded="true">Summary</a>
                </li>
                <li class="">
                    <a name="html-tab" href="#available_data" data-toggle="tab" aria-expanded="false">Available Data</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="summary" class="tab-pane active">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Overview
                        </div>
                        <div class="table-responsive">
                            <table class="table table-overview">
                                <tbody>
                                <tr>
                                    <td><img class="img-responsive"
                                             src="/static/restapi_app/img/logo/logo-{{survey}}.png"></td>
                                    <td class="lead">{{response.data.astroobject}}</td>
                                    <td class="lead">-</td>
                                    <td class="lead">-</td>
                                    <td class="lead">-</td>
                                    <td class="lead">-</td>
                                </tr>
                                <tr>
                                    <td>Survey</td>
                                    <td>Survey ID</td>
                                    <td>IAU ID</td>
                                    <td>RA</td>
                                    <td>DEC</td>
                                    <td>Redshift</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% with "data_browser/astroobject/survey/"|add:survey|add:".html" as template %}
                        {% include template %}
                    {% endwith %}
                </div>

                <div class="tab-pane" id="available_data">
                    <ul class="nav nav-tabs nav-tabs-with-well" role="tablist" id="trait_tabs">
                        {% for trait_type, trait_value in response.data.available_traits.items %}
                        <li role="presentation" {% if forloop.first %}class="active" {% endif %}>
                            <a href="#{{trait_type}}" aria-controls="{{trait_type}}" role="tab" data-toggle="tab">{{trait_value.pretty_name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content ">
                        {% for trait_type, trait_value in response.data.available_traits.items %}
                            <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}"
                             id="{{trait_type}}">

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="p">{{trait_value.description}} <a href="{% url 'documentation:topic-detail' slug='branches' %}" class="pull-right question"><i class="fa fa-question-circle"></i> What's a branch?</a> &nbsp;&nbsp;</div>
                                    </div>
                                    <table class="table table-hover table-astro-object">
                                        <tbody>
                                        {% for trait, value in trait_value.traits.items %}
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-6 col-xs-12">
                                                            <a href="{{value.url}}">
                                                                <h4 class="text-info" style="border:0"> {{value.pretty_name}}</h4>
                                                            </a>
                                                            {% if value.description != None %}<div class="p">{{value.description}}</div>{%endif%}
                                                            <div class="p">
                                                                <span class="version sub-heading"><i class="fa fa-map-marker"></i> 1.0 Release</span>
                                                                <span class="version sub-heading"><i class="fa fa-code-fork"></i> Default</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 text-right col-xs-12 options">
                                                            {% for f in value.formats %}
                                                                <a href="{{value.url}}?format={{f}}" class="btn btn-default">
                                                                    <span class="fa-custom-stack">
                                                                      <i class="fa fa-file-o"></i>
                                                                        <span class="fa-custom-filetype">{{f}}</span>
                                                                    </span>{{f}}
                                                                </a>
                                                            {% endfor %}
                                                            <add-download-button url='{{value.url}}' options='' formats='{{value.formats}}' prettyname="{{value.pretty_name}}"></add-download-button>
                                                            <div class="btn-group" role="group">
                                                                <div class="btn-group" role="group">
                                                                    <button type="button" class="btn btn-default dropdown-toggle"
                                                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <i class="fa fa-code-fork"></i> Branches <i class="fa fa-caret-down"></i>
                                                                    </button>
                                                                    <ul class="dropdown-menu">
                                                                        {% for branch_name, branch_url in value.branches.items %}
                                                                        <li><a href="{{branch_url}}">{{branch_name}}</a></li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}

{% block content-DRFs %}{% endblock %}
{% block footer-extra %}
<script type="application/javascript">
    $('#ao_tabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>




<script src="{% static 'restapi_app/js/jsonparsemore/json_parseMore.js' %}"></script>
<script type="application/javascript" src="{% static 'restapi_app/js/plotly/plotly.latest.min.js'%}"></script>
<script type="application/javascript" src="{% static 'data_browser/js/2D_map.js'%}"></script>
<script type="application/javascript" src="{% static 'data_browser/js/trait_plotting.js'%}"></script>




{% endblock %}

