{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %}Contact{% endblock %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/less/support/contact.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'user/css/user/user.min.css' %}"/>
{% endblock %}
{% block bodyclass %}aat_outer{% endblock %}
{% block breadcrumbs %}
<li><a href="{% url 'index' %}">Home</a></li>
<li class="active"><a href="">Contact</a></li>
{% endblock %}

{% block page_title %}Contact{% endblock %}
{% block useful_links %}
<li role="presentation" ><a href="{% url 'documentation:topic-list' %}">Documentation</a></li>
{% endblock useful_links %}

{% block content_render %}
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <br>
        <p class="lead">If you've a question about ADC, visit the <a href="{% url 'documentation:topic-list' %}">Documentation</a>
                for answers. <br>Otherwise, fill in the form below and we'll get back to you as soon as possible!</p>

            {% if email_status == "success" %}
            <div class="panel panel-default success">
                <div class="panel-body"><strong class="text-uppercase">Success <i class="fa fa-check-circle-o text-success"></i></strong>
                    <p>Your email has been sent.</p>
                </div>
            </div>
            {% endif %}
            {% if email_status == "error" %}
            <div class="panel panel-default error">
                <div class="panel-body"><strong class="text-uppercase">Error <i class="fa fa-times-circle-o text-error"></i></strong>
                    <p>Something went wrong. Please email us at <a href="mailto:asvo@aao.gov.au">asvo@aao.gov.au</a> and let us know.</p>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-offset-4 col-sm-offset-3 col-sm-6 col-md-4 col-xs-12">
                    <div class="panel panel-default ">
                    <div class="panel-body">
                    <form action="{% url 'support-contact' %}" method="post" novalidate>
                    {% csrf_token %}
                    {% render_form serializer  %}
                    <button type="submit" class="btn text-uppercase btn-primary pull-right" {% if email_status == "success" %}disabled="true"{% endif %}>Submit</button>
                </form>
                    </div></div>
                </div>
            </div>
    </div>
</div>
{% endblock %}
{% block footer-extra %}{% endblock %}
