{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %}Contact Form{% endblock %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/less/support/contact.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'user/css/user/user.min.css' %}"/>
{% endblock %}
{% block bodyclass %}{% endblock %}
{% block breadcrumbs %}
<li><a href="{% url 'index' %}">Home</a></li>
<li class="active"><a href="{% url 'support-contact' %}">Contact Form</a></li>
{% endblock %}

{% block page_title %}Contact Form {% endblock %}
{% block useful_links %}
<li role="presentation"><a href="{% url 'documentation:topic-list' %}">Documentation</a></li>
{% endblock useful_links %}

{% block content_render %}
<div class="main-content">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-5 vcenter  animated fadeIn">
                    <h1 style="line-height:64px">Contact Us.</h1>
                    <p class="lead"><i class="fa fa-send-o"></i> If you've a question about ADC, visit the <a
                            href="{% url 'documentation:topic-list' %}">Help Center</a> for answers.
                        Otherwise, fill in the form below and we'll get back to you as soon as possible!</p>
                    <h6 class="text-uppercase">Contact Form guidelines</h6>
                    <ul class="list-group">
                        <li class="list-group-item success">This form is for contacting ADC with questions, feedback and ideas! If
                            you wish to report an issue, please use the <a href="{% url 'support-bug' %}">Bug Report
                                Form</a>.
                        </li>
                    </ul>
                </div><!--
                --><div class="col-xs-12 col-sm-offset-1 col-sm-6 vcenter animated fadeInUp">
                    {% if email_status == "success" %}
                    <div class="panel panel-default success">
                        <div class="panel-body"><strong class="text-uppercase">Success <i
                                class="fa fa-check-circle-o text-success"></i></strong>
                            <div class="p">Your email has been sent.</div>
                            <div class="">Thanks for getting in touch!</div>

                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="{% url 'surveys' %}">Survey Overview <i class="fa fa-angle-right"></i></a></li>
                            <li class="list-group-item"><a href="{% url 'data-access' %}">Data Access Overview <i class="fa fa-angle-right"></i></a></li>

                        </ul>
                    </div>
                    {% endif %}
                    {% if email_status == "server_error" %}
                    <div class="panel panel-default error">
                        <div class="panel-body"><strong class="text-uppercase">Error <i
                                class="fa fa-times-circle-o text-error"></i></strong>
                            <p>Something went wrong. Please email us at <a
                                    href="mailto:adc-bugs@aao.gov">adc-bugs@aao.gov</a> and let us know.</p>
                            <p>{{message}}</p>
                            <p>{% for key, value in data.items %}<strong>{{key}}</strong> {{value}}<br>{% endfor %}</p>
                        </div>
                    </div>
                    {% elif email_status == "client_error" %}
                        <div class="panel panel-default error">
                            <div class="panel-body"><strong class="text-uppercase">Error <i
                                    class="fa fa-times-circle-o text-error"></i></strong>
                                    Please check the form below for errors.
                            </div>
                        </div>
                    {% endif %}

                    {% if display_form %}
                        <form action="{% url 'support-contact' %}" method="post" novalidate id="support-form">
                            {% csrf_token %}
                            {% render_form serializer %}
                            <div>
                                <em class="sub-heading">* required. Please note: We will not share your details with any third
                                    parties.</em><br>
                            </div>
                            <button type="submit" class="btn text-uppercase btn-primary pull-right margin-top-fifteen"
                                    {% if email_status == "success" %}disabled="true"{% endif %}>Send</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer-extra %}
<script>
    $("#support-form button").click(function(){
        $(this).html('Sending <i class="fa fa-circle-o-notch fa-spin"></i>');
    });
</script>

{% endblock %}