{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}Contact{% endblock %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/about/team.css' %}"/>
{% endblock %}

<div class="container-fluid breadcrumb-container {% block breadcrumbclass %}{% endblock %}">
    <div class="container">
        {% block breadcrumbs-outer %}
        {% block breadcrumbs %}
        <ul class="breadcrumb ">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active"><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        {% endblock %}
        {% endblock %}
    </div>
</div>

{% block content %}
<h1 class="headline">
    <span>Contact</span>
</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form action="{% url 'contact' %}" method="post" novalidate>
                {% csrf_token %}
                {% render_form serializer template_pack='rest_framework/vertical' %}
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
{% block footer-extra %}{% endblock %}
