{% load internal_extras %}

<div class="row">
    {% for trait_type_key, trait_type_value in response.data.non_catalog_traits.trait_types.items %}
        {% for trait_qualifier_key, trait_qualifier_value in trait_type_value.trait_qualifiers.items %}
            {% if trait_type_key == 'velocity_map' and trait_qualifier_key == 'ionized_gas' or trait_type_key == 'sfr_map' %}

                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{{response.build_absolute_uri}}{{trait_type_key}}{% if trait_qualifier_key %}-{{trait_qualifier_key}}{%endif%}/">{{trait_type_value.pretty_name}} {{trait_qualifier_value.pretty_name}}

                            <!--Get default branch&version unit for this product-->
                            {% for branch_key, branch_value in trait_qualifier_value.branches.items  %}
                                {% if branch_key == trait_qualifier_value.default_branch %}
                                    {% for version_key, version_value in branch_value.versions.items %}
                                        {% if version_key == branch_value.default_version %}
                                            [{{version_value.trait.unit}}]
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="" id="{{trait_type_key}}_plotly_plot">
                                <!--Dynamic plotly rendering based on Trait Type-->
                                <p><i class="fa fa-refresh fa-spin"></i> Fetching Data ...</p>
                            </div>
                            <p class="text-justify small" id="{{trait_type_key}}_trait_description"></p>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {

                        var trait_url = "{{response.build_absolute_uri}}{{trait_type_key}}{% if trait_qualifier_key %}-{{trait_qualifier_key}}{%endif%}/value/?format=json";
                        var trait_name = "{{trait_type_value.pretty_name}} {{trait_qualifier_value.pretty_name}}";
                        var map_selector = "{{trait_type_key}}_plotly_plot";
                        var options_selector = "{{trait_type_key}}_plotly_plot_options";
                        var trait_key = "{{trait_type_key}}";
                        var trait_description_url = "{{response.build_absolute_uri}}{{trait_type_key}}{% if trait_qualifier_key %}-{{trait_qualifier_key}}{%endif%}?format=json";

                        trait_plot(trait_url, trait_name, map_selector, options_selector, trait_description_url, trait_key);

                        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

                            // if the overview tab is activated, once the shown.bs.tab event
                            // is completed, force plotly to recalcular its size

                            var elementWidth = $('#' + map_selector).parent().width();
                            var update = {
                                width: elementWidth,
                                height: elementWidth
                            };
                            Plotly.relayout(map_selector, update);
                        })
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endfor %}

</div>