{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}

{% block title %}Data{% endblock %}
{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/api-root/api-root.min.css' %}"/>
{% endblock %}


{% block bodyclass %}{% endblock %}
{% block breadcrumbclass %}{% endblock %}
{% block content %}

<h1 class="headline">
    <span>Data</span>
</h1>

<div class="row">
    {% for key, value in response.data.items %}
        {% if forloop.counter|divisibleby:"3" %}
            <div class="row">
        {% endif %}
        <div class="col-sm-4">
            <a href="{{value}}" class="a-hover">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div class="circle {{key}}"></div>
                    <h3 class="text-uppercase">{{key }}</h3>
                    {% if key == "query" %}
                    <p class="lead">Query the database</p>
                    <p>Browser-based SQL query access to the AAT-node database. An add-on SQL Query Builder provides quick
                        data access.
                    </p>
                    {% elif key == "query-history" %}
                    <p class="lead">Revisit previous Queries</p>
                    <p>Re-visit, edit and download your query history.
                    </p>
                    {% elif key == "sov" %}
                    <p class="lead">Single Object Viewer</p>
                    <p>View a particular object's key data products as determined by the Survey teams.  </p>
                    {% elif key == "gama" %}
                    <p class="lead">Galaxy And Mass Assembly Survey</p>
                    <p>Browse objects in the Galaxy and Mass Assembly Survey. </p>
                    {% elif key == "sami" %}
                    <p class="lead">SAMI Survey</p>
                    <p>Browse objects in the SAMI survey. View and download available data per source. </p>
                    {% endif %}
                </div>
            </div>
            </a>
        </div>
        {% if forloop.counter|divisibleby:"3" %}
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}