{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}

{% block head-extra %}{% endblock %}

{% block bodyclass %}{% endblock %}
{% block breadcrumbclass %}{% endblock %}


{% block content-filter-form %}{% endblock %}
{% block content-header %}{% endblock %}

{% block content-main %}
<div class="well col-sm-offset-3 col-sm-6" style="margin-top: 30px">
    <div class="row-fluid">
      <div>
        {% block branding %}<h3 style="margin: 0 0 20px;">Register <i class="fa fa-pencil-square-o pull-right"></i></h3>{% endblock %}
      </div>
    </div><!-- /row fluid -->

    <div class="row-fluid">
        {% if display_edit_forms %}

            {% if post_form %}
                <div class="tab-pane" id="post-object-form">
                    {% with form=post_form %}
                    <form action="{{ request.get_full_path }}" class="form-horizontal" method="POST" enctype="multipart/form-data" novalidate>
                        <fieldset>
                            {% csrf_token %}
                            {{ post_form }}
                            <div class="form-actions">
                                <button class="btn btn-primary pull-right" title="Create New User">SUBMIT</button>
                            </div>
                        </fieldset>
                    </form>
                    {% endwith %}
                </div>
                <h4>Already have an Account?</h4>
            {% else %}
                <h4><i class="fa fa-check-circle blue" ></i> SUCCESS!</h4>
                <h5>New user created. Click the link below to sign in. </h5>
            {% endif %}
            {% optional_login request %}


        {% endif %}


    </div><!-- /.row-fluid -->
  </div><!--/.well-->






{% endblock %}