{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% load data_browser_tag %}
{% block title %}Data Browser{% endblock %}
{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'documentation/css/documentation/documentation.min.css' %}"/>
{% endblock %}

{% block page_title %}Data Browser{% endblock %}
{% block useful_links %}
<li role="presentation"><a href="{% url 'schema:schema-list' %}">Schema</a></li>
<li role="presentation"><a href="{% url 'documentation:topic-detail' slug='data-browser' %}">Documentation</a></li>
{% endblock useful_links %}

{% block content_render %}
<div class="row">
    <div class="col-xs-12">
        <h1>Discover the data hosted at AAODC.</h1><hr>
        <p class="lead">Browse the astronomical objects for a particular survey, and explore its unique data products.</p>
        <br>
    </div>
</div>
<div class="row surveys">
    {% for value in response.data.surveys %}
        <div class="col-xs-1">
            <img class="img-responsive" src="/static/restapi_app/img/documentation/{{value.survey}}.png">
        </div>
        <div class="col-xs-11">
            <h3 class="tool-header">{{value.survey | uppercase}}</h3>
            <span class="sub-heading">
                            {{value.count}}
                            objects
                            <span class="version"><i class="fa fa-map-marker"></i> {{value.current_version}} Release</span>
                        </span>
            {% with "data_browser/root/surveys/"|add:value.survey|add:".html" as template %}
            {% include template %}
            {% endwith %}
            <a href="{{value.survey}}/" class="text-uppercase"><strong>Go to {{value.survey|uppercase}} Data Browser <i class="fa fa-angle-right"></i></strong></a>
        </div>
        <div class="col-xs-12">
            <br><br>
        </div>
    {% endfor %}

</div>
<div class="row">
    <div class="col-xs-12">
        <h2>What does the Data Browser do?</h2>
        <p>The Data Browser is a portal to all survey data hosted at AAODC. Surveys are a collection of astronomical
            objects. Each astronomical object's components are organised into a
            tree-like structure, allowing you to discover derived properties and data products, along with any
            associated meta-data.</p>

        <p>For certain types of data product (e.g., line maps) you can interact with the data directly in your browser.
            You can also download data products in fits format to work with offline using your favourite astronomy
            visualization software.</p>

        <p>For more information, including articles on Data Browser examples, head over to the <a
                href="{% url 'documentation:topic-detail' slug='data-browser' %}">Data Browser Documentation</a>. To
            view more information about a particular
            survey's data products and derived properties, visit the <a href="{% url 'schema:schema-list' %}">Schema
                Browser</a>.</p>
    <hr>
    </div>
</div>
{% endblock %}


