{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% load data_browser_tag %}
{% block title %}Data Browser{% endblock %}
{% block head-extra %}

{% endblock %}

{% block page_title %}Data Browser{% endblock %}
{% block useful_links %}
<li role="presentation"><a href="{% url 'documentation:topic-detail' slug='data-browser' %}">Need Help?</a></li>
{% endblock useful_links %}

{% block sidebar %}
<h5>Page Contents</h5>
<div class="page-contents">
    <ul class="nav nav-pills nav-stacked nav-sidebar">
        <li role="presentation"><a class="scroll" href="#top-of-page">Overview</a></li>
        <li role="presentation"><a class="scroll" href="#data-access">Data Access</a></li>
        <li role="presentation"><a class="scroll" href="#features">Features</a></li>
    </ul>
</div>
<hr>
<h5>Quick Links</h5>
<div class="quick-links">
    <ul class="nav-sidebar">
        {% for value in response.data.surveys %}
        <li role="presentation"><a href="{{value.survey}}/"><span>Data Browser for {{value.survey|uppercase}}
            <i class="fa fa-angle-right"></i></span></a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block main %}
<!--<h2 id="overview">Overview</h2>-->

<!--<p class="lead">The Data Browser provides a quick-look at survey-derived data products and associated meta-data on-->
    <!--an object-by-object basis, and allows users to download individual data products in FITS file-->
    <!--format.</p>-->
<h2>Overview</h2>
<p class="lead">The Data Browser is a portal to all survey data hosted at ADC. Browse survey-derived data products on an object-by-object basis.
    To find detailed descriptions of each survey's data products and derived properties, visit the <a
            href="{% url 'schema:root-list' %}">Schema
        Browser</a>.</p>
<p class="lead">Choose a survey from the list below to get started.</p><br>
<!--<h3 id="data-access">Data Access</h3>-->
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#survey" aria-controls="survey" role="tab" data-toggle="tab">By Survey</a></li>
        <li role="presentation" class=""><a href="#astroobject" aria-controls="" role="tab" data-toggle="tab">By Astronomical Object</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" id="data-access">
      <div role="tabpanel" class="tab-pane active" id="survey">
          <br>
          <div class="row">
              {% for value in response.data.surveys %}
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <a href="{{value.survey}}/" class="box">
                      <div class="row text-center">
                          <div class="col-xs-12">
                              <img class="img-responsive center-block" style="max-width:80px"
                                   src="/static/restapi_app/img/documentation/{{value.survey}}.png"><br>
                              <div class="p">{{value.survey | uppercase}}</div>
                              {% with "data_browser/root/surveys/"|add:value.survey|add:".html" as template %}
                              <em class="tiny sub-heading">{% include template %}</em>
                              {% endwith %}
                          </div>
                      </div>
                  </a>
              </div>
              {% endfor %}
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <a href="" disabled class="box">
                      <div class="row text-center">
                          <div class="col-xs-12">
                              <img class="img-responsive center-block" style="max-width:80px"
                                   src="/static/restapi_app/img/documentation/gama.png"><br>
                              <div class="p">GAMA</div>
                              {% with "data_browser/root/surveys/"|add:'gama'|add:".html" as template %}
                              <em class="tiny sub-heading">{% include template %}</em>
                              {% endwith %}
                          </div>
                      </div>
                  </a>
              </div>
          </div>
       </div>
      <div role="tabpanel" class="tab-pane" id="astroobject">Coming soon...</div>
  </div>

</div>

<h3 id="features">Features</h3>
<p>Surveys are a collection of astronomical
    objects, each with a unique set of data products. Each astronomical object's components are organised into a
    tree-like structure, allowing you to discover derived properties and data products, along with any
    associated meta-data.</p>
<ul class="p">
    <li>Quick-look at each astronomical object's data products in a particular
        data release, including visualizations, processing information and associated properties.
    </li>
    <li>Download individual data products as multi-extension FITS
        files, with all relevant processing information contained within the FITS header.
    </li>
    <li>Define a sample of SAMI objects filtering on some
        catalogue property.
    </li>
    <li>Data products for this selection can be downloaded for offline use.</li>
</ul>
<br>
<p>For more information, including articles on Data Browser examples, head over to the <a
        href="{% url 'documentation:topic-detail' slug='data-browser' %}">Data Browser Documentation</a>.</p>







{% endblock %}
