{% extends "rest_framework/api.html" %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% load internal_extras %}
{% block title %}My Account{% endblock %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'user/css/user/user.min.css' %}"/>
{% endblock %}
{% block bodyclass %}{% endblock %}
{% block breadcrumbclass %}{% endblock %}
{% block breadcrumbs-outer %}
<ul class="breadcrumb ">
    <li class="active"><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'user-profile-detail' user %}">My Account</a></li>
</ul>
{% endblock %}


{% block content %}


<br>

    <div class="row">
        <div class="col-xs-12">
            <h1 class="headline"><span>My Account</span></h1>
        </div>
        <div class="col-xs-12">
            <div class="tabbable">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-switcher" role="tablist">
                    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab"
                                                              data-toggle="tab">Profile</a>
                    </li>
                    <li role="presentation"><a href="#update" aria-controls="update" role="tab"
                                               data-toggle="tab">Update</a></li>
                    <li role="presentation"><a href="#query" aria-controls="query" role="tab" data-toggle="tab">Query
                        History</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="well tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="profile">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="row">
                                    <div class="col-xs-4">

                                    </div>
                                    <div class="col-xs-8">
                                        <h2>{{response.data.first_name | CapsSentence}}
                                            {{response.data.last_name | CapsSentence}}</h2>
                                        <h4>{{user}}
                                            <small><i class="fa fa-circle text-success"></i></small>
                                            <small><em>{{response.data.email}}</em></small>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="update">
                        <div class="row">
                            {% if display_edit_forms %}
                            <!--UPDATE EXISTING REQUEST INSTANCE-->
                            {% if put_form or raw_data_put_form or raw_data_patch_form %}

                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="">
                                    {% if put_form %}
                                    <div class="" id="put-object-form">
                                        <form action="{{ request.get_full_path }}" data-method="PUT"
                                              enctype="multipart/form-data"
                                              class="form-horizontal" novalidate>

                                            {{ put_form }}
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h5><a href="{% url 'password_change' %}"
                                                           class=" text-uppercase pull-left">
                                                        <span>change password</span>
                                                        <i class="fa fa-lock"></i>
                                                    </a></h5>
                                                    <button class="btn btn-primary btn-sm js-tooltip pull-right"
                                                            title="Overwrite Query {{objname}}" id="button-sql-update">
                                                        UPDATE
                                                    </button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>


                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="query">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-uppercase">
                                        <strong> Query History </strong>
                                        <i class="fa fa-history pull-right" style="margin-top:3px"></i>
                                    </div>
                                    <div class="panel-body">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






          <!-- Content -->
          <div id="content">
            {% block content-header %}
              {% block content-format %}
                {% if 'GET' in allowed_methods %}
                  <form id="get-form" class="pull-right">
                    <fieldset>
                      {% if api_settings.URL_FORMAT_OVERRIDE %}
                        <div class="btn-group format-selection">
                          <a class="btn btn-primary js-tooltip" href="{{ request.get_full_path }}" rel="nofollow" title="Make a GET request on the {{ name }} resource">GET</a>

                          <button class="btn btn-primary dropdown-toggle js-tooltip" data-toggle="dropdown" title="Specify a format for the GET request">
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            {% for format in available_formats %}
                              <li>
                                <a class="js-tooltip format-option" href="{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}" rel="nofollow" title="Make a GET request on the {{ name }} resource with the format set to `{{ format }}`">{{ format }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% else %}
                        <a class="btn btn-primary js-tooltip" href="{{ request.get_full_path }}" rel="nofollow" title="Make a GET request on the {{ name }} resource">GET</a>
                      {% endif %}
                    </fieldset>
                  </form>
                {% endif %}
              {% endblock %}
              {% block content-options %}
                {% if options_form %}
                  <form class="button-form" action="{{ request.get_full_path }}" data-method="OPTIONS">
                    <button class="btn btn-primary js-tooltip" title="Make an OPTIONS request on the {{ name }} resource">OPTIONS</button>
                  </form>
                {% endif %}
              {% endblock %}
              {% block content-delete %}
                {% if delete_form %}
                  <form class="button-form" action="{{ request.get_full_path }}" data-method="DELETE">
                    <button class="btn btn-danger js-tooltip" title="Make a DELETE request on the {{ name }} resource">DELETE</button>
                  </form>
                {% endif %}
              {% endblock %}
              {% block content-filter-form %}
                {% if filter_form %}
                    <button style="float: right; margin-right: 10px" data-toggle="modal" data-target="#filtersModal" class="btn btn-default">
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                        {% trans "Filters" %}
                    </button>
                {% endif %}
              {% endblock %}
            {% endblock %}
            {% block content-main %}
              <div class="content-main">
                <div class="page-header">
                  {% block content-page-header %}
                    <h1>{{ name }}</h1>
                  {% endblock %}
                </div>
                <div style="float:left">
                  {% block description %}
                    {{ description }}
                  {% endblock %}
                </div>

                {% if paginator %}
                  <nav style="float: right">
                    {% get_pagination_html paginator %}
                  </nav>
                {% endif %}

                <!--POST NEW REQUEST INSTANCE-->


                {% block content-input %}
                {% endblock %}
                {% block content-DRF %}
                  {% block query-form %}
                      <div class="response-info" style="clear: both">
                      <div class="response-info" style="clear: both">
                        <pre class="prettyprint"><span class="meta nocode"><b>HTTP {{ response.status_code }} {{ response.status_text }}</b>{% autoescape off %}
          {% for key, val in response_headers.items %}<b>{{ key }}:</b> <span class="lit">{{ val|break_long_headers|urlize_quoted_links }}</span>
          {% endfor %}
          </span>{{ content|urlize_quoted_links }}{% endautoescape %}</div>
                      </pre>
                    </div>
                  {% endblock %}



              <div class="request-info" style="clear: both" >
                <strong>Request method</strong>
                  <pre class="prettyprint"><b>{{ request.method }}</b> asvo{{request.get_full_path }}</pre>
              </div>

              {% endblock content-DRF %}

            </div><!-- /.content main-->
          {% endblock content-main %}
          </div><!-- /.content -->
      {% endblock content %}