{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %} {% endblock %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/sample/sample.min.css' %}"/>
{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url 'index' %}">Home</a></li>
<li class="active"> Surveys</li>
{% endblock %}

{% block page_title %} Surveys {% endblock %}
{% block useful_links %}
<li role="presentation"><a href="#">useful link</a></li>
<li role="presentation"><a href="#">useful link</a></li>
{% endblock useful_links %}

{% block content_render %}

<div class="row hosted-surveys">
    <div class="col-sm-offset-1 col-sm-10 col-xs-12">
        <h2>Survey data hosted at AAODC</h2>
        <p>AAODC currently hosts {{response.data.samples|length}} surveys, each with varying types of data products and
            at different stages of data release. Visit the Survey-provided documentation at the links below to learn more.</p>
    </div>
    <div class="col-sm-offset-1 col-sm-10 col-xs-12">

        {% for sample in response.data.samples %}
        <div class="panel">
            <div class="panel-body">
                <div class="media-container">
                    <div class="img-container">
                        <img class="img-responsive {{sample}}" src="/static/data_browser/img/logo-{{sample}}-dark.png">
                    </div>
                </div>
                <div class="header-container">
                    <h3>{{sample | uppercase}}</h3>
                    <span class="sub-heading">
                        {% with "data_browser/root/samples/object_count_"|add:sample|add:".html" as template %}
                            {% include template %}
                        {% endwith %}
                        objects
                        <span class="version"><i class="fa fa-map-marker"></i> 1.0 Release</span>
                    </span>
                    {% with "data_browser/root/samples/"|add:sample|add:".html" as template %}
                        {% include template %}
                    {% endwith %}
                    <span>
                        <a href="" class="btn btn-default">Documentation</a>
                        <a href="" class="btn btn-default">Schema</a>
                        <a href="" class="btn btn-default">Data</a>
                        <a href="" class="btn btn-default">Query</a>
                    </span>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}
{% block footer-extra %}

{% endblock %}