{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %}Surveys{% endblock %}

{% block head-extra %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'data_browser/css/sample/sample.min.css' %}"/>-->
<link rel="stylesheet" type="text/css" href="{% static 'documentation/css/documentation/documentation.min.css' %}"/>
{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url 'index' %}">Home</a></li>
<li class="active"> Surveys</li>
{% endblock %}

{% block page_title %} Surveys {% endblock %}
{% block useful_links %}
<li role="presentation"><a href="{% url 'tools' %}">Tools</a></li>
{% endblock useful_links %}

{% block content-test %}

<div class="row vertical-align">
    <div class="col-xs-12">
        <h1>Survey data hosted at AAODC.</h1>
        <p class="lead">AAODC currently hosts {{response.data.samples|length}} survey datasets.</p>
    </div>
</div>
<div class="row surveys">
    {% for value in response.data.surveys %}
    <div class="col-xs-12 col-sm-6">

        <div class="media">
            <div class="media-left">
                <img class="img-responsive" src="/static/restapi_app/img/documentation/{{value.survey}}.png">
            </div>
            <div class="media-body">
                <h3 class="media-heading no-margin-bottom">{{value.survey | uppercase}}</h3>
                <span class="sub-heading">
                    {{value.count}}
                    objects
                    <span class="version"><i class="fa fa-map-marker"></i> {{value.current_version}} Release</span>
                </span>
                {% with "data_browser/root/surveys/"|add:value.survey|add:".html" as template %}
                    {% include template %}
                {% endwith %}
                <span>
                    <a href="{% url 'documentation:topic-detail' slug=value.survey %}" class="btn btn-default">Documentation</a>
                    <a href="{% url 'data_browser:survey-list' sample_pk=value.survey %}" class="btn btn-default">Data</a>
                    <a href="{% url 'schema:sample-list' sample_pk=value.survey %}" class="btn btn-default">Schema</a>
                    <a href="{% url 'query-create-list' %}" class="btn btn-default">Query</a>
                </span>
            </div>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}
{% block footer-extra %}

{% endblock %}