.branch_version {
  margin-right: 10px;
  margin-top: 1px;
  .sub-heading {
    margin-right: 10px;
    i.fa {
      margin-right: 3px;
    }
  }
}

.panel .panel-heading h4 {
  border: 0;
}

//.readmorecontent span {
//  display: none;
//}
//
//.readmorelink {
//  display: inline-block;
//}


.readmorecontent span {
    display: none;
}

.readmorelink {
    //display: block;
}