{% load internal_extras %}
<div class="table-responsive">
    <table class="table table-condensed table-bordered" id="properties-table">
         <thead>
             <tr class="active" id="properties">
                <td colspan="5" style="border-right:0">
                    <h6 class="" style="margin:0"><span class="text-uppercase">Properties</span></h6>
                </td>
            </tr>
            <tr class="active">
                <th class="p_dark col-xs-3">Name</th>
                <th class="p_dark col-xs-5">Description</th>
                <th class="p_dark col-xs-1">Units</th>
                <th class="p_dark col-xs-1">Type</th>
                <th class="p_dark col-xs-2">Link</th>
            </tr>
        </thead>
        <tbody>
        <!--Iterate over trait properties-->
        {% for trait_property_key, trait_property_value in value.trait_properties.items %}
            <tr id="{{trait_type_key}}-{% if trait_qualifier_key %}{{trait_qualifier_key}}{% endif %}:{{trait_branch_key}}({{trait_version_key}})_{{trait_property_key}}">
                <td>{{trait_property_value.pretty_name}}</td>
                <td>{{trait_property_value.description|safe}}</td>
                <td></td>
                <td><code>{{trait_property_value.type}}</code></td>
                <td><a class="" href="">read more <i class="fa fa-angle-right"></i></a></td>
            </tr>
        {% endfor %}

        <!--Iterate over sub-traits-->
        {% for sub_trait_key, sub_trait_value in value.sub_traits.items %}
             <tr class="bg-success" id="{{trait_type_key}}-{% if trait_qualifier_key %}{{trait_qualifier_key}}{% endif %}:{{trait_branch_key}}({{trait_version_key}})_{{sub_trait_key}}">
                <td colspan="1" style="border-right:0">
                    <h6 class="" style="margin:0"><span class="text-uppercase">{{sub_trait_value.pretty_name}}</span></h6>
                </td>
                <td colspan="4" align="right" style="border-left:0">
                    {% for sub_trait_qualifier_key, sub_trait_qualifier_value in sub_trait_value.trait_qualifiers.items %}
                        {% with sub_trait_qualifier_value.trait as sub_value %}
                            &nbsp;&nbsp;<span class="sub-heading small"><em>{{sub_value.description|safe}}</em></span>
                        {% endwith %}
                    {% endfor %}
                </td>
            </tr>
             <!-- sub-trait trait properties -->
            {% for sub_trait_qualifier_key, sub_trait_qualifier_value in sub_trait_value.trait_qualifiers.items %}
                {% with sub_trait_qualifier_value.trait as sub_value %}
                    {% if sub_value.description %}
                         <tr>
                             <td colspan="5" style="padding:15px;">
                                 {% if sub_value.html_documentation %}
                                     <div class="documentation_fidia">{{sub_value.html_documentation|safe}}</div>
                                {% endif %}
                             </td>
                         </tr>
                    {% endif %}
                {% endwith %}
             {% endfor %}

            <!-- sub-trait trait properties -->
            {% for sub_trait_qualifier_key, sub_trait_qualifier_value in sub_trait_value.trait_qualifiers.items %}
                {% with sub_trait_qualifier_value.trait as sub_value %}
                    {% for sub_trait_property_key, sub_trait_property_value in sub_value.trait_properties.items %}
                        <tr class="">
                            <td style="padding-left:30px;">
                                <i class="fa fa-level-up fa-rotate-90"></i>&nbsp;
                                {{sub_trait_property_value.pretty_name}}
                            </td>
                            <td>{{sub_trait_property_value.description}}</td>
                            <td></td>

                            <td><code>{{sub_trait_property_value.type}}</code></td>
                            <td><a class="" href="">read more <i class="fa fa-angle-right"></i></a></td>
                        </tr>
                    {% endfor %}
                {% endwith %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>