{% load internal_extras %}

<div class="table-responsive">
    <table class="table table-condensed table-bordered" id="properties-table">
         <thead>
            <tr class="active">
                <th class="p_dark ">Name</th>
                <th class="p_dark ">Short Name</th>
                <th class="p_dark ">Description</th>
                <th class="p_dark ">Unit</th>
                <th class="p_dark ">Type</th>
                <!--<th class="p_dark ">URL segment <a role="button" class="sub-heading" data-container="body" data-toggle="popover" data-trigger="hover click" data-placement="top" data-content="Locate a piece of data in the single object viewers by combining URL segments to make a path. e.g., sami/24433/spectral_cube-blue/detector_metadata/" data-original-title="" title=""><i class="fa fa-info-circle"></i></a></th>-->
                <th class="p_dark ">Schema</th>
            </tr>
        </thead>
        <tbody class="sub-heading">
        <!--Iterate over trait properties-->
        {% for trait_property_key, trait_property_value in value.trait_properties.items %}
            <tr id="{{trait_type_key}}-{% if trait_qualifier_key %}{{trait_qualifier_key}}{% endif %}:{{trait_branch_key}}({{trait_version_key}})_{{trait_property_key}}">
                <td>{{trait_property_value.pretty_name}}</td>
                <td>{{trait_property_value.short_name}}</td>
                <td>{{trait_property_value.description|safe}}</td>
                <td>{{trait_property_value.unit}}</td>
                <td>{{trait_property_value.type}}</td>
                <!--<td>{{trait_property_value.name}}</td>-->
                <td><a href="{{trait_property_key}}/">view <i class="fa fa-angle-right"></i></a></td>
            </tr>
        {% endfor %}

        <!--Iterate over sub-traits-->
        {% for sub_trait_key, sub_trait_value in value.sub_traits.items %}

             <!-- sub-trait trait properties -->
            {% for sub_trait_qualifier_key, sub_trait_qualifier_value in sub_trait_value.trait_qualifiers.items %}
                {% with sub_trait_qualifier_value.trait as sub_value %}
                         <tr class="bg-success">
                             <td></td>
                             <td style="vertical-align: bottom;">{{sub_value.short_name}}</td>
                             <td align="middle">
                                 <h6 class="" style="margin:0"><span class="text-uppercase">{{sub_trait_value.pretty_name}}</span></h6>
                                 {{sub_value.description|safe}}
                             </td>
                             <td style="vertical-align: bottom;" colspan="3" align="middle"><a class="" href="{{sub_value.trait_type}}/">view schema <i class="fa fa-angle-right"></i></a></td>
                         </tr>

                {% endwith %}
             {% endfor %}

            <!-- sub-trait trait properties -->
            {% for sub_trait_qualifier_key, sub_trait_qualifier_value in sub_trait_value.trait_qualifiers.items %}
                {% with sub_trait_qualifier_value.trait as sub_value %}
                    {% for sub_trait_property_key, sub_trait_property_value in sub_value.trait_properties.items %}
                        <tr class="">
                            <td style="padding-left:30px;">
                                <i class="fa fa-level-up fa-rotate-90"></i>&nbsp;
                                {{sub_trait_property_value.pretty_name}}
                            </td>
                            <td>{{sub_trait_property_value.short_name}}</td>
                            <td>{{sub_trait_property_value.description}}</td>
                            <td>{{sub_trait_property_value.units}}</td>
                            <td><span>{{sub_trait_property_value.type}}</span></td>
                            <!--<td>{{sub_trait_property_value.name}}</td>-->
                            <td><a href="{{sub_value.trait_type}}/{{sub_trait_property_key}}/"> view  <i class="fa fa-angle-right"></i></a></td>
                        </tr>
                    {% endfor %}
                {% endwith %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>