{% extends 'rest_framework/api.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load internal_extras %}
{% block title %}Team{% endblock %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'restapi_app/css/about/about.min.css' %}"/>
{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url 'index' %}">Home</a></li>
<li class="active"><a href="{% url 'under-construction' %}">Team</a></li>
{% endblock %}

{% block page_title %}Team{% endblock %}
{% block useful_links %}
<li role="presentation"><a href="{% url 'support-contact' %}">Contact Us</a></li>
{% endblock useful_links %}


{% block sidebar %}
<h5>Page Contents</h5>
<div class="page-contents">
    <ul class="nav nav-pills nav-stacked  nav-sidebar">
        <li role="presentation"><a class="scroll" href="#top-of-page"> Overview</a></li>
        <li role="presentation"><a class="scroll" href="#funding">Funding</a></li>
        <li role="presentation"><a class="scroll" href="#people">People</a></li>
    </ul>
</div>
<h5>Location</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3315.6156037094906!2d151.14305211520838!3d-33.79642338067633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b08fe7877ced22f%3A0x3d98d19820feb711!2sAustralian+Astronomical+Observatory!5e0!3m2!1sen!2sau!4v1461113727378"
                width="100%" class="google-maps" frameborder="0" style="border:0"
                allowfullscreen></iframe>
{% endblock %}

{% block main %}
<h2>
            <span>Overview</span>
        </h2>
        <p>AAO Data Central (ADC) forms the Anglo-Australian Telescope (AAT) Node of the All-Sky Virtual Observatory
            (ASVO). ADC
            is developing an archive
            infrastructure and interface that is extensible and scalable, designed to meet the current and future
            needs
            of the Australian astronomical community. This will be demonstrated by the deployment of two exemplar
            datasets (SAMI and GAMA survey data) that span the range of capabilities to be provided. The
            extensibility
            requirement ensures that, at the conclusion of the Project, the AAO is capable of ingestion and
            deployment
            of all AAT surveys of major national significance through the AAT Node. The node includes the
            requirement to
            be interoperable with the other ASVO nodes and compliant with IVOA protocols.</p>

        <h3 id="funding">
            <span>Funding</span>
        </h3>
        <p>
            The AAT Node of the ASVO is the subject of a funding agreement between the Commonwealth Department of
            Industry, Innovation and Science (DoIIS) and Astronomy Australia Limited (AAL). AAL has coordinated with the
            Australian Astronomical Observatory (AAO), as the owners and operators of the AAT, to develop this ASVO
            Node. This is a 2 year project with completion expected by June 2017. </p>

        <h3 id="people">
            <span>People</span>
        </h3>

        <div class="row">

            <div class="col-sm-4 text-center">
                <img src="{% static 'restapi_app/img/about/team/ahopkins.jpg' %}"
                     class="img-responsive img-circle center-block team-image greyscale"
                     alt="..."><br>
                <div class="panel panel-default ">
                    <div class="panel-heading panel-background-team">
                        <span class="panel-title">Professor Andrew Hopkins </span>
                        <em>Project Director</em>
                    </div>
                    <div class="panel-body">
                        <span>Andrew successfully won funding for the project from AAL. He determines the project
                            deliverables
                            and monitors the milestones.</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <img src="{% static 'restapi_app/img/about/team/ksealey.jpeg' %}"
                     class="img-responsive img-circle center-block team-image greyscale "
                     alt="..."><br>
                <div class="panel panel-default ">
                    <div class="panel-heading panel-background-team">
                        <span class="panel-title">Dr Katrina Sealey </span><br>
                        <em>Head of Data Central</em>
                    </div>
                    <div class="panel-body">
                        <span>Katrina manages the ADC project. She handles the AAL progress reports, manages the budget, runs the sprints and meetings,
                            and ensures the team meets the milestones!</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <img src="{% static 'restapi_app/img/about/team/simonotoole.jpeg' %}"
                     class="img-responsive img-circle center-block team-image greyscale"
                     alt="..."><br>
                <div class="panel panel-default ">
                    <div class="panel-heading panel-background-team">
                        <span class="panel-title">Dr Simon O'Toole </span><br>
                        <em>Project Scientist</em>
                    </div>
                    <div class="panel-body">
                        <span>Simon coordinates the project technical design, from the Data Model to the User
                            Authentication
                            layer. He manages the server and the data, and solves the tricky technical issues that the
                            node
                            faces!
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <img src="{% static 'restapi_app/img/about/team/lloyd.jpeg' %}"
                     class="img-responsive img-circle center-block team-image greyscale"
                     alt="..."><br>
                <div class="panel panel-default ">
                    <div class="panel-heading panel-background-team">
                        <span class="panel-title">Mr Lloyd Harischandra</span><br>
                        <em>Database Software Engineer</em>
                    </div>
                    <div class="panel-body">
                        <span>Lloyd designs the backend database architecture determining the solutions for ingesting and
                            querying data. He configures and manages the database cluster (we call it the data lake!)
                            and
                            does benchmarking on the node configuration against current popular database technologies as
                            required. He also writes backend software code to ingest and query data in and out of the
                            data
                            lake.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <img src="{% static 'restapi_app/img/about/team/andy.jpeg' %}"
                     class="img-responsive img-circle center-block team-image greyscale "
                     alt="..."><br>
                <div class="panel panel-default ">
                    <div class="panel-heading panel-background-team">
                        <span class="panel-title">Dr Andy Green </span><br>
                        <em>Astrophysicist/Software Engineer</em>
                    </div>
                    <div class="panel-body">
                        <span>Andy connects the project to the astronomers and their research needs. He develops the data
                            access layer that provides the underlying data to the API
                            in a scientifically meaningful way.
                            Andy also provides advice and support as necessary in the development of the data storage
                            and
                            user interface layers.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <img src="{% static 'restapi_app/img/about/team/lmannering.jpg' %}"
                     class="img-responsive img-circle center-block team-image greyscale"
                     alt="..."><br>
                <div class="panel panel-default ">
                    <div class="panel-heading panel-background-team">
                        <span class="panel-title">Dr Liz Mannering</span><br>
                        <em>Web Developer</em>
                    </div>
                    <div class="panel-body">
                        <span>Liz deals with the web front-end, from designing and developing the user interface
                            to building the RESTful API that communicates with the underlying data access layer. She is
                            developing new web tools to accelerate the pace at which scientists can make key discoveries
                            with
                            their data.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <img src="{% static 'restapi_app/img/about/team/minh.jpeg' %}"
                     class="img-responsive img-circle center-block team-image greyscale"
                     alt="..."><br>
                <div class="panel panel-default ">
                    <div class="panel-heading panel-background-team">
                        <span class="panel-title">Mr Minh Vuong </span><br>
                        <em>Software Engineer</em>
                    </div>
                    <div class="panel-body">
                        <span>Minh works on IVOA services development and integration with Apache Spark (ADQL query on
                            Spark
                            SQL). </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <!--<h3>Contact Us</h3>-->
            </div>
        </div>
{% endblock %}
